.THIS {
}
.THIS .traffic-light-red-bar{
    background-color: #F44336;
    border-style: solid;
    border-color: black;
    color:white;
    margin-top: -10px;
    width: 5vw;
    height: 3vw;
}

.THIS .traffic-light-yellow-bar{
    background-color: #EEFF41;
    border-style: solid;
    border-color: black;
    margin-top: -10px;
    width: 5vw;
    height: 3vw;
}

.THIS .traffic-light-green-bar{
    background-color: #00BFA5;
    border-color: black;
    border-style: solid;
    color:white;
    margin-top: -10px;
    width: 5vw;
    height: 3vw;
}
.THIS .traffic-light-total-bar{
    background-color: #CCCCCC;
    border-color: #CCCCCC;
    border-style: solid;
    margin-top: -10px;
    font-size: 2rem;
    width: 5vw;
    height: 3vw;
}
.THIS .height--1-of-3 {
	height: 33.3333333333%;
  text-align:center;
}
.THIS .height--2-of-3 {
	height: 66.6666666667%
}