.THIS {	

}

.THIS .green-text{
    color: white;    
    font-weight: bold;
}

.THIS .yellow-text{    
    background-color: #FFD600;
    font-weight: bold;

}

.THIS .red-text{
    color: white;
    font-weight: bold;
}

.THIS .traffic-light-yellow-bar{
    background-color: #EEFF41;
    border-style: solid;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.THIS .traffic-light-green-bar{
    background-color: #00BFA5;
    border-color: black;
    border-style: solid;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}


.THIS .traffic-light-red-bar{
    background-color: #F44336;
    border-style: solid;
    border-color: black;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;

}


.THIS .grid-style{
    background-color: rgba(255,255,255,0.6);
    border-radius: 12px;
    margin: 10px;
}