.THIS .blueBG{
    /*background-color: #deeaf6;*/
    background-color: white;
}

.THIS .greyBG{
    /*background-color: lightgrey;*/
    background-color: white;
}
.THIS .slds-accordion__section {
    margin: 0;
    /*padding: 20px;*/
    /*padding:0;*/
}

.THIS .invisible{
    display: none;
}

.THIS .visible{
    display: block;
}