.THIS {
    font-family: "GT America" !important;
    font-size: 100% !important;
    color: rgb(92, 108, 116) !important;   
}
.THIS *{
    font-family: "GT America" !important;
    font-size: 100% !important;
    color: rgb(92, 108, 116); /*rgb(92, 108, 116) !important;*/
}
.THIS .ql-indent-1{
    text-indent: 1.5em;
}
.THIS img{
	max-width: calc(100% - 2em);
}
.THIS li {
    word-break: break-all !important;
    list-style-type: disc;
    margin-left: 1.5em;
}
.THIS li li {
    list-style-type: circle;
}
.THIS li li li{
    list-style-type: square;
}