.THIS #table-opportunities {
    border-spacing: 0 5px;
}

.THIS #table-opportunities:first-child tbody td {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.THIS #table-opportunities td {
    width: 1%;
    white-space: nowrap;
    padding: 10px;
}

.THIS #table-opportunities .table-cell-wrap-large {
    width: 100%;
    white-space: pre-line;
}

.THIS #table-opportunities .table-cell-wrap {
    width: 1%;
    white-space: pre-line;
}

.THIS #table-opportunities thead th,
.THIS .badge-summary {
	background-color: #16325c;
	color: white;
}

.THIS #table-opportunities thead svg {
	fill: white;
}

.THIS #table-opportunities thead .icon-light svg {
    fill: rgb(180, 180, 180);
}

.THIS .pointer {
    cursor: pointer;
}

.THIS .summary-row {
    font-weight: bolder;
}

.THIS .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_on {
    display: none;
}

.THIS .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_off {
    display: none;
}
            
.THIS .slds-table_striped tbody tr:nth-of-type(odd), 
.THIS .slds-table_striped tbody tr:nth-of-type(odd)>td, 
.THIS .slds-table_striped tbody tr:nth-of-type(odd)>th {
    background-color: white;
}

.THIS .slds-table_striped tbody tr:nth-of-type(even),
.THIS .slds-table_striped tbody tr:nth-of-type(even)>td, 
.THIS .slds-table_striped tbody tr:nth-of-type(even)>th {
    background-color: rgb(250,250,250);
}
               
.THIS .filter-container {
	display: flex;
    width: 100%;
    margin-top: 10px;
}
    
.THIS .filter-container-icon {
	padding-right: 5px;
    padding-top: 5px;
}

.THIS .filter-container-icon svg {
	fill: rgb(150,150,150);
}

.THIS .filter-container-image {
    width: 37px; /* medium=37px | large=53px*/
    height: auto;
    padding-right: 5px;
    padding-top: 5px;
}

.THIS .filter-container-image img {
	border-radius: 5px;
}

.THIS .filter-container-options {
	flex-grow: 1;
}

.THIS .container {
    padding: 0 10px 0;
}
            
.THIS .datatable-tasks th {
    text-transform: uppercase;
}

.THIS label.slds-checkbox_toggle {
    flex-direction: row-reverse;
    place-content: flex-end;
}

.THIS label.slds-checkbox_toggle .slds-form-element__label {
    padding-left: 10px;
}

.THIS label.slds-checkbox_toggle .slds-checkbox_faux_container {
    padding: 0;
}

.THIS .custom-card {
    background-color: rgb(252,252,252);
    margin-top: 10px;
    height: calc(100% - 10px);
}

.THIS .custom-card article {
    background-color: transparent;
}

.THIS .custom-card .slds-card__header {
    display: none;
}

.THIS .custom-card .slds-card__body {
    margin-top: 0;
    margin-bottom: 0;
}

.THIS .files-list {
    display: flex;
    flex-wrap: wrap;
}

.THIS .files-list .forceContentFileCard {
    margin: 10px;
}

.THIS hr {
    margin: 15px 0;
}

.THIS .custom-button {
	border-color: var(--sds-c-button-outline-brand-color-border, var(--lwc-brandAccessible,rgb(0, 112, 210)));
}
                        
.THIS .custom-button-icon-only svg {
	margin-right: 0;                            
}
                     
.THIS .slds-card__body {
	margin-TOP: 0;
	margin-bottom: 0;
}
                        
.THIS article .hide-content,
.THIS .export-content {
	display: none;
}
                        
.THIS .number-highlight {
    font-weight: bolder;
	font-size: 1.3em;
}
                        
.THIS .text-highlight {
    font-weight: bolder;
	text-transform: uppercase;
}   
                   
.THIS .opportunity-title {
	font-weight: bold;                            
}
                        
.THIS .scrollerSize {
    width: 100%;
    border-radius: 1px;
	-webkit-overflow-scrolling: touch;
}
                        
.THIS .icon-rotate-45 svg {
    transform: rotate(-45deg);
                            
}
                        
.THIS .badge-rating {
	color: white;
	width: 30px;
    height: 30px;
    display: inline-grid;
}
                        
.THIS .badge-rating-1 {
	background-color: rgba(47, 85, 151, 0.95);
}
                        
.THIS .badge-rating-2 {
	background-color: rgba(68, 114, 196, 0.95);
}
                        
.THIS .badge-rating-3 {
	background-color: rgba(143, 170, 220, 0.95);
}
                        
.THIS .badge-rating- {
	display: none;
}