@font-face {
  font-family: 'gt_americalight';
  src: url("../fonts/gt-america/gt_america_light-webfont.eot?orgId=00Di0000000fp0q");
  src: url("../fonts/gt-america/gt_america_light-webfont.eot?orgId=00Di0000000fp0q#iefix") format("embedded-opentype"), url("../fonts/gt-america/gt_america_light-webfont.woff2?orgId=00Di0000000fp0q") format("woff2"), url("../fonts/gt-america/gt_america_light-webfont.woff?orgId=00Di0000000fp0q") format("woff"), url("../fonts/gt-america/gt_america_light-webfont.ttf?orgId=00Di0000000fp0q") format("truetype"), url("../fonts/gt-america/gt_america_light-webfont.svg?orgId=00Di0000000fp0q#gt_americalight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'gt_americabold';
  src: url("../fonts/gt-america/gt_america_bold-webfont.eot?orgId=00Di0000000fp0q");
  src: url("../fonts/gt-america/gt_america_bold-webfont.eot?orgId=00Di0000000fp0q#iefix") format("embedded-opentype"), url("../fonts/gt-america/gt_america_bold-webfont.woff2?orgId=00Di0000000fp0q") format("woff2"), url("../fonts/gt-america/gt_america_bold-webfont.woff?orgId=00Di0000000fp0q") format("woff"), url("../fonts/gt-america/gt_america_bold-webfont.ttf?orgId=00Di0000000fp0q") format("truetype"), url("../fonts/gt-america/gt_america_bold-webfont.svg?orgId=00Di0000000fp0q#gt_americabold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'ec';
  src: url("../fonts/ec.eot?orgId=00Di0000000fp0q&l297tr");
  src: url("../fonts/ec.eot?orgId=00Di0000000fp0q&l297tr#iefix") format("embedded-opentype"), url("../fonts/ec.ttf?orgId=00Di0000000fp0q&l297tr") format("truetype"), url("../fonts/ec.woff?orgId=00Di0000000fp0q&l297tr") format("woff"), url("../fonts/ec.svg?orgId=00Di0000000fp0q&l297tr#ec") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=ec-icon], [class*=ec-icon] {
  font-family: 'ec' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ec-iconCalendar2:before {
  content: "\e900";
  color: #fff;
}

.ec-iconCalendar1:before {
  content: "\e901";
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fix:after {
  content: "";
  display: block;
  clear: both;
}

.ec-row-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #686868;
}

header {
  width: 100%;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
}

.ec-container {
  max-width: 990px;
  padding: 0 10px;
  margin: 0 auto;
}

.ec-title {
  font-size: 18px;
  line-height: 28px;
}

.ec-title-logo {
  width: 138px;
  vertical-align: middle;
}

.ec-title-text {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  padding-left: 15px;
  border-left: 1px solid #c0c0c0;
  margin-left: 15px;
}

.ec-wrapper-nav.ec-is-fixed nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.ec-wrapper-nav {
  position: absolute;
  top: 59px;
  width: 100%;
  z-index: 2;
}

nav {
  background-color: #100393;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

nav .ec-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ec-nav-link-ico {
  width: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
}

.ec-nav-link {
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 51px;
  height: 50px;
  display: block;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  transition: all 200ms;
}

.ec-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.ec-nav-link.ec-btn-calendar {
  font-size: 20px;
}

.ec-nav-link.ec-is-active {
  background-color: #009898;
}

.ec-btn-calendar-mobile {
  display: none;
}

section {
  min-height: 100%;
  padding-top: 50px;
}

.ec-observing-nav.is-active .ec-box-animate-1 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-2 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-3 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-4 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-5 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-6 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-7 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-8 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-9 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-10 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-11 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-observing-nav.is-active .ec-box-animate-12 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.ec-box-animate-1 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 0.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 0.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 0.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 0.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 0.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-2 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 0.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 0.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 0.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 0.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 0.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-3 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 1.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 1.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 1.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 1.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 1.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-4 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 1.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 1.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 1.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 1.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 1.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-5 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-6 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 2.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 2.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 2.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 2.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 2.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-7 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 2.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 2.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 2.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 2.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 2.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-8 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 3.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 3.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 3.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 3.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 3.2s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-9 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 3.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 3.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 3.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 3.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 3.6s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-10 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-11 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 4.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 4.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 4.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 4.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 4.4s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-box-animate-12 {
  opacity: 0;
  -webkit-transform: translate(0, 15px);
  -moz-transform: translate(0, 15px);
  -ms-transform: translate(0, 15px);
  transform: translate(0, 15px);
  -webkit-transition: all 400ms 4.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -moz-transition: all 400ms 4.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -ms-transition: all 400ms 4.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  -o-transition: all 400ms 4.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
  transition: all 400ms 4.8s cubic-bezier(0.38, -0.37, 0.6, 1.61);
}

.ec-cover {
  color: #ffffff;
  min-height: 100%;
  padding-top: 109px;
  position: relative;
  background: url("../images/fundotopo.jpg") no-repeat center top;
  background-size: cover;
}

.ec-cover .ec-container {
  position: absolute;
  top: calc(50% - 49px);
  right: 0;
  left: 0;
  z-index: 1;
}

.ec-cover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, #fff, transparent);
}

.ec-cover-year, .ec-cover-title {
  font-family: 'gt_americabold';
}

.ec-cover-year {
  font-size: 55px;
}

.ec-cover-title {
  font-size: 49px;
}

.ec-cover-subtitle {
  color: #ffffff;
  font-family: 'gt_americalight';
  font-size: 33px;
  padding-top: 4px;
}

.ec-arrow {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 60px;
  bottom: 20px;
  transform: rotate(45deg);
}

.ec-arrow-1, .ec-arrow-2, .ec-arrow-3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #100393;
  border-right: 3px solid #100393;
  -webkit-animation: arrows 1.1s infinite alternate;
  -moz-animation: arrows 1.1s infinite alternate;
  -o-animation: arrows 1.1s infinite alternate;
  animation: arrows 1.1s infinite alternate;
}

.ec-arrow-2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transform: translate(-5px, -5px);
  -moz-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

.ec-arrow-3 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-transform: translate(-10px, -10px);
  -moz-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

@-webkit-keyframes arrows {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@-moz-keyframes arrows {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@-ms-keyframes arrows {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes arrows {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.ec-title-eventes {
  text-align: center;
  position: relative;
  padding: 20px 0;
  margin-bottom: 35px;
}

.ec-title-eventes:before {
  content: "";
  width: 100%;
  border-bottom: 2px solid #009898;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.ec-title-eventes-text {
  color: #100393;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 48px;
  background-color: #fff;
}

.ec-box-events {
  width: 220px;
  font-size: 12px;
  border: 1px solid #c0c0c0;
  margin: 0 11px 25px;
}

.ec-box-events-image img {
  width: 100%;
  display: block;
}

.ec-box-events-container {
  padding: 15px 15px 15px;
}

.ec-box-events-title {
  font-size: 16px;
  color: #100393;
  padding: 20px 0;
}

.ec-box-events-date {
  font-weight: bold;
}

.ec-box-events-company {
  padding-bottom: 6px;
}

.ec-box-events-type {
  font-weight: bold;
}

.ec-box-events-local {
  padding-bottom: 20px;
}

.ec-box-events-type {
  font-style: italic;
}

@media (max-width: 800px) {
  .ec-cover {
    padding-top: 40px;
  }
  
  .ec-wrapper-nav {
    position: absolute;
    top: -100%;
    z-index: 2;
  }
  
  .ec-wrapper-nav.ec-is-fixed nav {
    width: 60px;
    height: 60px;
    position: fixed;
    top: initial;
    right: 15px;
    bottom: 15px;
    left: initial;
    background-color: transparent;
    box-shadow: 0 0 0;
    z-index: 5;
  }
  
  nav {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: transparent;
    z-index: 5;
  }
  
  nav .ec-container {
    width: 230px;
    padding: 0;
    position: absolute;
    right: -8px;
    bottom: 14px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .ec-nav-link-ico {
    width: 20px;
  }
  
  .ec-nav-link {
    width: 74px;
    color: #100393;
    font-size: 14px;
  }
  
  .ec-nav-link.ec-is-active {
    background-color: #f1f1f1;
  }
  
  .ec-btn-calendar {
    display: none;
  }
  
  .ec-nav-link.ec-btn-calendar-mobile {
    width: 60px;
    height: 60px;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 60px;
    display: block;
    border-radius: 50%;
    background-color: #009898;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  .ec-nav-link.ec-btn-calendar-mobile:hover {
    background-color: #009898;
  }
  
  nav.ec-nav-mobile-active .ec-container {
    bottom: 35px;
    opacity: 1;
    visibility: visible;
  }
  
  section {
    padding-top: 0;
  }
  
  .ec-arrow {
    right: 0;
    bottom: 12px;
    left: 0;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .ec-observing-nav {
    padding: 10px 0;
  }
  
  .ec-title {
    text-align: center;
  }
  
  .ec-title-text {
    display: block;
    padding: 0;
    border-left: none;
    margin: 0;
  }
  
  .ec-cover {
    background-position: center left;
  }
  
  .ec-cover .ec-container {
    text-align: center;
    line-height: 1.3;
    padding: 0 5px;
  }
  
  .ec-cover-year, .ec-cover-title {
    line-height: 1.3;
  }
  
  .ec-cover-year {
    font-size: 45px;
  }
  
  .ec-cover-title {
    font-size: 35px;
  }
  
  .ec-cover-subtitle {
    font-size: 25px;
  }
}