<apex:component controller="CFCGlobalSearchComponentController" >
    
    <apex:attribute name="ComponentLabel" description="Label of Component" type="String" required="true"/>
    <link href="{!URLFOR($Resource.AutoCompleteWithModal, 'JQueryUI/css/ui-lightness/jquery-ui-1.8.17.custom.css')}" rel='stylesheet' type='text/css' media="only screen and (max-device-width: 640px)"/>
    <link href="{!URLFOR($Resource.AutoCompleteWithModal, 'JQueryModal/css/basic.css')}" media="only screen and (max-device-width: 640px)"/>
    <script src="{!URLFOR($Resource.AutoCompleteWithModal, 'JQueryUI/js/jquery-ui-1.8.17.custom.min.js')}" media="only screen and (max-device-width: 640px)"></script>
    
   
                    
    <style type="text/css"> 

        .ui-autocomplete-loading { background: red url('{!URLFOR($Resource.AutoCompleteWithModal, 'AjaxLoad.gif')}') right center no-repeat; }

    .autocompleteResults:hover{
        	border:none;
        	background-color:#0099FF;
        }
        
        .ui-corner-all{
        	border-radius:0px;
            margin: 0 auto;
        }
        
         .ui-state-hover, ui-widget-content .ui-state-hover, .ui-widget-header, .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, 
        .ui-widget-header .ui-state-focus{
        	background:#0099FF !important;
        	color:inherit;
        }
        
        .ui-active-menuitem{
            background:#0099FF !important;
        	color:inherit;
            
        }
        
        .ui-menu .ui-menu-item {
        	border-bottom:solid 1px #EFEDEE;
        }
    	

    
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #cccccc;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #cccccc;
        opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #cccccc;
        opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #cccccc;
        }
        :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color:    #cccccc;
        }
           
    
    
    
    
    @media(max-width:767px){
            .logoEmbraer{
                padding-top: 77px; 
            }
            
            .searchBoxMobile{
                width: 200px;
                height: 30px;
                left:48px;
                top: 10px;
                text-align: center;
                position: absolute;
                margin-left: 0px;
                padding-right: 0px;
                display:inline;
                padding-left: 0px;
            }
            
            .closeMenu{
                transform: scale(0.4); 
            }
            
        .clearSearch{
                transform: scale(0.5);
                margin-top: -44px;
                float:right;
            }
            
            .searchField{
             
                font-size: 16px;
                color: #cccccc;
                background-color: transparent !important;
                border: none;
                height:30px;
                outline: none;
                text-transform: uppercase;
            }
            
            .requestForProposal{
                font-size:9px;
                color:#a2a6a9;
                display:block;
                width: 140px;
                padding-top: 5px;
            }      
                
                
  }
   
    
    
  </style>
    
    
    {!ComponentLabel}     
    <div class="form-horizontal hidden-md hidden-sm hidden-lg">
            <div class="searchBoxMobile" style="{!IF((htmlError != ''),'border-bottom: 1px solid red','')}">  
				<apex:inputText id="theTextInputMobile" styleClass="searchField searchValue" value="{!ProductName}" html-placeholder="SEARCH A PRODUCT" style="padding-left:2%;width:100%;" />
                <apex:inputHidden id="theProductChoosenMobile" value="{!ProductChoosen}" />
                    <div class="hidden-xs">
                       <apex:commandButton id="btnSearchProductMobile" image="{!URLFOR($Resource.Bootstrap336, 'img/ico-search.png')}" action="{!SearchProduct}" style="position: absolute;margin-left: -40px;margin-top: -6px;transform: scale(0.4);"/>
					</div>
			</div>            
        <div>
            <div class="col-md-1"></div>
            <div class="col-md-7" style="padding-right: 0px;display:inline;padding-left: 0px;">
                <apex:messages styleClass="divError" />
			</div>    
        </div>
	</div>

    <script type="text/javascript">

        $(document).ready(function(){
		
        $('.clearSearch').on('click touchstart', function(e){
                $('.searchValue').val('');
            });
            
            jQuery.curCSS = function(element, prop, val) {
            return jQuery(element).css(prop, val);
        };
    
        var PLACEHOLDER = 'SEARCH A PRODUCT'; 
        var movieObjects;
        var queryTerm;

    	$('[id$=theTextInputMobile]').autocomplete({
            minLength: 2,
            source: function(request, response) {
                queryTerm = request.term;
                
                CFCGlobalSearchComponentController.autoCompleteList(request.term, function(result, event){
                    if (!result.length) {
                        $('.searchField').removeClass("ui-autocomplete-loading");
                    }
                    if(event.type == 'exception') {
                        alert(event.message);
                    } else {
                        movieObjects = result;
                        response(movieObjects);
                    }
                });
            },
             focus: function( event, ui ) {
              $('[id$=theTextInputMobile]').val( htmlDecode(ui.item.Name) );
              return false;
            },
            select: function( event, ui ) {
              $('[id$=theTextInputMobile]').val( htmlDecode(ui.item.Name)  );
              $('[id$=theProductChoosenMobile]').val( ui.item.Id );
              return false;
            },
            open: function() {
                var position = $(".ui-autocomplete").position(),
                    left = position.left, top = position.top;
                
                $(".ui-menu").css({left: (left + 15) + "px",top: (top + 54) + "px", width: (93) + "%", background: "transparent", border: "none"});
                
            }
        })
        
        
        .data( "autocomplete" )
        ._renderItem = function( ul, item ) {
            var entry = '<a class="autocompleteResultsMobile">' + item.Name;
            //$('ul').css('top',$('.searchForm').position().top + $('.searchBoxMobile').position().top + parseInt($('.searchBoxMobile').css('height'), 100)).css('left',$('.searchForm').position().left + $('.searchBoxMobile').position().left + parseInt($('.searchForm').css('margin-left'),1));
            $('ul.ui-autocomplete').css('z-index','9999').css('position','absolute').css('width','20px');
            entry = entry + '</a>';
            entry = entry.replace(queryTerm, '<b>' + queryTerm + '</b>');
            $('.searchField').removeClass("ui-autocomplete-loading");
            return $( '<li style="border-bottom:1px solid #EFEDEE;height:auto;padding-top:5px; margin-top: 0px"></li>' )
                .data( 'item.autocomplete', item )
                .append( entry )
                .appendTo( ul );
        };

    
        // Add or remove placeholder values
    	//$('[id$=theTextInput]').attr("placeholder", PLACEHOLDER);
        $('[id$=theTextInputMobile]').on("focus",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === PLACEHOLDER ){
                $tgt.val('');
                $tgt.removeClass('placeHolder');
            }
        });
        $('[id$=theTextInputMobile]').on( "blur",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === '' ){
                $tgt.val(PLACEHOLDER);
                $tgt.addClass('placeHolder');
            }
        });
        function htmlDecode(input){
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        };
        function findBootstrapEnvironment() {
            var envs = ['xs', 'sm', 'md', 'lg'];
        
            var $el = $('<div>');
            $el.appendTo($('body'));
        
            for (var i = envs.length - 1; i >= 0; i--) {
                var env = envs[i];
        
                $el.addClass('hidden-'+env);
                if ($el.is(':hidden')) {
                    $el.remove();
                    return env;
                }
            }
        }

            function searchKeyPress(e)
        {
            // look for window.event in case event isn't passed in
            e = e || window.event;
            if (e.keyCode == 13)
            {
                document.getElementById('btnSearchProductMobile').click();
                return false;
            }
            return true;
        };
        
    })
    </script>

</apex:component>