<apex:component >
    <style>
        /*.footerMenu{background-color: #e4e4df;padding-top: 30px;padding-bottom: 20px;text-align: center;}
        .footer{background-color: #e4e4df;}
        .divLimiterFooter{border-right: 1px solid #c4c4c0;height: 40px;}*/
        
        .selectedFooter{border-bottom: 4px solid #FBB43C;padding-bottom: 0px;}
        
        .footerMenu{background-color: #e4e4df;padding-top: 20px;padding-bottom: 20px;}
        .footerMenu a{color: #808080;font-weight: 600;}
        .divLimiterFooter{border-right: 1px solid #c4c4c0;border-left: 1px solid #c4c4c0;}
        .footer{background-color: #595959;}
    </style>
    
    <!--<div class="footerMenu hidden-xs">
        <div class="container">
            <nav>
                <ul class="nav nav-justified">
                    <li style="vertical-align: middle;" class=""><a href="/apex/CFCSearchResult?productCategory=Flight" style="border-right: 1px solid #c4c4c0;">Flight Operations</a></li>
                    <li style="vertical-align: middle;" class=""><a href="/apex/CFCSearchResult?productCategory=Maintenance" style="">Maintenance &#38; Engineering</a></li>
                    <li style="vertical-align: middle;" class=""><a href="/apex/CFCSearchResult?productCategory=Training" style="border-right: 1px solid #c4c4c0;border-left: 1px solid #c4c4c0;">Training</a></li>
                    <li style="vertical-align: middle;" class=""><a href="/apex/CFCSearchResult?productCategory=Materials" style="">Materials &#38; Logistics</a></li>
                    <li style="vertical-align: middle;" class=""><a href="/apex/CFCSearchResult?productCategory=Lessors" style="border-right: 1px solid #c4c4c0;border-left: 1px solid #c4c4c0;">Lessors</a></li>
                    <li style="vertical-align: middle;" class=""><a href="/apex/CFCSearchResult?productCategory=Aircraft" style="border-right: 1px solid #c4c4c0;">Aircraft Modification</a></li>
                    <li style="vertical-align: middle;" class=""><a href="/apex/CFCSearchResult?productCategory=esolutions">eSolutions</a></li>
                </ul>
            </nav>
        </div>
    </div> -->

    <div style="height: 1px;background: #595959;margin-top: 0px; margin-bottom: 0px;"><hr style="display:none" /></div>
    
    <div class="footer">
        <div class="container" style="/*border-top: 1px solid #999;*/padding-top: 20px;">
            <div class="row" style="padding-bottom: 20px;">
                <footer class="hidden-xs">
                    <div class="col-md-6 col-sm-6">
                        <p style="margin-top: 13px; color:white;">&copy; 
                            <apex:outputText value="{0, date, yyyy}">
                                <apex:param value="{!today()}" />
                            </apex:outputText>
                            Embraer S.A.</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="pull-right">
                            <a href="http://www.embraercommercialaviation.com" >
                                <img style="height:46px; width:150px;" src="{!URLFOR($Resource.CatalogStock, 'img/embLogoWhite.png')}" /></a> 
                        </div>
                    </div>                                       
                </footer>
                <footer class="hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-12" style="text-align:center;">
                        <a href="http://www.embraercommercialaviation.com" >
                                <img style="height:46px; width:150px;" src="{!URLFOR($Resource.CatalogStock, 'img/embLogoWhite.png')}" /></a> 
                        <p style="margin-top: 15px; color:white;">&copy; 2020 Embraer S.A.</p>
                    </div>
                </footer>
            </div>
        </div>            
    </div>
    
</apex:component>