<apex:component ><div id="search" class="CoveoSearchInterface" data-enable-history="true">
  <div class="coveo-hide-after-query" style="text-align:center;font-weight:bolder;font-size:18px;margin-top:100px;">Type to search</div>
  <div class="CoveoAnalytics"></div>
  <div class="coveo-tab-section">
  </div>
  <div class="coveo-search-section">
    <div class="CoveoCommunityStateManager"></div>
  </div>
  <div class="coveo-main-section">
    <div class="coveo-facet-column">
    </div>
    <div class="coveo-results-column">
      <div class="CoveoTriggers"></div>
      <div class="CoveoBreadcrumb"></div>
      <div class="CoveoDidYouMean"></div>
      <div class="coveo-results-header">
        <div class="coveo-summary-section">
          <span class="CoveoQuerySummary"><div class="coveo-show-if-no-results"></div></span>
          <span class="CoveoQueryDuration"></span>
        </div>
        <div class="coveo-result-layout-section">
          <span class="CoveoResultLayout"></span>
        </div>
        <div class="coveo-sort-section">
        </div>
      </div>
      <div class="CoveoHiddenQuery"></div>
      <div class="CoveoErrorReport" data-pop-up="false"></div>
      <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true">
        <script type="text/html" data-field-objecttype="fup__c" class="result-template" id="Follow-up Template"><div class="coveo-result-frame">
  <div class="coveo-result-cell" style="vertical-align:top;text-align:center;width:32px;">
    <span class="CoveoIcon" data-small="true" data-with-label="false" data-value="coveo-filetype-calendar"></span>
    <div class="CoveoQuickview"></div>
  </div>
  <div class="coveo-result-cell" style="vertical-align: top;padding-left: 16px;">
    <div class="coveo-result-row" style="margin-top:0;">
      <div class="coveo-result-cell" style="vertical-align:top;font-size:16px;">
        <a class="CoveoResultLink"></a>
      </div>
      <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
        <div class="coveo-result-row">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
        </div>
      </div>
    </div>
    <div class="coveo-result-row" style="margin-top:10px;">
      <div class="coveo-result-cell">
        <span class="CoveoExcerpt"></span>
      </div>
    </div>
    <div class="coveo-result-row" style="margin-top:10px;">
      <div class="coveo-result-cell"><span class="CoveoFieldValue" data-field="@sfStatus__c" data-text-caption="Status: " style="margin-right:30px;"></span><span class="CoveoFieldValue" data-field="@SfPublish_Date__c" data-text-caption="Created Date: "></span><span class="CoveoFieldValue" data-field="@SfLast_Public_Update__c" data-text-caption="Last Update: "></span></div>
    </div>
    <div class="coveo-result-row" style="margin-top:10px;">
      <div class="coveo-result-cell">
        <table class="CoveoFieldTable" data-minimized-by-default="true">
            <tbody>
              <tr data-field="@sfpricec" data-caption="Price" data-helper="currency"></tr>
              <tr data-field="@sfopportunityamountconverted" data-caption="Total" data-helper="currency"></tr>
              <tr data-field="@sfopportunitylicensingstotalcconverted" data-caption="License" data-helper="currency"></tr>
              <tr data-field="@sfopportunityamountsupportcconverted" data-caption="Support" data-helper="currency"></tr>
              <tr data-field="@sfopportunityconsultingstotalcconverted" data-caption="PS" data-helper="currency"></tr>
              <tr data-field="@sfopportunitystagename" data-caption="Stage"></tr>
              <tr data-field="@sfopportunitydealtypec" data-caption="Deal Type"></tr>
              <tr data-field="@sfopportunitycompetitionc" data-caption="Competition" data-split-values="true"></tr>
              <tr data-field="@sfibdusername" data-caption="ISR"></tr>
              <tr data-field="@sfopportunityregionc" data-caption="Region"></tr>
              <tr data-field="@sfleadsource" data-caption="Lead Source"></tr>
              <tr data-field="@sfleadstatus" data-caption="Lead status"></tr>
              <tr data-field="@worktitle" data-caption="Work title"></tr>
              <tr data-field="@sfemail" data-caption="Email" data-helper="email" data-html-value="true"></tr>
              <tr data-field="@sfcontactphone" data-caption="Phone"></tr>
              <tr data-field="@sfbillingcountry" data-caption="Billing country"></tr>
              <tr data-field="@sfbillingcity" data-caption="Billing city"></tr>
              <tr data-field="@sfmailingcountry" data-caption="Mailing country"></tr>
              <tr data-field="@sfmailingcity" data-caption="Mailing city"></tr>
              <tr data-field="@sffoldername" data-caption="Folder"></tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div></script>
      </div>
      <div class="CoveoPager"></div>
      <style>
        .coveo-facet-value-count {
          visibility: hidden;
        }
      </style>
      <div class="CoveoLogo"></div>
      <div class="CoveoResultsPerPage"></div>
    </div>
  </div>
</div></apex:component>