<apex:component controller="FO_FUPDigestController" access="global">
    <apex:attribute name="customer" type="Contact" description="customer" assignTo="{!contact}"/>

    <div class="update-list">
        <h1>RECENT UPDATES ON FLIGHT OPERATIONS FOLLOW-UPS:</h1> 
        <apex:outputPanel rendered="{!( NOT(responseIsEmpty) )}" >
            <apex:repeat value="{!response}" var="fup">
                <div class="fup">
                    <h2>{!fup.Name} - <a href="https://embraercommercialaviation.force.com/myOpereng/s/fup/{!fup.Id}/">{!fup.Reference_Number__c}</a></h2> 
                    <p class="applicability" >Applicable to: {!fup.Aircraft_Family__c}</p>
                    <apex:repeat value="{!response[fup]}" var="update">
                        <article class="update">
                            <h3>
                                <apex:outputText value="{0, date, MMMM d','  yyyy}">
                                    <apex:param value="{!update.Publish_Date__c}" /> 
                                </apex:outputText>                    
                            </h3>
                            <apex:outputText escape="false" value="{!update.Body__c}"/>
                        </article>
                    </apex:repeat>  
                </div>
            </apex:repeat>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!( responseIsEmpty )}" >
            <p>
                There are no relevant updates in this month.
            </p>
        </apex:outputPanel>
    </div>
</apex:component>