.THIS a {
    font-family : "GT America"; 
    text-decoration: none;
}
.THIS a:link {
    color: rgb(222,233,239);
}
.THIS a:visited {
    font-family : "GT America"; 
    color: rgb(222,233,239);
}
.THIS {
    display: hidden;
    visibility: hidden;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2147483647;
    background-color: RGB(0, 152, 152);
    font-family : "GT America";
}
.THIS ul {
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: strech;
}
.THIS li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
}
.THIS li a {
    
}
.THIS a {
    text-decoration: none;
}
@media only screen and (max-width: 1024px) {
    .THIS {
        display: inline;
        visibility: visible;
    }  
}