.THIS {
	/*overflow-y: hidden;*/
}

.THIS .slds-text-link + span {
	display: none;
}

.THIS .slds-media__figure use {
    display: none;
}

.THIS .slds-media__figure g {
    display: none;
}

.THIS .slds-map_container {
    height: 100%;
}