.THIS {
   padding: 0 10px;
}

.THIS .slds-input__icon{
   margin-top: -.8rem;
}

.THIS .fix-materialize{
    background-color: rgb(255, 255, 255); 
    color: rgb(92, 108, 116); 
    border: 1px solid #d4d4d4; 
    border-radius: .25rem; 
    width: 100%;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    -webkit-appearance: none;
    padding: 7px 14px;
}