.THIS #table-opportunities {
    border-spacing: 0 5px;
}

.THIS #table-opportunities:first-child tbody td {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.THIS #table-opportunities td,
.THIS #table-tasks td {
    width: 1%;
    white-space: nowrap;
    padding: 10px;
}

.THIS #table-opportunities .table-cell-wrap-large,
.THIS #table-tasks .table-cell-wrap-large {
    width: 100%;
    white-space: pre-line;
}

.THIS #table-opportunities .table-cell-wrap,
.THIS #table-tasks .table-cell-wrap {
    width: 1%;
    white-space: pre-line;
}

.THIS #table-opportunities thead th,
.THIS #table-tasks thead th,
.THIS .badge-summary {
	background-color: #16325c;
	color: white;
}

.THIS #table-opportunities thead svg {
	fill: white;
}

.THIS #table-opportunities thead .icon-light svg {
    fill: rgb(180, 180, 180);
}
            
.THIS #table-tasks th {
	top: 0;
	position: sticky;
	z-index: 1;                
}

.THIS .pointer {
    cursor: pointer;
}

.THIS .summary-row {
    font-weight: bolder;
}

.THIS .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_on {
    display: none;
}

.THIS .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_off {
    display: none;
}

.THIS .opportunity-level-2 {
    padding-left: 30px;
    display: inherit;
}
            
.THIS .opportunity-stage {
	width: 100px;
	border: 3px solid rgb(236, 235, 234);
	margin-bottom: 2px;
}

.THIS .opportunity-stage-10 { /*Prospecting #FFC000 */
    background-color: rgba(255,192,0,0.1);
    border-color: rgb(255,192,0);
}

.THIS .opportunity-stage-30 { /*Business Development #F87910 */
    background-color: rgba(248,121,16,0.1);
	border-color: rgb(248,121,16);
}

.THIS .opportunity-stage-60 { /*Proposal #00A4DE */
    background-color: rgba(0,164,222,0.1);
    border-color: rgb(0,164,222);
}

.THIS .opportunity-stage-80 { /*Contract Negotiation #682EB6 */
    background-color: rgba(104,46,182,0.1);
	border-color: rgb(104,46,182);
}
            
.THIS .compliance {
	width: 60px;
	display: inline-block;
	border: 3px solid rgb(200, 200, 200);
	background-color: rgba(200, 200, 200, 0.1);
	padding: 0;
}

.THIS .opportunity-priority {
    background-color: rgba(8,7,7,0.5);
    color: white;
}

.THIS .badge-probability,
.THIS .badge-status {
	width: 84px;
	border: 3px solid rgb(200, 200, 200);
	background-color: rgba(200, 200, 200, 0.1);
	margin-bottom: 2px;
}
            
.THIS .badge-status {
	width: 80px;
	white-space: pre-line;
	height: 40px;
	display: inline-grid;
}
            
.THIS .probability-low,		/* Probability Low */
.THIS .status-error { 		/* Status Invalid */
    border-color: rgb(194,57,52);
	background-color: rgba(194,57,52,0.1);
}

.THIS .probability-medium,	/* Probability Medium */
.THIS .status-warning {		/* Status Warning */
    border-color: rgb(255,192,0);
	background-color: rgba(255,192,0,0.1);
}

.THIS .probability-high,	/* Probability High */
.THIS .status-ok { 			/* Status OK */
    border-color: rgb(4,132,75);
	background-color: rgba(4,132,75,0.1);
}
            
.THIS .slds-table_striped tbody tr:nth-of-type(odd), 
.THIS .slds-table_striped tbody tr:nth-of-type(odd)>td, 
.THIS .slds-table_striped tbody tr:nth-of-type(odd)>th {
    background-color: white;
}

.THIS .slds-table_striped tbody tr:nth-of-type(even),
.THIS .slds-table_striped tbody tr:nth-of-type(even)>td, 
.THIS .slds-table_striped tbody tr:nth-of-type(even)>th {
    background-color: rgb(250,250,250);
}
            
.THIS .trend-up svg {
	fill: rgba(4,132,75,0.8);                 
}
         
.THIS .trend-down svg {
	transform: scaleY(-1);
	fill: rgba(194,57,52,0.9);                 
}
            
.THIS .trend-neutral svg {
	fill: #979797;                 
}
    
.THIS .filter-container {
	display: flex;
    width: 100%;
    margin-top: 10px;
}
    
.THIS .filter-container-icon {
	padding-right: 5px;
    padding-top: 5px;
}

.THIS .filter-container-icon svg {
	fill: rgb(150,150,150);
}

.THIS .filter-container-image {
    width: 37px; /* medium=37px | large=53px*/
    height: auto;
    padding-right: 5px;
    padding-top: 5px;
}

.THIS .filter-container-image img {
	border-radius: 5px;
}

.THIS .filter-container-options {
	flex-grow: 1;
}

.THIS .container {
    padding: 0 10px 0;
}
            
.THIS .task-delayed {
    color: red;
    font-weight: bold;
}

.THIS .task-delayed svg {
    fill: red;
}

.THIS .datatable-tasks th {
    text-transform: uppercase;
}

.THIS label.slds-checkbox_toggle {
    flex-direction: row-reverse;
    place-content: flex-end;
}

.THIS label.slds-checkbox_toggle .slds-form-element__label {
    padding-left: 10px;
}

.THIS label.slds-checkbox_toggle .slds-checkbox_faux_container {
    padding: 0;
}

.THIS .custom-card {
    background-color: rgb(252,252,252);
    margin-top: 10px;
    height: calc(100% - 10px);
}

.THIS .custom-card article {
    background-color: transparent;
}

.THIS .custom-card .slds-card__header {
    display: none;
}

.THIS .custom-card .slds-card__body {
    margin-top: 0;
    margin-bottom: 0;
}

.THIS .files-list {
    display: flex;
    flex-wrap: wrap;
}

.THIS .files-list .forceContentFileCard {
    margin: 10px;
}

.THIS hr {
    margin: 15px 0;
}

.THIS .custom-button {
	border-color: var(--sds-c-button-outline-brand-color-border, var(--lwc-brandAccessible,rgb(0, 112, 210)));
}
                        
.THIS .custom-button-icon-only svg {
	margin-right: 0;                            
}
                     
.THIS .slds-card__body {
	margin-TOP: 0;
	margin-bottom: 0;
}
                        
.THIS .hide-content {
	display: none;
}
                        
.THIS .number-highlight {
    font-weight: bolder;
	font-size: 1.3em;
}
                        
.THIS .text-highlight {
    font-weight: bolder;
	text-transform: uppercase;
}   

.THIS .stage-info {
	position: absolute;
    bottom: 0;
    right: 0;
}
                        
.THIS .stage-info svg {
	fill: transparent;
}
                        
.THIS .opportunity-title {
	font-weight: bold;                            
}
                        
.THIS.scrollerSize {
    width: 100%;
    border-radius: 1px;
	-webkit-overflow-scrolling: touch;
}