.THIS .c-list-view {
  width: 100%;
  height: 17vh;
  overflow-y: auto;
}

.THIS .slds-card__header {
  display: none;
}

.THIS .slds-card__body {
  margin: 0;
  padding: 0;
}

.THIS tbody tr {
  cursor: pointer;
}

.THIS .selected {
  background-color: rgb(242, 242, 242);
}

.THIS tr td {
  max-width: 25em;
  min-width: 10em;
  overflow-x: hidden;
}

.THIS table {
  position: relative;
  border: 0px;
  /* border-collapse: collapse; */
}

.THIS th {
  position: sticky !important;
  cursor: pointer;
  text-align: center;
  top: 0;
  background-color: rgb(250, 250, 249) !important;
  z-index: 5;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  transition: ease 0.3;
}

.THIS th div.ASC::before,
.THIS th div.DESC::before {
  content: " ";
  display: inline-block;
}

.THIS th div.ASC::after {
  content: " \2192";
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  display: inline-block;
}

.THIS th div.DESC::after {
  content: " \2192";
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  display: inline-block;
}

.THIS th div:hover {
  color: black;
}

/* content: "\2192";
    display: inline-block;
    transform: rotate(-90deg);
     */

.THIS td {
  text-align: center;
}

.THIS td:first-child,
.THIS th:first-child {
  padding-left: 0px !important;
}

.THIS td:last-child,
.THIS th:last-child {
  padding-right: 0px !important;
}