.THIS {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.THIS #accordion {
    border: 2px solid yellow;
    width: 50%;
}

.THIS a {
    text-decoration: underline;
    color: blue;
}