.THIS .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.THIS .filters > * {
    margin: 0.52%;
}
.THIS th,.THIS td { 
    margin: 5%;
}
.THIS label {
    font-weight: bold;
    color: RGB(0, 152, 152);
}
.THIS select{
    display:block;
}