.THIS {
    
}

.THIS .green-text{
    color: white;    
    font-weight: bold;   
}

.THIS .red-text{
    color: white;    
    font-weight: bold;    
}

.THIS .normal-text{
    font-weight: bold;
}

.THIS .traffic-light-yellow-bar{
    background-color: #EEFF41;
    border-style: solid;
    width: 4vw;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

.THIS .traffic-light-green-bar{
    background-color: #00BFA5;
    border-color: black;
    border-style: solid;
    width: 4vw;
    height: auto;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.THIS .traffic-light-red-bar{
    background-color: #F44336;
    border-style: solid;
    border-color: black;
    width: 4vw;
    height: auto;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.THIS .grid-style{
    background-color: rgba(255,255,255,0.6);
    border-radius: 12px;
    margin: 10px;
}