<apex:page docType="html-5.0" sidebar="false" showHeader="true"  standardStylesheets="false" >
<html>
<head>

<meta name="viewport" content="width=1200, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
<script src="https://ap1.salesforce.com/soap/ajax/20.0/connection.js"></script>

<script>



UserRole    = '{!JSENCODE($UserRole.Name)}';
UserId      = '{!JSENCODE($User.Id)}';
UserName    = '{!JSENCODE($User.FirstName)}'+' '+'{!JSENCODE($User.LastName)}';
UserTheme   = '{!JSENCODE($User.UITheme)}';

SkipValue = '';
if ('{!JSENCODE($CurrentPage.parameters.skip)}')
SkipValue = '{!JSENCODE($CurrentPage.parameters.skip)}';


//if (SkipValue == '' && UserRole == 'S&M' && UserTheme != 'Theme4t')
//window.location.assign("/apex/AccountsCPanel_AMS")
//if (SkipValue == '' && UserRole == 'S&M' && UserTheme == 'Theme4t')
//sforce.one.navigateToURL("/apex/AccountsCPanel_AMS");




function Queryvalue(VarId,RecType1,RSMId)
{

sforce.connection.sessionId = "{!$Api.Session_ID}";  

QueryType = "AND RecordType.Name='"+RecType1+" Aircraft Sales'";
if (RecType1 == 'All')
{
QueryType = "";
}

QueryRSM = " OwnerId='"+RSMId+"' ";

if (RSMId == 'All')
{
QueryRSM = " (OwnerId in ('005i0000005R3BT','005i0000006HRbs','005i0000006G6RL','005i0000006G6dM','005i0000006thyo','005i0000005R32g') OR (OwnerId='005i0000006tjUq' AND  (Account.BillingCountry='France' OR Account.BillingCountry='Netherlands'))) ";
}

if (RSMId == '005i0000006tjUq')
{
QueryRSM = " (OwnerId='005i0000006tjUq' AND  (Account.BillingCountry='France' OR Account.BillingCountry='Netherlands')) ";
}


    var QryAccount="SELECT     Id,Name,Account.Name,Owner.Name,RecordType.Name,Probability_c__c,Timeframe__c,StageName,Model_Type__c,Lessor_if_any__c,Order_Type__c,Leadership_Report_Firm_Order__c,Y2018__c,Y2019__c,Y2020__c,Y2021__c,Y2022__c,Staff_Meeting_Report_Summary__c FROM Opportunity WHERE "+QueryRSM+QueryType;
    var getrecord=sforce.connection.query(QryAccount);
    var accountitem= new sforce.QueryResultIterator(getrecord);

        var Bucket01 = "";
        var Bucket02 = "";
        var Bucket03 = "";
        var Bucket04 = "";
        var Bucket05 = "";
        var Count01 = 0;
        var Count02 = 0;
        var Count03 = 0;
        var Count04 = 0;
        var Count05 = 0;

    while (accountitem.hasNext())
    {
        var accnamearray = new Array();
        var record =accountitem.next();
        accnamearray[0]= record.Id;
        accnamearray[1]= record.Name;
        accnamearray[2]= record.Account.Name;               
        accnamearray[3]= record.Owner.Name;   
        accnamearray[4]= record.RecordType.Name;
        accnamearray[5]= record.Probability_c__c;
        accnamearray[6]= record.Timeframe__c;               
        accnamearray[7]= record.StageName;   


        if (accnamearray[7] == 'Business Development')
        {
            if (UserTheme == 'Theme4t')
            Bucket01 = Bucket01 + "<div class='btn3'><a href='#' " + 'onclick="' + "sforce.one.navigateToURL('https://na46.salesforce.com/" + accnamearray[0] + "');" + '" class="link_txt1">' + accnamearray[2] + "<br>"+accnamearray[3]+"</a></div>";
            else
            Bucket01 = Bucket01 + "<div class='btn3'><a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'>" + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";    

            Count01 = Count01+1;
        }
 
         if (accnamearray[7] == 'LOI/Proposal Negotiation')
        {
            if (UserTheme == 'Theme4t')
            Bucket02 = Bucket02 + "<div class='btn3'><a href='#' " + 'onclick="' + "sforce.one.navigateToURL('https://na46.salesforce.com/" + accnamearray[0] + "');" + '" class="link_txt1">' + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";
            else
            Bucket02 = Bucket02 + "<div class='btn3'><a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'>" + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";     

            Count02 = Count02+1;
        }


         if (accnamearray[7] == 'Contract Negotiation & Review')
        {
            if (UserTheme == 'Theme4t')
            Bucket03 = Bucket03 + "<div class='btn3'><a href='#' " + 'onclick="' + "sforce.one.navigateToURL('https://na46.salesforce.com/" + accnamearray[0] + "');" + '" class="link_txt1">' + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";
            else
            Bucket03 = Bucket03 + "<div class='btn3'><a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'>" + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";   

            Count03 = Count03+1;
        }


         if (accnamearray[7] == 'Closed Won')
        {
            if (UserTheme == 'Theme4t')
            Bucket04 = Bucket04 + "<div class='btn3'><a href='#' " + 'onclick="' + "sforce.one.navigateToURL('https://na46.salesforce.com/" + accnamearray[0] + "');" + '" class="link_txt1">' + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";
            else
            Bucket04 = Bucket04 + "<div class='btn3'><a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'>" + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";   

            Count04 = Count04+1;
        }


         if (accnamearray[7] == 'Closed Lost' || accnamearray[7] == 'Archived')
        {
            if (UserTheme == 'Theme4t')
            Bucket05 = Bucket05 + "<div class='btn3'><a href='#' " + 'onclick="' + "sforce.one.navigateToURL('https://na46.salesforce.com/" + accnamearray[0] + "');" + '" class="link_txt1">' + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";
            else
            Bucket05 = Bucket05 + "<div class='btn3'><a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'>" + accnamearray[2]  + "<br>"+accnamearray[3]+"</a></div>";    

            Count05 = Count05+1;
        }










        
   }


        document.getElementById(VarId+"bucket01").innerHTML = Bucket01;
        document.getElementById(VarId+"bucket02").innerHTML = Bucket02;
        document.getElementById(VarId+"bucket03").innerHTML = Bucket03;
        document.getElementById(VarId+"bucket04").innerHTML = Bucket04;
        document.getElementById(VarId+"bucket05").innerHTML = Bucket05;



}


</script>

<style>

body{
   //width: 1200px;
}

input[type=text], select, input[type=password],textarea
{
background-color: #f6f7ff;
height: auto;
margin: 0 auto 0 auto;
padding:4px 4px 4px 4px;
border: 1px solid #a8b8d6;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
}


.box1
        {
        background: #CCCCCC;
        border-radius: 10px;
        padding: 5px; 
        margin-bottom: 2px; 
                text-decoration:none;}
.box2 {
        background: #CCCCCC;   
        border-radius: 10px;
        padding: 5px; 
        margin-bottom: 2px; }
.box3 {
        background: #FF6464;
        border-radius: 10px;
        padding: 5px; 
        margin-bottom: 2px; }
.box4 {
        background: #ff9900;
        border-radius: 10px;
        padding: 5px; 
        margin-bottom: 2px; }
.box5 {
        background: #ffff99;
        border-radius: 10px;
        padding: 5px;  
        margin-bottom: 2px; }

.box6 {
        background: #d9ff66;
        border-radius: 10px;
        padding: 5px;
         margin-bottom: 2px; } 
.btn2
        {
        background:  #FAFAFA;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center; 
        margin-bottom: 2px; }
.btn2:hover
        {
        background: #CCCCCC; }      
.btn3
        {
        background:  #FF7878;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        margin-bottom: 2px;  }
        
        
   .btn3top
        {
        background:  #FF7878;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        margin-bottom: 2px;  
                font-size: 20px;
        color: #000000;
        text-decoration: none;
        
        }
             
        
        
        
.btn3:hover
        {
        background: #CCCCCC;
        text-decoration: none; }      
.btn4
        {
        background:  #ffb84d;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center; 
        margin-bottom: 2px;  }
.btn4:hover
        {
        background: #CCCCCC;
        text-decoration: none; }      
.btn5
        {
        background: #ffff00;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center; 
        margin-bottom: 2px;  }
.btn5:hover
        {
        background: #CCCCCC;
        text-decoration: none; }    
        
        
 .btn5new
        {
        background: #ffd633;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center; 
        margin-bottom: 2px;  } 
        
        .btn5new:hover
        {
        background: #CCCCCC;
        text-decoration: none; }    
        
        
        
        
        
.btn6
        {
        background: #6EEB6E;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center; 
        margin-bottom: 2px; }
.btn6:hover
        {
        background: #CCCCCC;
        text-decoration: none; }  
        
        
.btn6new
        {
        background: #82FF82;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center; 
        margin-bottom: 2px;  } 
        
        .btn6new:hover
        {
        background: #CCCCCC;
        text-decoration: none; }    
        
        
        
        
           

.a12
        {
        font-size: 12px;
        color: #333333;
        }






       
    
.link_txt1
        {
        font-size: 13px;
        color: #000000;
        text-decoration: none;
        }
.link_txt1:hover
        {
        font-size: 13px;
        color: #000000;
        text-decoration: none;
        }




.link_txt3
        {
        font-size: 14px;
        color: #000000;
        text-decoration: none;
        font-weight:bold;
        }
.link_txt3:hover
        {
        font-size: 14px;
        color: #000000;
        text-decoration: none;
        font-weight:bold;
        }
.link_txt2
        {
        font-size: 12px;
        color: #000000;
        text-decoration: none;
        }
.btn_menu
        {
        background: #191970;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        font-size: 16px;
        color: #FFFFFF;
        font-weight: bold;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        text-decoration: none;
        cursor:pointer;
        }
.btn_menu:hover
        {
        background: #FFA500;
        text-decoration: none;        
        color: #000000;
        }
.mainmenu
        {
        background: #EAEAEA;
        border:0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        }
.mainrow1
        {
        font-size: 16px;
        color: #333333;
        text-decoration: none;
        }
.mainrow
        {
        font-size: 16px;
        color: #333333;
        text-decoration: none;
        }
.prosp
        {
        font-size: 18px;
        color: #333333;
        text-decoration: none;
        }
.prosp1
        {
        font-size: 24px;
        color: #333333;
        text-decoration: none;
        }
 
 
 .menu_top {
        background: #EAEAEA;   
        padding: 10px;
        width:1200px;
        } 

.menu_office
        {
        background: #4682b4;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        text-decoration:none;
        }
.menu_text
        {
        font-size: 14px;
        color: #FFFFFF;
        text-decoration: none;
            font-weight: bold;
        }
 
 
 .legend_text
        {
        font-size: 12px;
        color: #000000;
        text-decoration: none;
       }
 
 
 
   .menu_office1
        {
        background: #346187;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        text-decoration:none;
        }  
 
 
</style>
 
 
<!-- PIPELINE -->
<script>
function hide_view(DivId)
{
    document.getElementById(DivId).style.display = 'none';
}

function show_legend()
{
    document.getElementById('legend_on').style.display = 'block';
    document.getElementById('legend_off').style.display = 'none';
}

function hide_legend()
{
    document.getElementById('legend_on').style.display = 'none';
    document.getElementById('legend_off').style.display = 'block';
}


function change_view(ActionId,SalesId)
{
if (ActionId == 'expand')
{
    document.getElementById('btn_collapse_'+SalesId).style.display = 'block';
    document.getElementById('btn_expand_'+SalesId).style.display = 'none';
    document.getElementById(SalesId+'bucket02').style.display = 'block';
}

if (ActionId == 'collapse')
{
    document.getElementById('btn_collapse_'+SalesId).style.display = 'none';
    document.getElementById('btn_expand_'+SalesId).style.display = 'block';
    document.getElementById(SalesId+'bucket02').style.display = 'none';
}




}

function Change_Type()
{

AC_Type = document.getElementById('ac_type').options[document.getElementById('ac_type').selectedIndex].value;
RSMId = document.getElementById('rsm').options[document.getElementById('rsm').selectedIndex].value;


alert(AC_Type+RSMId);

Queryvalue('AMS',AC_Type,RSMId);


}

</script>
</head>
<body>
<span id='user_id'></span>&nbsp;&nbsp;
 
<div class='menu_top'>
<a class='menu_office'  href='/apex/AccountsCPanel_SJK?skip=true'><span class='menu_text'>SJK Office</span></a>&nbsp;&nbsp;
<a class='menu_office1' href='/apex/AccountsCPanel_AMS?skip=true'><span class='menu_text'>AMS Office</span></a>&nbsp;&nbsp;
<a class='menu_office1' href='/apex/AccountsCPanel_SIN?skip=true'><span class='menu_text'>SIN Office</span></a>&nbsp;&nbsp;
<a class='menu_office1' href='#' onClick="alert('Under Construction');"><span class='menu_text'>BJS Office</span></a>&nbsp;&nbsp;
<a class='menu_office1' href='#' onClick="alert('Under Construction');"><span class='menu_text'>FLL Office</span></a>&nbsp;&nbsp;
<a href='https://c.na46.content.force.com/servlet/servlet.FileDownload?file=0150H00000Fl30z' class="box1" target='_blank'><span class="legend_text">Legend</span></a>&nbsp;&nbsp;
<a class="box1" href='/servlet/servlet.FileDownload?file=0150H00000FkPjG' target='_blank'><span class="legend_text">SJK Territory</span></a>
</div>
 <br></br>
<span class='prosp'><b><span class='prosp1'>SJK Accounts Control Panel</span> - Market Prospection Pipeline</b></span>


<br></br>

<br></br>
  
  
<table width="1200px" cellspacing="3px" cellpadding="5px" border="0px">
<tr  align="middle" height="60px" class="mainrow1">
<td  class="box1"  width="10%"><div class='prosp'><b>Sales Office</b></div></td>
<td  class="box3"  width="18%"><b><span class='prosp1'>Business Development</span></b></td>
<td  class="box5"  width="18%"><b><span class='prosp1'>LOI/Proposal Negotiation</span></b></td>
<td  class="box6"  width="18%"><b><span class='prosp1'>Contract Negotiation</span></b></td>
<td  class="box6"  width="18%"><b><span class='prosp1'>Closed Won</span></b></td>
<td  class="box6"  width="18%"><b><span class='prosp1'>Closed Lost/Dropped</span></b></td>
</tr>
 



<!--AMS-->
<tr align='center' height='40px' id='RowAMS' class='mainrow'>
<td  class='box1' valign='top'><img src='/servlet/servlet.ImageServer?id=0150H00000FkVYs&oid=00Di0000000fp0q&lastMod=1503250389000' width='70px'></img>
<div class='prosp'>
<b>AMS Office</b><br></br><br></br>Order Type<br></br>

<select name='ac_type' id ='ac_type' onChange="Change_Type(); return false;">
<option value='All' >All</option>
<option value='New'>New</option>
<option value='Used'>Used</option>
</select>

<br></br><br></br>RSM<br></br>

<select name='rsm' id ='rsm' onChange="Change_Type(); return false;">
<option value='All' >All</option>
<option value='005i0000005R3BT'>Claudio Cheinquer</option>
<option value='005i0000006HRbs'>Stephan Hannemann</option>
<option value='005i0000006G6RL'>Paul Begley</option>
<option value='005i0000006G6dM'>Igor Voznyuk</option>
<option value='005i0000006thyo'>Matheus Lima</option>
<option value='005i0000005R32g'>Martyn Holmes</option>
<option value='005i0000006tjUq'>Naly Rafalimanana</option>
</select>


</div>
<div><a href='#' onclick="hide_view('RowAMS'); return false;" class='link_txt2'>Hide &#8690;</a></div>
</td>
<td  class="box5" valign='top'><div id='AMSbucket01'></div></td>
<td  class="box6" valign='top'><div id='AMSbucket02'></div></td>
<td  class="box5" valign='top'><div id='AMSbucket03'></div></td>
<td  class="box6" valign='top'><div id='AMSbucket04'></div></td>
<td  class="box5" valign='top'><div id='AMSbucket05'></div></td>
</tr>
<!------------------------------------------------------ END AMS-->







</table>




<script>
Queryvalue('AMS','All','All');
document.getElementById("user_id").innerHTML = "<b>Welcome "+UserName+"</b>";
</script>




</body>
</html>
</apex:page>