<apex:page standardController="Case">

    <apex:remoteObjects >
        <apex:remoteObjectModel name="Case" fields="Id,OwnerId,Incoming_email_i__c">
        </apex:remoteObjectModel>
    </apex:remoteObjects>
    <script type="application/javascript">
        var caseToUpdate = new SObjectModel.Case();
        var incomingemail = false;
        caseToUpdate.set('Id', '{!Case.Id}');
        caseToUpdate.set('OwnerId', '{!$User.Id}');
        caseToUpdate.update();
     
       
    </script>
    
   
    
    
</apex:page>