<apex:page id="Page" readOnly="true"  renderAs="PDF" controller="CLMDeliveryForecastController" showHeader="false" cache="false"
           standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
    <html>
        <head>
            <!-- File Font Raleway -->
            <!-- OBS: REGULAR = NORMAL / SEMI-BOLD = 600 -->
            <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css' />  
            <!-- Bootstrap core CSS -->
            <link href="{!URLFOR($Resource.Bootstrap336, 'css/bootstrap.min.css')}" rel="stylesheet" type="text/css" />
            <!-- Bootstrap core JavaScript -->
            <script src="{!URLFOR($Resource.Bootstrap336, 'js/jquery-1.11.3.min.js')}" ></script>
            <script src="{!URLFOR($Resource.Bootstrap336, 'js/bootstrap.min.js')}" ></script>
            <style type="text/css">
                @page {  margin-top: 0%;} 
                @page {  margin-left: 1.5%;}
                @page{size: A4 portrait;}
                @page {  margin-right: 1.5%;}
                @page { 
                margin-bottom: 20px;
                margin-top: 20px;
                }
                @page{
                @top-center {content: element(header)}
                @bottom-center {content: element(footer)}
                }
                .title{
                	text-align:center;
                }
                .title>h4{
                font-size:8px;
                }
                
                .title>h3{
                font-size:8px;
                }
                th.title{
                border-top: 1px solid #ddd !important;
                	background-color: #d2d2d2 !important;
                }
                .value{
                text-align:center;
                width:10px;
                border:1px solid #ddd;
                }
                td.value{
                	text-align:center;
                	width: 50px !important;
                	min-width:50px !important;
                	max-width:50px !important;
                	border:1px solid #ddd;
                }
                
                .table>tbody>tr>th
                {
                	width: 70px !important;
                	min-width:70px !important;
                	max-width:70px !important;
                }
                
                
              .table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
                padding:1px 0px 1px 0px;
                line-height: 1;
                vertical-align: top;
                border: 1px solid #ddd;
                font-size:6px !important;
                table-layout:fixed
                height: 1px;
                }
                
                .sectionHeader {
                width: 100%;
                background-color: #a9a9a9 !important;
                font-size:8px;
                }
            </style>
        </head>
        <body>
            <apex:pageBlock id="generalOutputPanel">
                <h1 class="col-md-12" style="text-align:right;font-family:Arial Unicode MS; font-size: 5px;margin-bottom: 2px;margin-top: 10px;">Version: - Real Time</h1>
                <h1 class="col-md-12" style="text-align:right;font-family:Arial Unicode MS; font-size: 5px;margin-bottom: 0px;margin-top: 0px;">Date: - {!todayRelat}</h1>
                <h1 class="col-md-12" style="text-align:center;font-family:Arial Unicode MS; font-size: 10px">Delivery Forecast - {!currentYear}</h1>
                <div class="table-responsive col-md-12">
                    <div class="sectionHeader">AirCrafts</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="row" style="border:solid 1px #ddd;background-color:#F5F5F5 !important;"></th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Jan</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Feb</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Mar</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Apr</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">May</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Jun</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Jul</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Aug</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Sep</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Oct</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Nov</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Dec</th>
                                <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Tot</th>
                            </tr>
                        </thead>
                        <tbody>
                            <apex:repeat id="rptProduction" value="{!lstProductionByMonth}" var="prod">
                                <tr>
                                    <th scope="row" style="text-align:center;background-color: #F0FFFF !important;">{!prod.Aircraft_Model_Name}</th>
                                    <td class="value">{!prod.Jan}</td>
                                    <td class="value">{!prod.Feb}</td>
                                    <td class="value">{!prod.Mar}</td>
                                    <td class="value">{!prod.Apr}</td>
                                    <td class="value">{!prod.May}</td>
                                    <td class="value">{!prod.Jun}</td>
                                    <td class="value">{!prod.Jul}</td>
                                    <td class="value">{!prod.Aug}</td>
                                    <td class="value">{!prod.Sep}</td>
                                    <td class="value">{!prod.Oct}</td>
                                    <td class="value">{!prod.Nov}</td>
                                    <td class="value">{!prod.Dec}</td>
                                    <td class="value">{!prod.Total}</td>
                                </tr>
                            </apex:repeat>
                        </tbody>
                    </table>
                </div>
                <apex:outputPanel id="detailsAndSubtotal">
                    
                    <apex:repeat value="{!mapGroupDetail}" var="varKeyGroup">
                        <div class="table-responsive col-md-12">
                            <div class="sectionHeader" Style="margin-bottom: 10px">{!varKeyGroup}</div>
                        </div>
                        
                        <apex:repeat value="{!mapGroupDetail[varKeyGroup]}" var="varKey">
                            <div class="table-responsive col-md-12">
                           
                                <div class="title">
                                <h4>{!varKey}</h4>
                            </div>
                                
                                <table class="table" >



                                    
                                    
                                    <thead>
                                        
                                        <tr>
                                            
                                            
                                            <th scope="row" style="border:solid 1px #ddd;background-color:#F5F5F5 !important;"></th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Jan</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Feb</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Mar</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Apr</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">May</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Jun</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Jul</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Aug</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Sep</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Oct</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Nov</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Dec</th>
                                            <th class="title" style="border:solid 1px #ddd;text-align:center;background-color:#F5F5F5 !important;">Tot</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                             
                                            
                                            
                                            <th class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Contract<br />Firm Orders</th>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.jan}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.fev}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.mar}" var="airplane">
                                                    <div  style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.apr}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.may}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.jun}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.jul}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.aug}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.sep}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.oct}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.nov}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].contract.dec}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.df_code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <apex:variable value="{!1}" var="rowTotal"/>
                                            <apex:variable var="rowTotal" value="{!mapGroupDetail[varKeyGroup][varKey].contract.jan.size + mapGroupDetail[varKeyGroup][varKey].contract.fev.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].contract.mar.size + mapGroupDetail[varKeyGroup][varKey].contract.apr.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].contract.may.size + mapGroupDetail[varKeyGroup][varKey].contract.jun.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].contract.jul.size + mapGroupDetail[varKeyGroup][varKey].contract.aug.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].contract.sep.size + mapGroupDetail[varKeyGroup][varKey].contract.oct.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].contract.nov.size + mapGroupDetail[varKeyGroup][varKey].contract.dec.size}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                        </tr>
                                        
                                        
                                        
                                        <tr>
                                            <th escope="row" class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Trend<br />Firm Orders</th>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.jan}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.fev}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.mar}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.apr}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.may}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.jun}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.jul}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.aug}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.sep}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.oct}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.nov}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].trend.dec}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <apex:variable value="{!1}" var="rowTotal"/>
                                            <apex:variable var="rowTotal" value="{!mapGroupDetail[varKeyGroup][varKey].trend.jan.size + mapGroupDetail[varKeyGroup][varKey].trend.fev.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].trend.mar.size + mapGroupDetail[varKeyGroup][varKey].trend.apr.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].trend.may.size + mapGroupDetail[varKeyGroup][varKey].trend.jun.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].trend.jul.size + mapGroupDetail[varKeyGroup][varKey].trend.aug.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].trend.sep.size + mapGroupDetail[varKeyGroup][varKey].trend.oct.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].trend.nov.size + mapGroupDetail[varKeyGroup][varKey].trend.dec.size}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                        </tr>
                                        <tr>
                                            <th escope="row" class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Options<br />And Commited</th>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.jan}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.fev}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.mar}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.apr}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.may}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.jun}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.jul}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.aug}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.sep}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.oct}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.nov}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].options.dec}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <apex:variable value="{!1}" var="rowTotal"/>
                                            <apex:variable var="rowTotal" value="{!mapGroupDetail[varKeyGroup][varKey].options.jan.size + mapGroupDetail[varKeyGroup][varKey].options.fev.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].options.mar.size + mapGroupDetail[varKeyGroup][varKey].options.apr.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].options.may.size + mapGroupDetail[varKeyGroup][varKey].options.jun.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].options.jul.size + mapGroupDetail[varKeyGroup][varKey].options.aug.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].options.sep.size + mapGroupDetail[varKeyGroup][varKey].options.oct.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].options.nov.size + mapGroupDetail[varKeyGroup][varKey].options.dec.size}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                        </tr>
                                        <tr>
                                            <th escope="row" class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Proposals</th>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.jan}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.fev}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.mar}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.apr}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.may}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.jun}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.jul}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.aug}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.sep}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.oct}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.nov}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <td class="value">
                                                <apex:repeat value="{!mapGroupDetail[varKeyGroup][varKey].proposal.dec}" var="airplane">
                                                    <div style="color:#{!airplane.Agreement__r.Agreement_Color__c} !important">{!airplane.TREND_DF_Code__c}</div>
                                                </apex:repeat>
                                            </td>
                                            <apex:variable value="{!1}" var="rowTotal"/>
                                            <apex:variable var="rowTotal" value="{!mapGroupDetail[varKeyGroup][varKey].proposal.jan.size + mapGroupDetail[varKeyGroup][varKey].proposal.fev.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].proposal.mar.size + mapGroupDetail[varKeyGroup][varKey].proposal.apr.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].proposal.may.size + mapGroupDetail[varKeyGroup][varKey].proposal.jun.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].proposal.jul.size + mapGroupDetail[varKeyGroup][varKey].proposal.aug.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].proposal.sep.size + mapGroupDetail[varKeyGroup][varKey].proposal.oct.size 
                                                                                 + mapGroupDetail[varKeyGroup][varKey].proposal.nov.size + mapGroupDetail[varKeyGroup][varKey].proposal.dec.size}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </apex:repeat>
                        
                        
                        
                        <div class="table-responsive col-md-12">
                            <div class="title">
                                <h4>Subtotal {!varKeyGroup}</h4>
                            </div>
                            <apex:outputPanel >
                            <table class="table">
                                
                                    
                                    <tbody>
                                        <tr>
                                            <th class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Available</th>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.jan}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.fev}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.mar}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.apr}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.may}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.jun}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.jul}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.aug}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.sep}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.oct}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.nov}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].avaiable.dec}</td>
                                            <apex:variable value="{!1}" var="rowTotal"/>
                                            <apex:variable var="rowTotal" value="{!mapSubtotal[varKeyGroup].avaiable.jan + mapSubtotal[varKeyGroup].avaiable.fev 
                                                                                 + mapSubtotal[varKeyGroup].avaiable.mar + mapSubtotal[varKeyGroup].avaiable.apr 
                                                                                 + mapSubtotal[varKeyGroup].avaiable.may + mapSubtotal[varKeyGroup].avaiable.jun 
                                                                                 + mapSubtotal[varKeyGroup].avaiable.jul + mapSubtotal[varKeyGroup].avaiable.aug 
                                                                                 + mapSubtotal[varKeyGroup].avaiable.sep + mapSubtotal[varKeyGroup].avaiable.oct 
                                                                                 + mapSubtotal[varKeyGroup].avaiable.nov + mapSubtotal[varKeyGroup].avaiable.dec}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                            <!--<td class="value">{!mapSubtotalYearAvaliable[mapKey]}</td>-->
                                        </tr>
                                        <tr>
                                            <th class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Without OP</th>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.jan}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.fev}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.mar}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.apr}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.may}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.jun}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.jul}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.aug}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.sep}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.oct}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.nov}</td>
                                            <td class="value">{!mapSubtotal[varKeyGroup].without.dec}</td>
                                            <apex:variable value="{!1}" var="rowTotal"/>
                                            <apex:variable var="rowTotal" value="{!mapSubtotal[varKeyGroup].without.jan + mapSubtotal[varKeyGroup].without.fev 
                                                                                 + mapSubtotal[varKeyGroup].without.mar + mapSubtotal[varKeyGroup].without.apr 
                                                                                 + mapSubtotal[varKeyGroup].without.may + mapSubtotal[varKeyGroup].without.jun 
                                                                                 + mapSubtotal[varKeyGroup].without.jul + mapSubtotal[varKeyGroup].without.aug 
                                                                                 + mapSubtotal[varKeyGroup].without.sep + mapSubtotal[varKeyGroup].without.oct 
                                                                                 + mapSubtotal[varKeyGroup].without.nov + mapSubtotal[varKeyGroup].without.dec}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                            <!--<td class="value">{!mapSubtotalYearWithout[mapKey]}</td>-->
                                        </tr>
                                    </tbody>
                                
                            </table>
                                </apex:outputPanel>
                        </div>
                    </apex:repeat>
                    
                    
                    <apex:outputPanel id="totalOutputpanel">
                        
                        <div class="table-responsive col-md-12" style="margin-bottom: 0px;">
                            
                            <table class="table">
                                <div class="title">
                                    <h3>Total Aircraft {!aircraftFamily}</h3>
                                   
                                </div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Available</th>
                                            <td class="value">{!avaiableTotal.jan}</td>
                                            <td class="value">{!avaiableTotal.fev}</td>
                                            <td class="value">{!avaiableTotal.mar}</td>
                                            <td class="value">{!avaiableTotal.apr}</td>
                                            <td class="value">{!avaiableTotal.may}</td>
                                            <td class="value">{!avaiableTotal.jun}</td>
                                            <td class="value">{!avaiableTotal.jul}</td>
                                            <td class="value">{!avaiableTotal.aug}</td>
                                            <td class="value">{!avaiableTotal.sep}</td>
                                            <td class="value">{!avaiableTotal.oct}</td>
                                            <td class="value">{!avaiableTotal.nov}</td>
                                            <td class="value">{!avaiableTotal.dec}</td>
                                            <apex:variable var="rowTotal" value="{!avaiableTotal.jan + avaiableTotal.fev 
                                                                                 + avaiableTotal.mar + avaiableTotal.apr 
                                                                                 + avaiableTotal.may + avaiableTotal.jun 
                                                                                 + avaiableTotal.jul + avaiableTotal.aug 
                                                                                 + avaiableTotal.sep + avaiableTotal.oct 
                                                                                 + avaiableTotal.nov + avaiableTotal.dec}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                            <!--<td class="value">{!totalYearAvaliable}</td>-->
                                        </tr>
                                        <tr>
                                            <th class="td-title" style="text-align:center;background-color: #F0FFFF !important;">Without OP</th>
                                            <td class="value">{!withoutTotal.jan}</td>
                                            <td class="value">{!withoutTotal.fev}</td>
                                            <td class="value">{!withoutTotal.mar}</td>
                                            <td class="value">{!withoutTotal.apr}</td>
                                            <td class="value">{!withoutTotal.may}</td>
                                            <td class="value">{!withoutTotal.jun}</td>
                                            <td class="value">{!withoutTotal.jul}</td>
                                            <td class="value">{!withoutTotal.aug}</td>
                                            <td class="value">{!withoutTotal.sep}</td>
                                            <td class="value">{!withoutTotal.oct}</td>
                                            <td class="value">{!withoutTotal.nov}</td>
                                            <td class="value">{!withoutTotal.dec}</td>
                                            <apex:variable var="rowTotal" value="{!withoutTotal.jan + withoutTotal.fev 
                                                                                 + withoutTotal.mar + withoutTotal.apr 
                                                                                 + withoutTotal.may + withoutTotal.jun 
                                                                                 + withoutTotal.jul + withoutTotal.aug 
                                                                                 + withoutTotal.sep + withoutTotal.oct 
                                                                                 + withoutTotal.nov + withoutTotal.dec}"/>
                                            <td class="value">{!IF(rowTotal == null,0, rowTotal)}</td>
                                            <!--<td class="value">{!totalYearWithout}</td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                        
                    </apex:outputPanel>
                    
                </apex:outputPanel>
            </apex:pageBlock>
        </body>
    </html>
</apex:page>