<apex:page lightningStylesheets="true" standardController="Agreement__c" extensions="CLMEndAgreementController" title="Expire Agreement">
	<apex:pageBlock title="Do you want Expire this Agreement?">
        Click Expire to proceed. 
    </apex:pageBlock>
    <apex:form >
    	<apex:commandButton action="{!expire}" value="Expire"/>
    	<apex:commandButton action="{!cancel}" value="Cancel"/>
    </apex:form>
    <apex:outputPanel id="errmsg">
   		<apex:pageMessages />
	</apex:outputPanel>
</apex:page>