<apex:page lightningStylesheets="true" standardController="Agreement__c" extensions="CLMPromoteToPAController" title="Promote To PA">
    <apex:pageBlock title="Do you want to Promote to PA?" id="mainBlock">
        By clicking OK this Proposal will be promoted to Purchase Agreement.     
    <apex:form >
    	<apex:commandButton action="{!promote}" value="Promote" disabled="{!!isHide}"/>
    	<apex:commandButton action="{!cancel}" value="Cancel" disabled="{!!isHide}"/>
        <apex:commandButton action="{!promotionCompleted}" reRender="mainBlock" value="Refresh" disabled="{!isHide}"/>
        <apex:commandButton action="{!cancel}" value="Voltar" disabled="{!isHide}"/>
        <apex:actionPoller action="{!promotionCompleted}" rerender="mainBlock" interval="10"/>
    </apex:form>
    <apex:outputPanel id="errmsg">
   		<apex:pageMessages />
	</apex:outputPanel>
    
    
    <apex:form >
    <apex:pageBlock title="The promotion is ready." id="hiddenBlock" rendered="{!isAmendmentReady}">
        <apex:commandButton value="Open PA" action="{!goToNewPA}"/>
    </apex:pageBlock>
    </apex:form>
        
    </apex:pageBlock>


</apex:page>