<apex:page lightningStylesheets="true" standardController="Agreement__c" extensions="CLMEndAgreementController" title="Terminate Agreement">
	<apex:pageBlock title="Do you want to Terminate this Agreement?">
        By clicking OK this Agreement and ALL child and parent related agreements will be terminated. This action can not be undone. 
    </apex:pageBlock>
    <apex:form >
    	<apex:commandButton action="{!terminate}" value="Terminate"/>
    	<apex:commandButton action="{!cancel}" value="Cancel"/>
    </apex:form>
    <apex:outputPanel id="errmsg">
   		<apex:pageMessages />
	</apex:outputPanel>
</apex:page>