<apex:page standardController="Case" extensions="CustomRelatedListMFIR_Controller">
    
    <apex:pageBlock >
        
            <apex:pageBlockTable value="{!relatedMFIR}" var="wrapper" >
                <apex:column headerValue="Number">
                    <a target="_blank " href="/{!wrapper.mfir.Id}">{!wrapper.mfir.MFIR_number__c}</a>
                </apex:column>
                <apex:column headerValue="SAP Name" value="{!wrapper.mfir.SAP_Name__c}" />
                <apex:column headerValue="City" value="{!wrapper.mfir.City__c}" />
                <apex:column headerValue="County" value="{!wrapper.mfir.Country__c}" />
                <apex:column headerValue="Total Overdue" value="{!wrapper.mfir.Overdue_TOTAL__c}" />
                <apex:column headerValue="Has blockage?" value="{!wrapper.mfir.Blockage__c}" />
            </apex:pageBlockTable>
        
        
    </apex:pageBlock>    
    
</apex:page>