<apex:page standardController="Case" lightningStylesheets="true">
    <chatter:feed entityId="{!Case.Id}" showPublisher="false" feedItemType="TextPost"/>
    <style>
        #feedFilterDropDownElement {display: none;}
    </style>
</apex:page>