<apex:page standardController="Case" extensions="DIM_CaseSplitController"
    title="Create Case From Email" 
    showHeader="false" 
    sideBar="false" 
    tabStyle="Case" 
    id="EmailCase"
    lightningStylesheets="true"
>

     <script language="JavaScript" type="text/javascript">
        function RefreshCase(newCaseId) {
            alert('The new case will open.');
            sforce.one.navigateToSObject(newCaseId);  
        }
    </script>

    <apex:form >
        <apex:outputPanel id="page" layout="block">
            <apex:actionRegion >                      
                <apex:outputPanel id="pnlSearchResults" style="height:350px;overflow-Y:auto;" layout="block">
                    <apex:pageBlock id="searchResults">
                        
                        <span style="color:blue">
                        <b>Please click on the desired email SUBJECT in order to create a new case:</b><br/><br/>
                        </span>
                    
                        <apex:pageBlockTable value="{!emails}" var="email" id="tblEmails">
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:outputPanel >Subject</apex:outputPanel>
                                </apex:facet>
                                <apex:commandLink value="{!email.Subject}" action="{!createCase}" rendered="{!NOT(ISNULL(email.Id))}" oncomplete="javascript:RefreshCase('{!newCase.Id}')">
                                    <apex:param name="emailId" value="{!email.Id}" />
                                </apex:commandLink>   
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:outputPanel >From</apex:outputPanel>
                                </apex:facet>
                                <apex:outputText rendered="{!NOT(ISNULL(email.Id))}">{!email.FromAddress}</apex:outputText>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:outputPanel >Date</apex:outputPanel>
                                </apex:facet>
                                <apex:outputText rendered="{!NOT(ISNULL(email.Id))}" value="{0,date,yyyy/MM/dd HH:mm}">
                                    <apex:param value="{!email.MessageDate + offset}" />
                                </apex:outputText>
                            </apex:column>                                    
                        </apex:pageBlockTable>
                    </apex:pageBlock>
                </apex:outputPanel>
            </apex:actionRegion>
        </apex:outputPanel>
    </apex:form>

</apex:page>