<apex:page extensions="EarlyWarningReportController" standardController="Account_Cockpit__c">
  
    <style>
        tr.dataRow 
        { 
            background-color:white; 
        }
        tr.dataRow:hover 
        { 
            background-color: #e3f3ff;
        }
        tr.groupingRow
        {
           background-color:#D5DDF3;
        };
    </style>
   
    <apex:pageBlock mode="edit">

        <table class="list" border="0" cellpadding="0" cellspacing="0" >
        
            <tr class="headerRow  ">
                <apex:repeat value="{!cellHeaderValues}" var="header">
                    <th>
                        {!header}
                    </th>
                </apex:repeat>
            </tr>
            
             <tr class="groupingRow">
                
                <th colspan="10" style="border: 0px solid;">
                    
                    <apex:outputText value="Embraer Site Nickname : {!embraerSite}"  rendered="{!Not(haveGroupings)}"/>
                    <apex:outputText value=" (0 Records)" rendered="{!Not(haveGroupings)}" />
                    
                </th>    
            </tr>
        
        
            
            <apex:repeat value="{!reportGroupMap}" var="groupKey" rendered="{!haveGroupings}">
                
                <apex:repeat value="{!reportGroupMap[groupKey]}" var="groupRow">            
                    
                    <tr class="groupingRow">
                
                        <th colspan="10" style="background-color:#D5DDF3;border: 0px solid;">
                        
                            <apex:outputText value="{!reportGroupMap[groupKey].groupLabel} : {!reportGroupMap[groupKey].groupValue} "/>
                            <apex:outputText value="{!reportGroupMap[groupKey].rowCount}" rendered="{!haveRowCount}" />
                            
                        </th>
                        
                        <apex:repeat value="{!groupRow.subtotalRows}" var="subTotalRows">            
                    
                            <tr class="groupingRow">
                
                                <apex:repeat value="{!subTotalRows.cellsList}" var="cellAggregate">
                                    
                                    <td style="border: 0px solid;">
                                        <apex:outputText value="{!cellAggregate.cellLabel}"  escape="false"/>
                                   </td>
                                
                                </apex:repeat>
                             </tr>       
                        </apex:repeat>
                        
                        <apex:repeat value="{!reportGroupMap[groupKey].subGroup}" var="secondLevel">
                        
                            <apex:repeat value="{!secondLevel}" var="secondLevelRows">            

                                <tr class="groupingRow">
                
                                    <th colspan="10" style="background-color:#E0E8FB;border: 0px solid;">
                        
                                        <apex:outputText value="{!secondLevel.groupLabel} : {!secondLevel.groupValue} " escape="false"/>
                                        <apex:outputText value="{!secondLevel.rowCount}" rendered="{!haveRowCount}" />
                                    </th>
                                    
                                    <apex:repeat value="{!secondLevel.subtotalRows}" var="secondLevelAggregateRow">            
                    
                                        <tr class="groupingRow">
                
                                             <apex:repeat value="{!secondLevelAggregateRow.cellsList}" var="secondLevelcellAggregate">
                                    
                                                <td style="border: 0px solid;">
                                                    <apex:outputText value="{!secondLevelcellAggregate.cellLabel}"  escape="false"/>
                                               </td>
                                
                                            </apex:repeat>
                                        </tr>                                            
                                    </apex:repeat>
                        
                            
                                </tr>
                                <apex:repeat value="{!secondLevel.subGroup}" var="thirdLevel">
                        
                                    <apex:repeat value="{!thirdLevel}" var="thirdLevelRows">            

                                        <tr class="groupingRow">
                
                                            <th colspan="10" style="background-color:#EFF4FC;border: 0px solid;">
                            
                                                <apex:outputText value="{!thirdLevel.groupLabel} : {!thirdLevel.groupValue} " escape="false"/>
                                                <apex:outputText value="{!thirdLevel.rowCount}" rendered="{!haveRowCount}" />
                                            </th>
                                        
                                            <apex:repeat value="{!thirdLevel.subtotalRows}" var="thirdLevelAggregateRow">            
                        
                                                <tr class="groupingRow">
                    
                                                    <apex:repeat value="{!thirdLevelAggregateRow.cellsList}" var="cellAggregateThirdLevel">
                                        
                                                        <td style="border: 0px solid;">
                                                            <apex:outputText value="{!cellAggregateThirdLevel.cellLabel}"  escape="false"/>
                                                        </td>
                                    
                                                    </apex:repeat>
                                                </tr>                                            
                                            
                                            </apex:repeat>
                            
                                
                                        </tr>
                                
                                        <apex:repeat value="{!thirdLevel.groupRows}" var="thirdLevelDetailRow">
                    
                                            <tr class="dataRow">
                            
                                                <apex:repeat value="{!thirdLevelDetailRow.cellsList}" var="thidLevelDetailCell">
                               
                                                    <td class="cell">
        
                                                        <apex:outputText value="{!thidLevelDetailCell.cellLabel}" rendered="{!NOT(thidLevelDetailCell.haveURL)}"/>
                                                        <apex:outputLink value="/{!thidLevelDetailCell.cellValue}" rendered="{!thidLevelDetailCell.haveURL}" target="about:blank">{!thidLevelDetailCell.cellLabel}</apex:outputLink>
                               
                                                    </td>
                            
                                                </apex:repeat>
                        
                                            </tr>
               
                                        </apex:repeat>
                            
                                    </apex:repeat>
                                    
                                </apex:repeat>  
                    
                                
                                <apex:repeat value="{!secondLevel.groupRows}" var="secondLevelDetailRow">
                
                                    <tr class="dataRow">
                        
                                        <apex:repeat value="{!secondLevelDetailRow.cellsList}" var="secondLevelDetailCell">
                           
                                            <td class="cell">
    
                                                <apex:outputText value="{!secondLevelDetailCell.cellLabel}" rendered="{!NOT(secondLevelDetailCell.haveURL)}"/>
                                                <apex:outputLink value="/{!secondLevelDetailCell.cellValue}" rendered="{!secondLevelDetailCell.haveURL}" target="about:blank">{!secondLevelDetailCell.cellLabel}</apex:outputLink>
                           
                                           </td>
                        
                                        </apex:repeat>
                    
                                    </tr>
                                </apex:repeat>                                    
                    
                        
                            </apex:repeat>
                        </apex:repeat>
                    
                    </tr> 
                
                </apex:repeat>

                    
           
                
                
                <apex:repeat value="{!reportGroupMap[groupKey].groupRows}" var="row">
                
                    <tr class="dataRow">
                        
                        <apex:repeat value="{!row.cellsList}" var="cell">
                           
                            <td class="cell">
    
                                <apex:outputText value="{!cell.cellLabel}" rendered="{!NOT(cell.haveURL)}"/>
                                <apex:outputLink value="/{!cell.cellValue}" rendered="{!cell.haveURL}" target="about:blank">{!cell.cellLabel}</apex:outputLink>
                           
                           </td>
                        
                        </apex:repeat>
                    
                    </tr>
           
                </apex:repeat>

            </apex:repeat>
       </table>
    
    </apex:pageBlock>
    
 </apex:page>