<apex:page >
    <!-- Begin Default Content REMOVE THIS -->

    <head>
        <style>
            .container {
                margin-top: 5em;
                text-align: center;
            }

            .giant {
                display: block;
                font-size: 10em;
            }

            .bold {
                font-weight: bold;
            }

            .normal {
                font-size: 1.5em;
            }

            .green {
                color: rgb(36, 182, 99);
            }

            .top-2em {
                margin-top: 2em;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="giant bold">THANK YOU!</div>
            <br />
            <span class="giant bold green">&#10004;</span>
            <br />
            <p class="normal top-2em">Your classification will help us to better understand the factors that are impacting the OOS Time.
            </p>
            <p class="normal bold">One team, one passion!
            </p>
        </div>
    </body>

</apex:page>