<apex:page doctype="html-5.0" controller="FO_CommunityController" showheader="false" sidebar="false" >
    <head>
        <title>myOpereng</title>
        
    </head>
    <apex:stylesheet value="{!URLFOR($Resource.Tablesorter_Blue_2_17_8, 'tablesorter/css/tablesorter_theme_blue.css')}" />
    <style>
        
    w3-table-all thead tr .header{
        background-image: none !important;
        background-color: lightgrey !important;
    }
    w3-table-all thead tr .grey, w3-table-all thead tr{
        background-color: lightgrey !important;
    }
        
    .fa-search {
    color:white;
    }
        
    body .bPageBlock .pbBody .grey .pbSubheader{
        background-color:lightgrey;
    }
        
    body .bPageBlock .pbBody .blue .pbSubheader{
        background-color: #deeaf6;
    }
        
    
    body .bPageBlock .pbBody .pbSubheader .showListButton{
        display: none !important;
        
    }
    body .bPageBlock .pbBody .pbSubheader .hideListButton{
        display: none !important;
    }
    </style>
    
    <body>
        
        <!--Main page content -->
        <div id="mainContent" class="container-fluid">
            
            <!-- Template for side menu/header -->
            <apex:composition template="FO_MyOP_Template"/>
            
            <!--Form that holds content of the page -->
            <apex:form id="casesPageForm" styleClass="w3-container w3-card-4 w3-light-grey w3-round">  
                <!-- Search -->
                <apex:pageBlock id="searchPageBlock" rendered="{!DisplaySearchBar}">
                    <div class="w3-row w3-padding" style="background-color: lightgrey;">
                        <div class="w3-third">   
                            <apex:inputText id="searchString" value="{!searchString}" styleClass="w3-input w3-border" style="float:right;" html-placeholder="Search"/>     
                        </div> 
                        
                        <div class="w3-third">
                            <apex:commandLink action="{!startCaseSearch}" styleClass="w3-button w3-hover-blue" style="background-color: #005194; float:left;">
                                <i class="fa fa-search"/> 
                            </apex:commandLink>
                        </div> 
                        <!-- BUTTON FOR NEW ISSUES
                        <div class="w3-third">    
                            <apex:commandLink action="{!goToNewIssues}" styleClass="w3-button w3-orange w3-hover-amber" value="NEW ISSUE" id="newIssueBtn" style="color: white !important; float:right;"/>
                        </div> 
                        -->
                    </div> 
                </apex:pageBlock>
                
                <!-- Filter -->
                <apex:pageBlock id="filterPageBlock" rendered="{!DisplayFilterBar}">
                    <apex:outputLabel style="color:grey; font-weight:normal;">FILTER:</apex:outputLabel>
                    <div class="w3-row">
                        <div class="w3-quarter w3-margin-right">    
                            <apex:selectList value="{!selectedStatusFilter}" size="1" styleClass="w3-select" id="pickStatusFilter">
                                <apex:selectOptions value="{!ListOfStatusFilter}"/>
                            </apex:selectList>
                        </div>
                        <div class="w3-quarter w3-margin-right">    
                            <apex:selectList value="{!selectedCompanyFilter}" size="1" rendered="{!DisplayCompanyFilter}" styleClass="w3-select" id="pickCompanyFilter">
                                <apex:selectOptions value="{!ListOfCompanyFilter}"/>
                            </apex:selectList>
                        </div>
                         <div class="w3-quarter">
                            <apex:commandLink id="btnApplyFilter" value="APPLY FILTER" action="{!startCaseFilter}" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important; margin-right:5px;"/>
                            <apex:commandLink id="btnClearFilter" value="CLEAR FILTER" action="{!resetFilters}" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important;" />
                        </div>
                    </div>
                </apex:pageBlock>
                
                <!-- Cases Table -->
                <apex:pageBlock id="casesPageBlock" rendered="{!DisplayCasesTable}">                   
                    <apex:pageBlockButtons location="bottom">              
                            <apex:commandLink value="<<" action="{!beginning}" rendered="{!EnablePrevious}" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important;"/>
                            <apex:commandLink value="<" action="{!previous}" rendered="{!EnablePrevious}" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important;"/>
                        <apex:outputLabel styleClass="w3-margin" style="font-weight: normal;"> PAGE {!currentPaginationNumber} OF {!totalPaginationNumber} </apex:outputLabel>
                            <apex:commandLink value=">" action="{!next}" rendered="{!EnableNext}" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important;"/>
                            <apex:commandLink value=">>" action="{!last}" rendered="{!EnableNext}" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important;"/>            
                        </apex:pageBlockButtons>
                    
                    <apex:dataTable value="{!casesToShow}" var="case" id="casesDataTable" styleClass="w3-table-all" >
                        <!-- Column for Status -->                     
                        <apex:column headerValue="Status">
                            <apex:outputText styleClass="{!IF(case.Status ='Closed', 'label label-default', 'label label-info')}" value="{!IF(case.Status ='New', 'Open', (IF(case.Status ='Closed', 'Answered', (IF(case.Status = 'In Progress', 'Open', case.Status)))))}"/>     
                        </apex:column>
                        
                        <!-- Column for Subject -->
                        <apex:column headerValue="Subject">
                            <apex:commandLink action="{!setupCaseDetails}" value="{!case.Subject}" reRender="casesPageForm">
                                <apex:param name="caseIDParam" value="{!case.Id}" assignTo="{!caseID}"/>
                            </apex:commandLink>
                        </apex:column>
                        
                        <!-- Column for Created -->
                        <apex:column headerValue="Created">
                            <apex:outputText value="{0, date, MMM dd yyyy hh':'mm z}">
                                <apex:param value="{!case.CreatedDate}" /> 
                            </apex:outputText>
                        </apex:column>  
                    </apex:dataTable>
                </apex:pageBlock>
                
                <!-- Case Details -->
                <apex:pageBlock id="caseDetailsPageBlock" rendered="{!DisplayCaseDetails}">
                    <apex:facet name="header" ><span style="font-size: medium; padding-left:5px;"><b>Case Number: </b>{!caseDetails.CaseNumber}</span></apex:facet>
                    <!-- Tab titles -->
                    <div class="row">
                        <div class="col-sm-2">
                            <b>Subject</b><p/>
                            {!caseDetails.Subject}
                        </div>
                        <div class="col-sm-2">
                            <b>Creation Date</b><p/>
                            <apex:outputText value="{0, date, MMM dd yyyy hh':'mm z}">
                                <apex:param value="{!caseDetails.CreatedDate}" /> 
                            </apex:outputText>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <b>Status</b><p/>
                            <apex:outputText styleClass="{!IF(caseDetails.Status ='Closed', 'label label-default', 'label label-info')}" value="{!IF(caseDetails.Status ='New', 'Open', (IF(caseDetails.Status ='Closed', 'Answered', caseDetails.Status)))}"/>     
                        </div>
                        <div class="col-sm-2"></div>
                        
                    </div>
                    <div class="w3-center w3-margin-top">
                        <apex:commandLink action="{!resetDisplayState}" value="Back to Cases" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important;"/> 
                    </div>
                    <!--Tab Contents for Case Details-->
                    <div class="row" style="padding-top: 10px">
                        <div class="col-sm-12">
                            <apex:tabPanel switchType="client" selectedTab="emailTab" id="caseDetailsTabPanel" styleClass="theTabPanel" tabClass="theTabPanel" contentClass="tabContent" activeTabClass="activeTab" inactiveTabClass="inactiveTab">
                                <!-- Email Tab -->
                                <apex:tab label="Email" name="emailTab" id="emailTabid" rendered="{!hasEmails}" >
                                    
                                    <apex:repeat value="{!caseEmails}" var="caseEmail" id="caseEmailRepeatBlock" > 
                                        <apex:outputPanel styleClass="{!IF(CONTAINS(caseEmail.FromAddress, 'embraer'), 'blue', 'grey')}" layout="block">
                                            <apex:pageBlock id="caseEmailsPageBlock" >
                                                <apex:pageBlockSection columns="1" rendered="{!hasEmails}" collapsible="true" id="emailSectionBlock" ondblclick="twist(this);"> 
                                                    <apex:facet name="header">
                                                        <apex:outputPanel >
                                                            <div class="w3-row w3-margin-left" style="display:block;">
                                                                <div class="w3-twothird w3-content " style="color:black;">
                                                                    <b>From: </b>{!caseEmail.FromName} {!caseEmail.FromAddress}
                                                                </div>
                                                                <div class="w3-third w3-content " style="color:black;">
                                                                    <apex:outputText value="{0, date, MMM dd yyyy hh':'mm z}">
                                                                        <apex:param value="{!caseEmail.MessageDate}"/> 
                                                                    </apex:outputText>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="w3-normal w3-margin-left" style="color: #595959; font-style:italic; font-weight:normal;">
                                                                {!left(caseEmail.TextBody,250)}
                                                            </div>
                                                        </apex:outputPanel>
                                                    </apex:facet>
                                                    
                                                    <apex:outputPanel rendered="{!hasEmails}" style="padding:2%">
                                                        <li class="liNoStyle">
                                                            <b>From: </b>{!caseEmail.FromName} {!caseEmail.FromAddress}
                                                        </li>
                                                        <li class="liNoStyle">
                                                            <b>Date: </b>
                                                            <apex:outputText value="{0, date, MMM dd yyyy hh':'mm z}">
                                                                <apex:param value="{!caseEmail.MessageDate}"/> 
                                                            </apex:outputText>
                                                        </li>
                                                        <li class="liNoStyle">
                                                            <b>Subject: </b>{!caseEmail.Subject}
                                                        </li>
                                                        <li class="liNoStyle">
                                                            <b>Content: </b>
                                                            <p>
                                                                <apex:outputText value="{!SUBSTITUTE(JSENCODE(caseEmail.TextBody),'\n','<br/>')}" escape="false"/>
                                                            </p>   
                                                        </li>
                                                    </apex:outputPanel>
                                                    <script>
                                                    twistSection(document.getElementById('{!$Component.caseEmailRepeatBlock.caseEmailsPageBlock.emailSectionBlock}').getElementsByTagName('img')[0]);
                                                    </script> 
                                                </apex:pageBlockSection>
                                            </apex:pageBlock>
                                                </apex:outputPanel>
                                        </apex:repeat> 
                                    
                                </apex:tab>
                                <!-- Description Tab -->
                                <apex:tab label="Description" name="descriptionTab" id="descriptionTabid" >
                                    <div>
                                        <apex:outputText value="{!SUBSTITUTE(SUBSTITUTE(JSENCODE(caseDetails.Description),'\n','<br/>'),'\r','')}" escape="false" rendered="{!IF(caseDetails.Description != NULL, true, false)}"/>
                                        {!IF(caseDetails.Description != NULL, '', 'No description to be displayed')}
                                    </div>
                                </apex:tab>
                                <!-- Comment Tab -->
                                <apex:tab label="Comment" name="commentTab" id="commentTabid" rendered="{!hasComments}">
                                    <apex:repeat value="{!casePublicComment}" var="caseComment">
                                        
                                        <apex:outputPanel rendered="{!hasComments}">
                                            <li>
                                                {!SUBSTITUTE(JSENCODE(caseComment.commentText),'\n','<br/>')}
                                            </li>   
                                        </apex:outputPanel>
                                        
                                    </apex:repeat>      
                                </apex:tab>
                                <!-- Attachments Tab -->
                                <apex:tab label="Attachments" name="attachmentTab" id="attachmentTabid" rendered="{!hasAttachments}">
                                    <apex:repeat value="{!caseAttachment}" var="caseAttach">
                                        <apex:outputPanel rendered="{!hasAttachments}">
                                            <li>
                                                <strong>File: </strong>"<apex:outputText value="{!caseAttach.Name}"/>" -
                                                <apex:outputLink target="_blank" value="/servlet/servlet.FileDownload?file={!caseAttach.Id}"> Download file</apex:outputLink>
                                            </li>   
                                        </apex:outputPanel>
                                        
                                    </apex:repeat>      
                                </apex:tab>
                            </apex:tabPanel>    
                        </div>
                    </div>
                    <div class="w3-center w3-margin">
                        <apex:commandLink action="{!resetDisplayState}" value="Back to Cases" styleClass="w3-button w3-hover-blue" style="background-color: #005194; color: white !important;"/>    
                    </div>
                </apex:pageBlock>
                
                <!-- Search Results-->
                <apex:pageBlock id="searchResultsPageBlock" rendered="{!DisplaySearchResults}">
                    <apex:facet name="header" ><span style="font-size: medium; padding-left:5px;"><b>Results found for </b>"{!searchString}"</span></apex:facet>
                    <apex:dataTable value="{!resultSearch}" var="results" id="searchResultsCaseTable" styleClass="table">
                        <!-- Column for Status -->                    
                        <apex:column headerValue="Status">
                            <apex:outputText styleClass="{!IF(results.Status ='Closed', 'label label-default', 'label label-info')}" value="{!IF(results.Status ='New', 'Open', (IF(results.Status ='Closed', 'Answered', results.Status)))}"/>     
                        </apex:column>
                        
                        <!-- Column for Subject -->
                        <apex:column headerValue="Subject">
                            <apex:commandLink action="{!setupCaseDetails}" value="{!results.Subject}" reRender="casesPageForm">
                                <apex:param name="caseIDParam" value="{!results.Id}" assignTo="{!caseID}"/>
                            </apex:commandLink>
                        </apex:column>
                        
                        <!-- Column for Created -->
                        <apex:column headerValue="Created">
                            <apex:outputText value="{!results.CreatedDate}"/>
                        </apex:column>  
                    </apex:dataTable>
                    {!IF(hasSearchResults, '', "No results found.")}
                    
                </apex:pageBlock>
                
            </apex:form>
            
        </div>
        <apex:includeScript value="{!URLFOR($Resource.Tablesorter_Blue_2_17_8, 'tablesorter/js/tablesorter.min.js')}" />
        <script>  
        //Sort information on table
        $(document).ready(function($)
                          {
                              $("[id$='casesDataTable']").tablesorter({theme: 'blue', dateFormat : "mm/dd/yyyy"});
                          });
        
        $.noConflict();
        
        function twist(x){
            var i = x.id;
            twistSection(document.getElementById('img_'+i));   
        }
        </script>
        
    </body>       
</apex:page>