<apex:page Standardcontroller="Case" doctype="html-5.0" id="cases" showHeader="true" extensions="FO_MergeCaseController" recordSetVar="cases" > 
  
  <body> 
  <apex:form id="form">
  <apex:pageMessages id="mensagens"/>

     <apex:pageBlock >
       <apex:pageBlockButtons >      
            <apex:commandButton value="Save" action="{!save}" />  
            <apex:commandButton value="Cancel" action="{!Cancel}"  />
       </apex:pageBlockButtons>
         
       &nbsp;<b> Subject: </b> &nbsp;<apex:inputText size="20" id="idCase" value="{!localizarid}"  /> 
             <apex:commandButton action="{!LocalizarCase}" value="Search" /> 
       
         &nbsp;&nbsp;&nbsp;<b> Target Case </b> &nbsp; <apex:inputfield value="{!Case.ParentId}" /> 
         
       <apex:outputText value="{!msg}" style="color:green;"/>
       
       <apex:pageBlockTable value="{!lstCase}" var="item" > 
            
         <apex:column headerValue="Case Number">
            <apex:outputlink value="{!item.caso.id}">   {!item.caso.CaseNumber} </apex:outputlink>
         </apex:column>
         <apex:column headerValue="Subject">
           <apex:outputText value="{!item.caso.Subject}" />
         </apex:column>
         <apex:column headerValue="Contact Name">
           <apex:outputText value="{!item.caso.Contact.name}" />
         </apex:column>
         <apex:column headerValue="Account Name">
           <apex:outputText value="{!item.caso.Account.name}" />
         </apex:column>
         <apex:column headerValue="Status">
           <apex:outputText value="{!item.caso.Status}" />
         </apex:column>
         <apex:column headerValue="Email address">
           <apex:outputText value="{!item.caso.Contact.Email}" />
         </apex:column>
          <apex:column headerValue="Add" >
            <apex:inputCheckbox value="{!item.atribuir}" /> 
         </apex:column> 
          
        
       </apex:pageBlockTable>     
     </apex:pageBlock> 
    
  </apex:form>
  </body>
</apex:page>