<apex:page controller="FO_HighlightsCaseFeedController">
    
    <style type="text/css">
        
        .verticalLine {
        	border-right: 1px solid silver;
        	height: 100px;
        	padding : 5px;
        }
        
        .padd{
        	padding : 5px;
        }
        
        .negrito{
        	font-size:13px;
        	font-weight:bold;
        }
        
    </style> 
        
    <script src="/support/console/34.0/integration.js" type="text/javascript"></script>
    <script type="text/javascript">     
        	
        //------------------------------- update page after update case values -------------------------------
        //var refreshPrimaryTab = function showTabId(resultado) {
        //	var tabId = resultado.id;
        //    sforce.console.refreshPrimaryTabById(tabId, true);
            //window.top.location.href = '/' + tabId;
        //};
        
    	function doPrimaryTabRefresh() {
            //sforce.console.getEnclosingPrimaryTabId(refreshPrimaryTab);    
            sforce.console.getEnclosingPrimaryTabId(getPrimaryTabId);
        //sforce.console.getEnclosingTabId(getSubtabId);
            
            sforce.console.getTabLink(sforce.console.TabLink.PARENT_AND_CHILDREN, currentPrimaryTabId, refreshPrimaryTab);
    	}
    
    	var currentSubTabId; // set on page load
        var currentPrimaryTabId; // set on page load

        var getPrimaryTabId = function getPrimaryTabId (result) {
            currentPrimaryTabId = result.id;
        }

        //var getSubtabId = function getSubtabId (result) {
        //currentSubTabId = result.id;
        //}
        
         var refreshPrimaryTab = function refreshPrimaryTab (res) {
           sforce.console.openConsoleUrl(currentPrimaryTabId, res.tabLink, true, [], [], afterRefresh);
        }
    
         var afterRefresh = function afterRefresh (res) {
             //sforce.console.getEnclosingTabId(getEnclosingTab);
        }
         
         //var getEnclosingTab = function getEnclosingTab (res) {
         //    sforce.console.closeTab(res.id);
         // }
    	//------------------------------- end update page after update case values -------------------------------
    
         //---------------------------------------- open subtab ----------------------------------------------------
    	var preRecordId;
    
        function testOpenSubtab(id, name){
            
            preRecordId= id;
             if (sforce.console.isInConsole())
                sforce.console.getEnclosingPrimaryTabId(openSubtab);
             else
              window.top.location.href = '/' + id;
        }
        
        var openSubtab = function openSubtab(result){
            var primaryTabId = result.id;
            sforce.console.openSubtab(primaryTabId , '/'+preRecordId , true, 'New Tab' , null , openSuccess, 'salesforceSubtab');
        };
        
        var openSuccess = function openSuccess(result){
            //Report whether we succeeded in opening the subtab
            /*
                if (result.success == true) 
                {
                    alert('subtab successfully opened');
                } 
                else 
                {
                    alert('subtab cannot be opened');
                }
           */
        };
      //------------------------------------- end open subtab ----------------------------------------------------
    
    </script>
    
  <apex:form id="form">
            
      <div id="div1" style="width: 100%;">
    
          <table id="table1" width="100%" border="0">
              
              <tr id="tr1">
                  
                  <td id="td1" width="178px"  valign="top" class="verticalLine" >
                      
                      <br/>
                      <apex:outputLabel styleClass="negrito"><b>Customer</b></apex:outputLabel>
                      <br/>
                      <br/>
                      <a style="color: #000080;" href="#" onclick="testOpenSubtab('{!caso.ContactId}', '{!caso.Contact.Name}');return false">{!caso.Contact.Name}</a>
                      <br/>
                      <a style="color: #000080;" href="#" onclick="testOpenSubtab('{!caso.AccountId}', '{!caso.Account.Name}');return false">{!caso.Account.Name}</a>
                  
                  </td>
                  
                  <td id="td2" valign="top" style="padding : 15px;" class="verticalLine">
                      
                      <table id="table2" width="100%" border="0">
                                                    
                          <tr>
                              <span style="font-size:20px;font-weight:bold;">
                              	  <apex:outputField value="{!casoAux.Subject}">
                                      <apex:inlineEditSupport event="ondblClick" showOnEdit="saveButton"/>
                              	  </apex:outputField>
                              </span>
                          </tr>
                          <tr >
                              <br/>
                      		  <apex:outputField value="{!casoAux.FlightOps_LastComment__c}" >
                      			  <apex:inlineEditSupport event="ondblClick" showOnEdit="saveButton"/>
                      		  </apex:outputField>
                          </tr>                          
                      
                      </table>

                  </td>
                  
                  <td id="td3" width="20%" valign="top" class="padd">
                  
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <table id="table3" width="65%" border="0">                          
                          
                          <tr>
                              <td>
                                  <apex:outputLabel for="staa" styleClass="negrito" value="Status: "></apex:outputLabel>
                              </td>
                              <td>
                                  <apex:outputField id="staa" value="{!casoAux.Status}" >
                                      <apex:inlineEditSupport event="ondblClick" showOnEdit="saveButton"/>
                        		  </apex:outputField>
                              </td>
                              <td>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <apex:outputLabel for="nf" styleClass="negrito" value="Next Follow Up: "></apex:outputLabel>
                              </td>
                              <td>
                                  <apex:outputField id="nf" value="{!casoAux.Next_Follow_up__c}" >
                                      <apex:inlineEditSupport event="ondblClick" showOnEdit="saveButton"/>
                      			  </apex:outputField>
                              </td>
                              <td>
                                  <apex:commandButton style="display:none; position: relative; right: -60px;" action="{!runCaseUpdate}" onclick="doPrimaryTabRefresh()" id="saveButton" value="Save"/>
                              </td>
                              
                          </tr>
                          <tr>
                          </tr>            
                      
                      </table>
                      
                  </td>
              
              </tr>

          </table>
         
      </div>
   
  </apex:form>
</apex:page>