<apex:page docType="html-5.0" sidebar="false" showHeader="true"  standardStylesheets="false" >
<html>
<head>




    <title>Marketing CPanel</title>
    
    <script src="https://ap1.salesforce.com/soap/ajax/20.0/connection.js"></script>
    

    <style>
    .cell01:hover {background:yellow;}

    .cell02 {background:white;}

    .cell02:hover {background:yellow;}

    .btn_action
    {
    background: #1F618D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    border:0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    cursor:pointer;
    }




    </style>

    <script>
        function show_pop(Airline)
        {

            document.getElementById('show_list').style.display='none';
            document.getElementById('show_profile').style.display='';

        }

        function show_airlines(Tier,Model)
        {

        alert('Display on SIDE PANEL Tier:'+Tier+' Model:'+Model+' Airlines Details');

        }

        function back_list()
        {

            document.getElementById('show_list').style.display='';
            document.getElementById('show_profile').style.display='none';


        }


    </script>

</head>
 
<body style='font-family:Arial;'>

<table width='100%' cellpadding='10px' cellspacing='2px' border='0'>
<tr>
<td colspan='2' bgcolor='#AED6F1'>
<div style='font-size:24px;font-weight:bold;'>Europe and CIS - Market Nurturing Tool</div>
</td>
</tr>

<tr>
<td width='30%' bgcolor='#EBF5FB' valign='top'>
            <table border='0' style='font-size:14px;background:#FAFAFA;' cellpadding='8px' cellspacing='2px' width='100%'>       
            <tr>
            <td colspan='8' bgcolor='#F7DC6F'>
            <div style='font-size:18px;font-weight:bold;'>Total Airlines - Tiers vs Business Models</div>
            </td>
            </tr>
            <tr align='center' style='background:#CCCCCC;font-weight:bold;height:50px'>
            <td>Tier</td>
            <td>Main</td>
            <td>LCC</td>
            <td>Reg</td>
            <td>ACMI</td>
            <td>Leis</td>
            <td>Other</td>
            <td>Total</td>
            </tr>
            <tr align='center' style='background:#5DADE2;height:40px'>
            <td>Tier 1</td>
            <td class='cell01'><a href='#' onClick="show_airlines('Tier 1','MAIN'); return false;">12</a></td>
            <td class='cell01'>18</td>
            <td class='cell01'>7</td>
            <td class='cell01'></td>
            <td class='cell01'>1</td>
            <td class='cell01'></td>
            <td class='cell01'>38</td>
            </tr>
            <tr align='center' style='background:#85C1E9;height:40px'>
            <td>Tier 2A</td>
            <td class='cell01'>12</td>
            <td class='cell01'>2</td>
            <td class='cell01'>6</td>
            <td class='cell01'>6</td>
            <td class='cell01'>1</td>
            <td class='cell01'></td>
            <td class='cell01'>27</td>
            </tr>
            <tr align='center' style='background:#AED6F1;height:40px'>
            <td>Tier 2B</td>
            <td class='cell01'>14</td>
            <td class='cell01'>2</td>
            <td class='cell01'>6</td>
            <td class='cell01'></td>
            <td class='cell01'>5</td>
            <td class='cell01'></td>
            <td class='cell01'>27</td>
            </tr>
            <tr align='center' style='background:#D6EAF8;height:40px'>
            <td>Tier 2C</td>
            <td class='cell01'>5</td>
            <td class='cell01'>7</td>
            <td class='cell01'></td>
            <td class='cell01'>1</td>
            <td class='cell01'>7</td>
            <td class='cell01'></td>
            <td class='cell01'>20</td>
            </tr>
            <tr align='center'  style='background:#EBF5FB;height:40px'>
            <td>Tier 3</td>
            <td class='cell01'>20</td>
            <td class='cell01'>3</td>
            <td class='cell01'>60</td>
            <td class='cell01'>37</td>
            <td class='cell01'>28</td>
            <td class='cell01'>31</td>
            <td class='cell01'>179</td>
            </tr>
            <tr align='center' style='background:#CCCCCC;font-weight:bold;height:50px'>
            <td>Total</td>
            <td class='cell01'>63</td>
            <td class='cell01'>32</td>
            <td class='cell01'>79</td>
            <td class='cell01'>44</td>
            <td class='cell01'>42</td>
            <td class='cell01'>31</td>
            <td class='cell01'>291</td>
            </tr>
            </table>



</td>


<td width='70%'  bgcolor='#EBF5FB' valign='top'>




<div id='show_list'>
<table border='0' style='font-size:12px;' cellpadding='8px' cellspacing='2px' width='100%'>       
            <tr>
            <td colspan='12' bgcolor='#F7DC6F'>
            <div style='font-size:18px;font-weight:bold;'>Airlines Details</div>
            </td>
            </tr>

        <tr align='center' style='background:#CCCCCC;font-weight:bold;height:50px'>
        <td>Operator</td>
        <td>Airline Code</td>
        <td>Model</td>
        <td>Group</td>
        <td>Airline</td>
        <td>Country</td>
        <td>Sales Director</td>
        <td>AMA</td>
        <td>Category</td>
        <td>EMB Client</td>
        <td>Opportunity</td>
        <td>Action</td>
        </tr>



        <tr align='left' class='cell02'>
        <td>Ryanair</td>
        <td>FR</td>
        <td>LCC</td>
        <td>RYA</td>
        <td>Ryanair</td>
        <td>Ireland</td>
        <td>Matheus</td>
        <td>Eva</td>
        <td>Tier 1</td>
        <td>N</td>
        <td>No</td>
        <td><a href='#' onClick="show_pop('Ryanair'); return false;"  class='btn_action'>View</a></td>
        </tr>

        <tr align='left' class='cell01'>
        <td>Lufthansa</td>
        <td>LH</td>
        <td>Main</td>
        <td>LH</td>
        <td>Lufthansa</td>
        <td>Germany</td>
        <td>Steph</td>
        <td>Nico</td>
        <td>Tier 1</td>
        <td>N</td>
        <td>No</td>
        <td><a href='#' onClick="show_pop('Lufthansa'); return false;" class='btn_action'>View</a></td>
        </tr>


        </table>
</div>



<div id='show_profile' style='display:none;'>

<table border='0' style='font-size:12px;' cellpadding='8px' cellspacing='0px' width='100%'>       
            <tr>
            <td colspan='2' bgcolor='#F7DC6F'>
            <span id='airline' style='font-size:18px;font-weight:bold;'>Airline Profile</span>&nbsp;
            <a href='#' onClick="back_list(); return false;" class='btn_action'>Back to List</a>
            </td>
            </tr>
<!-- TOP ROW------------>
            <tr bgcolor='#006DC3' style='font-size:16px;font-weight:bold;'>
            <td width='50%'>
            <div style='color:#FFFFFF;'>Lufthansa</div>
            </td>
            <td  width='50%' >
            <div style='color:#FFFFFF;' align='right'>Tier 1 | Main | Steph | Nico</div>
            </td>
            </tr>


<!-- 2ND ROW OPP / CONTACTS / INFO / SWOT ------------>
<tr>
<td valign='top'>


<table border='0' style='font-size:12px;' cellpadding='8px' cellspacing='2px' width='100%'  bgcolor='#CCCCCC'>  

<tr align='left'>
        <td colspan='3' style='font-size:14px;font-weight:bold;'>Opportunities</td>
        </tr>

            <tr align='center' style='background:#5C9AD3;font-weight:bold;height:25px'>
            <td style='color:#FFFFFF;'>Timeframe</td>
            <td style='color:#FFFFFF;'>Opportunity</td>
            <td style='color:#FFFFFF;'>PWin</td>
            </tr>



        <tr align='left' class='cell02'>
        <td>Short Term</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        <tr align='left' class='cell02'>
        <td>Long Term</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>


        </table>

        <br></br><br></br><br></br>
        <table border='0' style='font-size:12px;' cellpadding='8px' cellspacing='2px' width='100%'  bgcolor='#CCCCCC'>  

<tr align='left'>
        <td colspan='4' style='font-size:14px;font-weight:bold;'>Relationship</td>
        </tr>

            <tr align='center' style='background:#5C9AD3;font-weight:bold;height:25px'>
            <td style='color:#FFFFFF;'>Name</td>
            <td style='color:#FFFFFF;'>Position</td>
            <td style='color:#FFFFFF;'>DM/DI</td>
            <td style='color:#FFFFFF;'>EMB Relationship</td>
            </tr>



        <tr align='left' class='cell02'>
        <td>Walter White</td>
        <td>President</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        <tr align='left' class='cell02'>
        <td>Joe Doe</td>
        <td>Fleet Acquisitions VP</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        <tr align='left' class='cell02'>
        <td>Vadims Rosa</td>
        <td>Operations VP</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        <tr align='left' class='cell02'>
        <td>Mary Smith</td>
        <td>Finance VP</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        </table>





</td>
<td >

        <table border='0' style='font-size:14px;font-weight:bold;' cellpadding='8px' cellspacing='3px' width='100%'>  
            <tr align='center' height='185px'>
            <td valign='top' style='background:#7372B6;border-radius: 5px;'>
            <div style='color:#FFFFFF;'>OPPORTUNITIES</div>
            </td>
            <td valign='top' style='background:#4C65C1;border-radius: 5px;'>
            <div style='color:#FFFFFF;'>THREATS</div>
            </td>
            </tr>

            <tr align='center'  height='185px'>
            <td valign='bottom' style='background:#2976C8;border-radius: 5px;'>
            <div style='color:#FFFFFF;'>STRENGHTS</div>
            </td>

            <td valign='bottom' style='background:#1393C2;border-radius: 5px;'>
            <div style='color:#FFFFFF;'>WEAKNESSES</div>
            </td>
            </tr>
        </table>
</td>
</tr>





<!-- 3RD FLEET STATUS ------------>
<tr>
<td colspan='2'>

<table border='0' style='font-size:12px;' cellpadding='8px' cellspacing='2px' width='100%' bgcolor='#CCCCCC'>  

<tr align='left'>
        <td colspan='10' style='font-size:14px;font-weight:bold;'>Fleet Status and Profitability</td>
        </tr>

            <tr align='center' style='background:#5C9AD3;font-weight:bold;height:25px'>
            <td style='color:#FFFFFF;'>Airline</td>
            <td style='color:#FFFFFF;'>IATA</td>
            <td style='color:#FFFFFF;'>Model</td>
            <td style='color:#FFFFFF;'>PBuy</td>

            <td style='color:#FFFFFF;'>Total AC</td>
            <td style='color:#FFFFFF;'>Turboprop</td>
            <td style='color:#FFFFFF;'>Jet &lt;50</td>
            <td style='color:#FFFFFF;'>Jet NB</td>
            <td style='color:#FFFFFF;'>Revenue</td>
            <td style='color:#FFFFFF;'>Margin</td>
            </tr>



        <tr align='left' class='cell02'>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        <tr align='left' class='cell02'>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        </table>
        <br>&nbsp;</br>




</td>
</tr>






<!-- 4th ROW STRATEGY / ACTIONS ------------>
<tr>
<td>

<table border='0' style='font-size:12px;' cellpadding='8px' cellspacing='2px' width='100%' bgcolor='#CCCCCC'>  

<tr align='left'>
        <td colspan='2' style='font-size:14px;font-weight:bold;'>Strategic Objectives</td>
        </tr>

            <tr align='center' style='background:#5C9AD3;font-weight:bold;height:25px'>
            <td style='color:#FFFFFF;' width='15%'>Item</td>
            <td style='color:#FFFFFF;' width='75%'>Description</td>
            </tr>



        <tr align='left' class='cell02'>
        <td>Fleet Strategy</td>
        <td>&nbsp;</td>
        </tr>


        <tr align='left' class='cell02'>
        <td>Strategic Value Proposition</td>
        <td>&nbsp;</td>
        </tr>

        
        <tr align='left' class='cell02'>
        <td>Engagement</td>
        <td>&nbsp;</td>
        </tr>

        
        <tr align='left' class='cell02'>
        <td>Specific Points of Attention</td>
        <td>&nbsp;</td>
        </tr>
        </table>




</td>

<td valign='top'>


<table border='0' style='font-size:12px;' cellpadding='8px' cellspacing='2px' width='100%' bgcolor='#CCCCCC'>  

<tr align='left'>
        <td colspan='3' style='font-size:14px;font-weight:bold;'>Action Plan</td>
        </tr>

            <tr align='center' style='background:#5C9AD3;font-weight:bold;height:25px'>
            <td style='color:#FFFFFF;' width='15%'>Due Date</td>
            <td style='color:#FFFFFF;' width='75%'>Responsible</td>
            <td style='color:#FFFFFF;' width='75%'>Description</td>
            </tr>



        <tr align='left' class='cell02'>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>


        <tr align='left' class='cell02'>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        <tr align='left' class='cell02'>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>

        <tr align='left' class='cell02'>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
        </table>




</td>


</tr>


</table>

</div>







</td>
</tr>
</table>
</body>
 
</html>


</apex:page>