<apex:page docType="html-5.0" sidebar="false" showHeader="true" standardStylesheets="false" cache="true" >
<html>
<head>

<script src="https://ap1.salesforce.com/soap/ajax/41.0/connection.js"></script>

<style>

.menu_ss
                {
                background: #259E82;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }  

                .menu_weekly
                {
                background: #346187;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }

                .menu_covid19
                {
                background: #C0392B;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }

                .menu_ejets
                {
                background: #566573;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }

                .menu_texttop
                {
                font-size: 14px;
                color: #FFFFFF;
                text-decoration: none;
                font-weight: bold;
                }



.rowacc:hover
{

                background:  yellow;
               
}


                .pipe01 {
                background:  #e6ac00;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                cursor:pointer;
                text-align:center;
                }
                .pipe02 {
                background:  #FF8C8C;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                cursor:pointer;
                text-align:center;
                }
                .pipe03 {
                background:  #ffff00;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                cursor:pointer;
                text-align:center;
                }
                .pipe04 {
                background:  #80ff00;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                cursor:pointer;
                text-align:center;
                }
                .pipe05 {
                background:  #80bfff;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                cursor:pointer;
                text-align:center;
                }
                .pipe06 {
                background:  #CCCCCC;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                cursor:pointer;
                text-align:center;
                }
                                .pipe_txt
                {
                font-size: 16px;
                color: #000000;
                text-decoration: none;
                font-weight: bold;
                }
                .pipe_txt1
                {
                font-size: 14px;
                color: #000000;
                text-decoration: none;
             
                }
                .pipe_txtnum
                {
                font-size: 20px;
                color: #000000;
                text-decoration: none;
                font-weight: bold;
                }
                .pop_box 
                {
                margin-left:70px;
                margin-top: -10px;
                width:700px;
                border-radius: 5px;
                text-align:left;
                background:#E9FFFF;
                padding:10px;
                position:absolute;
                display:none;
                border: 2px solid grey;

                }  




                .action_red
                {
                background:  #FFDCDC;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                }


                .action_green
                {
                background:  #EBFFE0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                }        



                .action_grey
                {
                background:  #FFFFA0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                }      










                body{
                //width: 1200px;
                font-family: Arial, Helvetica, sans-serif;
                }
                input[type=text], select, input[type=password],textarea
                {
                background-color: #f6f7ff;
                height: auto;
                margin: 0 auto 0 auto;
                padding:4px 4px 4px 4px;
                border: 1px solid #a8b8d6;
                -moz-border-radius:5px;
                -webkit-border-radius:5px;
                border-radius:5px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                color: #000000;
                }
                .box1
                {
                background: #CCCCCC;
                border-radius: 10px;
                padding: 5px; 
                margin-bottom: 2px; 
                text-decoration:none;}
                .box2 {
                background: #ffe699;   
                border-radius: 10px;
                padding: 5px; 
                margin-bottom: 2px; }
                .box3 {
                background: #ffff66;
                border-radius: 10px;
                padding: 5px; 
                margin-bottom: 2px; }
                .box4 {
                background: #d9ff66;
                border-radius: 10px;
                padding: 5px; 
                margin-bottom: 2px; }
                .box5 {
                background: #B7FAFF;
                border-radius: 10px;
                padding: 5px;  
                margin-bottom: 2px; }
                .box6 {
                background: #CCCCCC;
                border-radius: 10px;
                padding: 5px;
                margin-bottom: 2px; } 
                .btn2
                {
                background:  #ffc61a;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                margin-bottom: 2px; 
                }
                .btn2:hover
                {
                background: #CCCCCC;
                text-decoration: none;        
                }   











                .btn3
                {
                background:  #ffff00;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                margin-bottom: 2px; 
                }
                .btn3:hover
                {
                background: #CCCCCC;
                text-decoration: none;        
                } 
                .btn4
                {
                background:  #2AFF0A;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center; 
                margin-bottom: 2px;  }
                .btn4:hover
                {
                background: #CCCCCC;
                text-decoration: none; } 
                .btn5
                {
                background: #00BFFF;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center; 
                margin-bottom: 2px;  }
                .btn5:hover
                {
                background: #CCCCCC;
                text-decoration: none; }    
                .btn6
                {
                background: #FAFAFA;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center; 
                margin-bottom: 2px; }
                .btn6:hover
                {
                background: #CCCCCC;
                text-decoration: none; }  
                .a12
                {
                font-size: 12px;
                color: #333333;
                }   
                .link_txt1
                {
                font-size: 13px;
                color: #000000;
                text-decoration: none;
                }
                .link_txt1:hover
                {
                font-size: 13px;
                color: #000000;
                text-decoration: none;
                }
                .link_txt3
                {
                font-size: 14px;
                color: #000000;
                text-decoration: none;
                font-weight:bold;
                }
                .link_txt3:hover
                {
                font-size: 14px;
                color: #000000;
                text-decoration: none;
                font-weight:bold;
                }
                .link_txt2
                {
                font-size: 12px;
                color: #000000;
                text-decoration: none;
                }
                .btn_menu
                {
                background: #191970;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border:0;
                font-size: 16px;
                color: #FFFFFF;
                font-weight: bold;
                margin-top: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 20px;
                text-decoration: none;
                cursor:pointer;
                }
                .btn_menu:hover
                {
                background: #FFA500;
                text-decoration: none;        
                color: #000000;
                }
                .mainmenu
                {
                background: #EAEAEA;
                border:0;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-right: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
                }
                .mainrow1
                {
                font-size: 16px;
                color: #333333;
                text-decoration: none;
                }
                .mainrow
                {
                font-size: 16px;
                color: #333333;
                text-decoration: none;
                }
                .prosp
                {
                font-size: 18px;
                color: #333333;
                text-decoration: none;
                }
                .prosp1
                {
                font-size: 24px;
                color: #333333;
                text-decoration: none;
                }
                .prosp2
                {
                font-size: 14px;
                color: #000000;
                }

                .legend_text
                {
                font-size: 12px;
                color: #000000;
                text-decoration: none;
                }
                .rsm
                {
                font-size: 11px;
                color: #505050;
                text-decoration: none;
                }      






                .rowacc
                {
                font-size: 16px;
                color: #333333;
                text-decoration: none;
                }
























                .menu_top {
                background: #EAEAEA;   
                padding: 5px;
                width:100%;
                } 
                .menu_text
                {
                font-size: 18px;
                color: #FFFFFF;
                text-decoration: none;
                font-weight: bold;
                }
                .legend_text
                {
                font-size: 12px;
                color: #000000;
                text-decoration: none;
                }
                .menu_office1
                {
                background: #346187;
                //-webkit-border-radius: 10px;
                //-moz-border-radius: 10px;
                //border-radius: 10px;
                border:0;
                padding: 10px 20px 10px 20px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                                              display:inline-block;
                }  

                .menu_office1:hover
                {
                background: #4682b4;
                }         




                .menu_office
                {
                background: #4682b4;
                //-webkit-border-radius: 10px;
                //-moz-border-radius: 10px;
                //border-radius: 10px;
                border:0;
                padding: 10px 20px 10px 20px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                            display:inline-block;
                }       


                .pwin_grey
                {
                background: #CCCCCC;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border:0;
                padding: 5px 5px 5px 5px;
                text-align:center;
                text-decoration:none;
                width:25px;
                font-size: 14px;
                color: #000000;
                font-weight: bold;
                display:inline-block;
                }   



                .pwin_green
                {
                background: #40FF00;
display:inline-block;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border:0;
                padding: 5px 5px 5px 5px;
                text-align:center;
                text-decoration:none;
                width:25px;
                font-size: 14px;
                color: #000000;
                font-weight: bold;
                }    


                .pwin_yellow
                {
                background: #FFFF00;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border:0;
                padding: 5px 5px 5px 5px;
                text-align:center;
                text-decoration:none;
               width:25px;
                font-size: 14px;
                color: #000000;
                font-weight: bold;
                display:inline-block;
                }   


                .pwin_red
                {
                 background: #FADBD8;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border:0;
                padding: 5px 5px 5px 5px;
                text-align:center;
                text-decoration:none;
               width:25px;
                font-size: 14px;
                color: #000000;
                font-weight: bold;
                display:inline-block;
                }   
</style>
 
 
 
<!-- PIPELINE -->
<script>

UserRole    = '{!JSENCODE($UserRole.Name)}';
UserId      = '{!JSENCODE($User.Id)}';
UserName    = '{!JSENCODE($User.FirstName)}'+' '+'{!JSENCODE($User.LastName)}';
UserTheme   = '{!JSENCODE($User.UITheme)}';



// NAVIGATION----------------------------------------------
//SkipValue = '';
//if ('{!JSENCODE($CurrentPage.parameters.skip)}')
//SkipValue = '{!JSENCODE($CurrentPage.parameters.skip)}';


VarId = 'AMS';

if (UserRole == 'S&M DIM')
VarId = 'FLL';

if (UserRole == 'S&M')
VarId = 'AMS';

if (UserRole == 'S&M EMEA')
VarId = 'AMS';

if (UserRole == 'S&M Asia Pacific')
VarId = 'SIN';

if (UserRole == 'S&M North America')
VarId = 'FLL';

if (UserRole == 'S&M China')
VarId = 'BJS';

if (UserRole == 'S&M LATAM')
VarId = 'FLL';

if (UserRole == 'S&M MEA')
VarId = 'MEA';


var monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];


function Queryvalue(VarId,RecType1,RSMId,ViewType,YearSel,ACFamily,opportunitiesBreakdown)
{

    sforce.connection.sessionId = "{!$Api.Session_ID}";  


// OPPORTUNITY TYPE----------------------------------------------
    QueryType = " AND RecordType.Name='"+RecType1+" Aircraft Sales' ";
    
    if (RecType1 == 'All') {
    QueryType = ""; }

    if (RecType1 == 'Leadership') {
    QueryType = " and Leadership_Opportunity_report__c=true "; }


// RSM----------------------------------------------------------
    QueryRSM = " OwnerId='"+RSMId+"' ";


    if (VarId == 'AMS')
    {

            if (RSMId == 'All')
            {
            QueryRSM = " (OwnerId in ('005i0000006HRbs','0050H000009OuHI','005i0000006thyo','005i0000006tWtT')) ";
            }          

            document.getElementById('office_title_new').innerHTML = 'EMEA-EUR';
            document.getElementById('office_title').innerHTML = 'AMS';
            document.getElementById('office_face').src = '/servlet/servlet.ImageServer?id=0150H00000FksEq&oid=00Di0000000fp0q&lastMod=1504205096000';
     }


    if (VarId == 'MEA')
    {
            if (RSMId == 'All')
            {
            QueryRSM = " (OwnerId in ('0050H00000A2k8Q','005i0000006tjVZ','005i0000008wyuI')) ";
            }
            

            
            document.getElementById('office_title_new').innerHTML = 'EMEA-MEA';
            document.getElementById('office_title').innerHTML = 'MEA';

         document.getElementById('office_face').src = '/servlet/servlet.ImageServer?id=0150H00000FksEq&oid=00Di0000000fp0q&lastMod=1504205096000';
 

    }




    if (VarId == 'SIN')
    {
            if (RSMId == 'All')
            {
            QueryRSM = " (OwnerId in ('005i0000004x75S','005i0000007cn3Z','005i0000004M48y','0050H00000A1s1u')) ";
            }

            document.getElementById('office_title_new').innerHTML = 'APAC';
            document.getElementById('office_title').innerHTML = 'SIN';


           document.getElementById('office_face').src = '/servlet/servlet.ImageServer?id=0150H00000G4yxX&oid=00Di0000000fp0q&lastMod=1513720049000';
 
   

    }


    if (VarId == 'BJS')
    {
            if (RSMId == 'All')
            {
            QueryRSM = " (OwnerId in ('005i0000007bUEq','005i0000006GIkF','005i0000006GJ3q')) ";
            }
            document.getElementById('office_title_new').innerHTML = 'CHINA';
            document.getElementById('office_title').innerHTML = 'BJS';
            document.getElementById('office_face').src = '/servlet/servlet.ImageServer?id=0150H00000FltRt&oid=00Di0000000fp0q&lastMod=1507170034000';
 

    }


    if (VarId == 'FLL')
    {
            if (RSMId == 'All')
            {
            QueryRSM = " (OwnerId in ('005i0000007jq8k','005i00000051BAw','005i0000005QYH0','005i00000047CYJ','005i0000006ucHF', '0050H000009N2W2QAK', '005i0000008DP5cAAG')) ";
            }
 
             document.getElementById('office_title').innerHTML = 'FLL';   
             document.getElementById('office_title_new').innerHTML = 'AMERICAS';
             document.getElementById('office_face').src = '/servlet/servlet.ImageServer?id=0150H00000FltQb&oid=00Di0000000fp0q&lastMod=1507169201000';
     }


    document.getElementById("office_face").style.display = "block";
    if (VarId == 'Leasing')
    {
            if (RSMId == 'All')
            {
            QueryRSM = " (OwnerId in ('0050H00000ANusl')) ";
            }
    
            document.getElementById('office_title').innerHTML = 'Leasing';
            document.getElementById('office_title_new').innerHTML = 'LEASING';
            document.getElementById('office_face').src = '/servlet/servlet.ImageServer?id=0150H00000HeFY5&oid=00Di0000000fp0q&lastMod=1575572820000';
            document.getElementById("office_face").style.display = "none";
 

    }


    if (VarId == 'GLOBAL')
    {
            if (RSMId == 'All')
            {
            QueryRSM = " (OwnerId in ('005i0000004x75S','005i0000007cn3Z','005i0000004M48y','0050H00000A1s1u','005i0000006HRbs','0050H000009OuHI','005i0000006thyo','005i0000006tWtT','0050H00000A2k8Q','005i0000006tjVZ','005i0000008wyuI','005i0000007bUEq','005i0000006GIkF','005i0000006GJ3q','0050H00000ANusl','005i0000007jq8k','005i00000051BAw','005i0000005QYH0','005i00000047CYJ','005i0000006ucHF', '0050H000009N2W2QAK', '005i0000008DP5cAAG')) ";
            }
    
            document.getElementById('office_title').innerHTML = 'GLOBAL';
                        document.getElementById('office_title_new').innerHTML = 'GLOBAL';
            document.getElementById('office_face').src = '/servlet/servlet.ImageServer?id=0150H00000I1UzP&oid=00Di0000000fp0q&lastMod=1596809842000';
 

    }









//////////////////////////////////////////////////////////////////
YearCond = '';

if (YearSel == '2019')
YearCond = ' AND Y2019__c>0 ';

if (YearSel == '2020')
YearCond = ' AND Y2020__c>0 ';

if (YearSel == '2021')
YearCond = ' AND Y2021__c>0 ';

if (YearSel == '2022')
YearCond = ' AND Y2022__c>0 ';

if (YearSel == '2023')
YearCond = ' AND Y2023__c>0 ';

if (YearSel == '2024')
YearCond = ' AND Y2024__c>0 ';

if (YearSel == '2025')
YearCond = ' AND Y2025__c>0 ';



//////////////////////////////////////////////////////////////////
FamilyCond = '';



if (ACFamily == 'ERJ')
FamilyCond = " AND Aircraft_Model_1__c includes ('ERJ135','ERJ140','ERJ145') ";

if (ACFamily == 'E2')
FamilyCond = " AND Aircraft_Model_1__c includes ('E175E2','E190E2','E195E2') ";

if (ACFamily == 'E1')
FamilyCond = " AND Aircraft_Model_1__c includes ('E170E1','E175E1','E175SC','E190E1','E195E1') ";


//////////////////////////////////////////////////////////////////
    
    var OpportunitiesBreakdownCriteria = "";
    
    if (opportunitiesBreakdown == "Parent") {
        OpportunitiesBreakdownCriteria = " AND Parent_Opportunity__c = '' ";
    }
    else if (opportunitiesBreakdown == "Related") {
        OpportunitiesBreakdownCriteria = " AND Parent_Opportunity__c != '' ";
    }


// ORDER-------------------------------------------------------------
    QueryOrder = "";
    

if (ViewType == 'Kanban')
    QueryOrder = " ORDER BY Account.Name ";

if (ViewType == 'Table') {
    if (VarId == 'FLL') {
        QueryOrder = " ORDER BY Account.Geographical_Area__c DESC, Opportunity_Order__c, StageName DESC, Pwin_Score__c DESC, CloseDate";
    }
    else if (VarId == 'GLOBAL') {
        QueryOrder = " ORDER BY Opportunity_Region__c, Opportunity_Order__c, StageName DESC, Pwin_Score__c DESC, CloseDate";
    }
    else {
        QueryOrder = " ORDER BY Campaign_Priority_Order__c, StageName DESC, Pwin_Score__c DESC, CloseDate";
    }
}

// TABLE RESET-----------------------------------------------------------
TableContent = '<table width="100%" class="prosp2" cellspacing="0px" cellpadding="5px" border="1px" id="table_view" style="display:none;">'+
'<tr  align="middle" height="60px" bgcolor="#FAFAFA">'+
'<td  width="2%"><b><span>Priority</span></b></td>'+
'<td  width="8%"><b><span><b>REGION</b></br>Stage</span></b><br>PBuy/PWin<br></td>'+
'<td  width="16%"><b><span>Opportunity</span></b></td>'+
'<td  width="4%"><b><span>Leasing Company</span></b></td>'+
'<td  width="6%"><b><span>Timeframe to Close</span></b></td>'+
'<td  width="6%"><b><span>A/C Model</span></b></td>'+
'<td  width="2%"><b><span>Firm Order</span></b></td>'+
'<td  width="2%"><b><span>2021</span></b></td>'+
'<td  width="2%"><b><span>2022</span></b></td>'+
'<td  width="2%"><b><span>2023</span></b></td>'+
'<td  width="2%"><b><span>2024</span></b></td>'+
'<td  width="2%"><b><span>2025</span></b></td>'+
'<td  width="35%"><b><span>Sales Leadership Update</span></b><div style="font-size:11px;background:#EAEAEA;padding:3px;width:80px;">VSS Update</div></td>'+
'</tr>'+
'</table>';






document.getElementById('table_view').innerHTML = TableContent;


document.getElementById("bucket01").innerHTML = '';
document.getElementById("bucket03").innerHTML = '';
document.getElementById("bucket04").innerHTML = '';
document.getElementById("bucket05").innerHTML = '';
document.getElementById("bucket06").innerHTML = '';



// LOAD ARRAY--------------------------------------------------------
    var QryAccount="SELECT Id,Name,Account.Name,Owner.UserRole.Name,Owner.Name,RecordType.Name,Probability_c__c,Timeframe__c,StageName,Model_Type__c,Lessor_if_any__c,Order_Type__c,Leadership_Report_Firm_Order__c,Y2018__c,Y2019__c,Y2020__c,Y2021__c,Y2022__c,Y2023__c,Y2024__c,Y2025__c,Staff_Meeting_Report_Summary__c,AccountId,CloseDate,Leadership_VSS_Update__c,VSS_Opportunities_ID__c,Campaign_Origination__c,Account.BillingCountry,PWin_Current__c,Aircraft_Model_1__c,Account.PBuy_Current__c,DIM_Show_In_Meeting_Reports__c,Campaign_Priority_Order__c,"+
        "Parent_Opportunity__c, Opp_Name__c, Parent_Opportunity__r.Campaign_Priority_Order__c, Account.Geographical_Area__c, Opportunity_Region__c"+
        " FROM Opportunity WHERE IsClosed = false AND "+QueryRSM+QueryType+YearCond+FamilyCond+OpportunitiesBreakdownCriteria+QueryOrder;
   
    var getrecord=sforce.connection.query(QryAccount);
    var accountitem= new sforce.QueryResultIterator(getrecord);

        var Bucket01 = "";
        var Bucket03 = "";
        var Bucket04 = "";
        var Bucket05 = "";
        var Bucket06 = "";
        var Count01 = 0;
        var Count02 = 0;
        var Count03 = 0;
        var Count04 = 0;
        var Count05 = 0;
        var Count06 = 0;
        var CountRow = 1;
        var AccountsList = "";
    
        var year1 = 0;
        var year2 = 0;
        var year3 = 0;
        var year4 = 0;
        var year5 = 0;
        var totalOrders = 0;
        
        var previousAccountRegion = '';
        var currentAccountRegion = '';
    
        var previousGlobalRegion = '';
        var currentGlobalRegion = '';
        var summaryRegions = [];
    
        var summaryRowLatinAmerica = {index:-1, region:"LATIN AMERICAN AND CARIBBEAN", year1:0, year2:0, year3:0, year4:0, year5:0, total:0};
        var summaryRowNorthAmerica = {index:-1, region:"NORTH AMERICA", year1:0, year2:0, year3:0, year4:0, year5:0, total:0};
    
    while (accountitem.hasNext())
    {
            var accnamearray = new Array();
            var record =accountitem.next();
            accnamearray[0]= record.Id;
            accnamearray[1]= record.Name;
            OppName        = record.Name;
            OwnerRole        = record.Owner.UserRole.Name;
            accnamearray[2]= record.Account.Name;               
            accnamearray[3]= record.Owner.Name;   
            accnamearray[4]= record.RecordType.Name;
            accnamearray[5]= record.Probability_c__c;
            accnamearray[6]= record.Timeframe__c;               
            accnamearray[7]= record.StageName;   

            accnamearray[8]=  record.Model_Type__c;
            accnamearray[9]=  record.Lessor_if_any__c;
            accnamearray[10]= record.Order_Type__c;
            accnamearray[11]= record.Leadership_Report_Firm_Order__c;
            accnamearray[12]= record.Y2018__c;
            accnamearray[13]= record.Y2019__c;
            accnamearray[14]= record.Y2020__c;
            accnamearray[15]= record.Y2021__c;
            accnamearray[16]= record.Y2022__c;
            accnamearray[17]= record.Staff_Meeting_Report_Summary__c;
            accnamearray[18]= record.AccountId;
            accnamearray[19]= record.CloseDate;
            accnamearray[20]= record.Leadership_VSS_Update__c;
            accnamearray[21]= record.VSS_Opportunities_ID__c;
            accnamearray[22]= record.Campaign_Origination__c;
            accnamearray[23]= record.Account.BillingCountry;     
            accnamearray[24]= record.Y2023__c; 
            NewModel= record.Aircraft_Model_1__c; 
            ContentPWin1    = record.PWin_Current__c;
            ContentPBuy   = record.Account.PBuy_Current__c;
            Campaign_Priority = record.Campaign_Priority_Order__c;
            Y2024 = record.Y2024__c; 
            Y2025 = record.Y2025__c;
                    
            var parentOpportunity = record.Parent_Opportunity__c;
            var currentAccountRegion = record.Account.Geographical_Area__c == null ? "" : record.Account.Geographical_Area__c.toUpperCase();
            var currentGlobalRegion = record.Opportunity_Region__c == null ? "" : record.Opportunity_Region__c.toUpperCase();
        
            if(currentAccountRegion == 'LATIN AMERICA') {
                currentAccountRegion += ' AND CARIBBEAN';
            }
        
            if(parentOpportunity != null) {
                Campaign_Priority = record.Parent_Opportunity__r.Campaign_Priority_Order__c;
            }


// OFFICE DETERMINATION---------------------------------------------------------

ROffice = '';
if (OwnerRole == 'S&M North America')
ROffice = 'AMERICAS';

if (OwnerRole == 'S&M LATAM')
ROffice = 'AMERICAS';

if (OwnerRole == 'S&M')
ROffice = 'LEASING';

if (OwnerRole == 'S&M China')
ROffice = 'CHINA';

if (OwnerRole == 'S&M EMEA')
ROffice = 'EMEA';

if (OwnerRole == 'S&M Asia Pacific')
ROffice = 'APAC';



       BgPriority = '#cccccc';
       if (Campaign_Priority == '1')
       BgPriority = '#ffb3b3';



        if (Campaign_Priority == '4')
        CPriority = '<td align=center>&nbsp;</td>';
        else
        CPriority = '<td align=center><b><span style="font-size:25px;background:'+BgPriority+';padding:6px;">'+Campaign_Priority+'</span></b></td>';
        
        if(parentOpportunity != null) {
            CPriority = '<td align=center><b><span style="font-size:25px;padding:6px;">➥</span></b></td>';
        }


        if (accnamearray[23] == null)
        accnamearray[23] = "";

        if (accnamearray[11] == null)
        QtyAC = "";
        else
        QtyAC = parseInt(accnamearray[11]);

        if (accnamearray[9] == null)
        Leasing = "";
        else
        Leasing = " " + accnamearray[9];     

        if (accnamearray[22] == null)
        Origin = "";
        else
        Origin = " " + accnamearray[22];    

        if (accnamearray[8] == null)
        accnamearray[8] = '';

        if (NewModel == null)
        NewModel = '--';


// KANBAN VIEW-------------------------------------------------------------------------------  
        LinkCell = "<a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'><b>";
        
        LinkBody = LinkCell + accnamearray[2] + "</b><br>"+QtyAC+" "+accnamearray[8]+Leasing+"<br><span class='a12'>"+accnamearray[3]+"</span></a></div>";           

        if (accnamearray[7] == 'Business Development'  
        || accnamearray[7] == 'Prospecting'
        || accnamearray[7] == 'RFI'        
        )
        { 
             Bucket01 = Bucket01 + "<div class='btn2'>" + LinkBody;
             Count01 = Count01+1;
        }
 
         if (accnamearray[7] == 'LOI/Proposal Negotiation' 
         || accnamearray[7] == 'Contract Negotiation & Review'
         || (accnamearray[7] == 'LOI/Proposal (informal RFP)')
         || (accnamearray[7] == 'LOI/Proposal (formal RFP)')        
         )
        {
            Bucket03 = Bucket03 + "<div class='btn4'>" + LinkBody;
            Count03 = Count03+1;
        }

         if (accnamearray[7] == 'Closed Won')
        {
            Bucket04 = Bucket04 + "<div class='btn5'>" + LinkBody;
            Count04 = Count04+1;
        }

         if (accnamearray[7] == 'Closed Lost' || accnamearray[7] == 'Closed Dropped')
        {
            Bucket05 = Bucket05 + "<div class='btn6'>" + LinkBody;
            Count05 = Count05+1;
        }

        if (accnamearray[7] == 'Suspended')
        {
            Bucket06 = Bucket06 + "<div class='btn6'>" + LinkBody;
            Count06 = Count06+1;
        }




        document.getElementById("bucket01").innerHTML = Bucket01;
        document.getElementById("bucket03").innerHTML = Bucket03;
        document.getElementById("bucket04").innerHTML = Bucket04;
        document.getElementById("bucket05").innerHTML = Bucket05;
        document.getElementById("bucket06").innerHTML = Bucket06;


// TABLE VIEW--------------------------------------------------------------

// timeframe---------------------------------------------------------------
        Cell01 = "<td align=center>"+accnamearray[6]+"<br><span class='rsm'>"+monthNames[eval(accnamearray[19].substring(5,7))-1]+"</span></td>";
 

// probability-------------------------------------------------------------
        if (accnamearray[5] == null)
        Cell02 = "<td>&nbsp;</td>";
        if (accnamearray[5] == 'High')
        Cell02 = "<td bgcolor='#C4D79B'>"+accnamearray[5]+"</td>";
        if (accnamearray[5] == 'Medium')
        Cell02 = "<td bgcolor='#FFFF00'>"+accnamearray[5]+"</td>";
        if (accnamearray[5] == 'Low')
        Cell02 = "<td bgcolor='#FCD5B4'>"+accnamearray[5]+"</td>";

        Cell02 = "<td align='center' id='PWin_"+accnamearray[0]+"' ></td>";


// account/rsm-------------------------------------------------------------
        //var opportunityName = record.Opp_Name__c;
        var opportunityName = OppName;
        Cell03 = "<td class='rowacc'><a href='/" + accnamearray[0] + "' target=_blank><b>"+accnamearray[2]+"<br>"+opportunityName+"</b></a><br><span class='rsm'>["+accnamearray[23]+"]<br>"+accnamearray[3]+"</span></td>";

// model---------------------------------------------------------------
        NewModel = NewModel.replace(/;/g, "<br>");
        Cell04 = "<td align=center>"+NewModel+"</td>";

// leasing company-------------------------------------------------------------
        if (accnamearray[9] == null)
        Cell05 = "<td>&nbsp;</td>";
        else
        Cell05 = "<td>"+accnamearray[9]+"</td>";
        if (accnamearray[22] == null)
        Cell22 = "<td>&nbsp;</td>";
        else
        Cell22 = "<td><span class='rsm'>"+accnamearray[22]+"</span></td>";

// stage---------------------------------------------------------------------
        Cell06Color = '#FFFFFF';
        if (accnamearray[7] == 'Contract Negotiation')
        Cell06Color = '#A6E51D';
        if (accnamearray[7] == 'Proposal')
        Cell06Color = '#F1F93D';
        if (accnamearray[7] == 'LOI/Proposal (informal RFP)')
        Cell06Color = '#F1F93D';
        if (accnamearray[7] == 'LOI/Proposal (formal RFP)')
        Cell06Color = '#E5E220';
        if (accnamearray[7] == 'RFI')
        Cell06Color = '#FACA6B';
        if (accnamearray[7] == 'Business Development')
        Cell06Color = '#FACA6B';
        if (accnamearray[7] == 'Prospecting')
        Cell06Color = '#FADBD8';

//PBuy--------------------------------------------------------------------
        if (ContentPBuy == null)
        ContentPBuy = 0;
        else
        ContentPBuy = parseInt(ContentPBuy);

        if (ContentPBuy>0 && ContentPBuy<40)
        ContentPBuy = "<div class=pwin_red>"+parseInt(ContentPBuy)+"<span class=a12>%</span></div>";

        if (ContentPBuy>=40 && ContentPBuy<70)
        ContentPBuy = "<div class=pwin_yellow>"+parseInt(ContentPBuy)+"<span class=a12>%</span></div>";

        if (ContentPBuy>=70)
        ContentPBuy = "<div class=pwin_green>"+parseInt(ContentPBuy)+"<span class=a12>%</span></div>";

        if (ContentPBuy == 0)
        ContentPBuy = "<div class=pwin_grey>&nbsp;</span></div>";


        if (ContentPWin1 == null)
        ContentPWin1 = 0;
        else
        ContentPWin1 = parseInt(ContentPWin1);

        if (ContentPWin1<40)
        ContentPWin1 = "<div class=pwin_red>"+parseInt(ContentPWin1)+"<span class=a12>%</span></div>";

        if (ContentPWin1>=40 && ContentPWin1<70)
        ContentPWin1 = "<div class=pwin_yellow>"+parseInt(ContentPWin1)+"<span class=a12>%</span></div>";

        if (ContentPWin1>=70)
        ContentPWin1 = "<div class=pwin_green>"+parseInt(ContentPWin1)+"<span class=a12>%</span></div>";




if (VarId == 'GLOBAL')
Cell06 = "<td bgcolor='"+Cell06Color+"' align='center' width='200px'><b>"+ROffice+"</b><br>"+accnamearray[7]+"<br></br>"+ContentPBuy+"&nbsp;"+ContentPWin1+"</td>";
else
Cell06 = "<td bgcolor='"+Cell06Color+"' align='center' width='200px'>"+accnamearray[7]+"<br></br>"+ContentPBuy+"&nbsp;"+ContentPWin1+"</td>";
   
   
   
        //Cell06 = "<td bgcolor='"+Cell06Color+"' align='center' width='200px'><b>"+ROffice+"</b><br>"+accnamearray[7]+"</td>";
 
        //Cell06 = "<td bgcolor='"+Cell06Color+"'>"+accnamearray[7]+"<br>"+Pwin_Score__c+"</td>";

// total-----------------------------------------------------------------------
        if (accnamearray[11] == null)
        Cell07 = "<td>&nbsp;</td>";
        else
        Cell07 = "<td align='center' style='font-size:20px;font-weight:bold;'><b>"+parseInt(accnamearray[11])+"</b></td>";

// years-----------------------------------------------------------------------
        if (accnamearray[15] == null)
        Cell10 = "<td>&nbsp;</td>";
        else
        Cell10 = "<td align='center' class='prosp'>"+parseInt(accnamearray[15])+"</td>";

        if (accnamearray[16] == null)
        Cell11 = "<td>&nbsp;</td>";
        else
        Cell11 = "<td align='center' class='prosp'>"+parseInt(accnamearray[16])+"</td>";
        
        if (accnamearray[24] == null)
        Cell12 = "<td>&nbsp;</td>";
        else
        Cell12 = "<td align='center' class='prosp'>"+parseInt(accnamearray[24])+"</td>";

        if (Y2024 == null)
        Cell_Y2024 = "<td>&nbsp;</td>";
        else
        Cell_Y2024 = "<td align='center' class='prosp'>"+parseInt(Y2024)+"</td>";
        
        if (Y2025 == null)
        Cell_Y2025 = "<td>&nbsp;</td>";
        else
        Cell_Y2025 = "<td align='center' class='prosp'>"+parseInt(Y2025)+"</td>";


// link----------------------------------------------------------------
        Cell14 = "<td align='center'><a href='/" + accnamearray[0] + "' target=_blank>View</a></td>";

// VSS-----------------------------------------------------------------
        LinkVSS = "";
        if (accnamearray[21] != null)
        LinkVSS = "<a href='/" + accnamearray[21] + "' target=_blank>VSS Link</a>";

        if (accnamearray[20] == null)
        accnamearray[20] = "";

        if (accnamearray[17] == null)
        accnamearray[17] = "";

        Cell15 = "<td class='link_txt2'><span style='font-size:12px;'>"+accnamearray[20]+"</span>"+LinkVSS+"</td>";

        VSSPiece = "";
        if (accnamearray[20] != '' && accnamearray[20] != 'N/A')
        VSSPiece = "<div style='background:#EAEAEA;padding:5px;'>"+accnamearray[20]+LinkVSS+"</div>";

        Cell13 = "<td class='link_txt2'><div style='padding:5px;font-size:13px;'>"+accnamearray[17]+"</div>"+VSSPiece+"</td>";



    if (accnamearray[7] != 'Closed Lost' 
    && accnamearray[7] != 'Closed Dropped' 
    && accnamearray[7] != 'Archived' 
    && accnamearray[7] != 'Archive Won' 
    && accnamearray[7] != 'Closed Won'
    && accnamearray[18] != '0010H00002KDByWQAX') // BJS Projects
    {
    var table = document.getElementById("table_view");
    
    var row = table.insertRow(CountRow);
    row.innerHTML = CPriority+Cell06+Cell03+Cell05+Cell01+Cell04+Cell07+Cell10+Cell11+Cell12+Cell_Y2024+Cell_Y2025+Cell13;
    row.style.background='#FFFFFF';
    CountRow = CountRow+1;
    AccountsList = AccountsList+"'"+accnamearray[0]+"',";
        
    var currentYear1 = parseInt((accnamearray[15] == null || parentOpportunity != null) ? 0 : accnamearray[15]);
    var currentYear2 = parseInt((accnamearray[16] == null || parentOpportunity != null) ? 0 : accnamearray[16]);
    var currentYear3 = parseInt((accnamearray[24] == null || parentOpportunity != null) ? 0 : accnamearray[24]);
    var currentYear4 = parseInt((Y2024 == null || parentOpportunity != null) ? 0 : Y2024);
    var currentYear5 = parseInt((Y2025 == null || parentOpportunity != null) ? 0 : Y2025);
    var currentTotal = parseInt((accnamearray[11] == null || parentOpportunity != null) ? 0 : accnamearray[11]);
        
    year1 += currentYear1;
    year2 += currentYear2;
    year3 += currentYear3;
    year4 += currentYear4;
    year5 += currentYear5;
    totalOrders += currentTotal;
        
        //alert(VarId + '|' + currentAccountRegion + '|' + (CountRow-1) + '|L' + summaryRowLatinAmerica.index + '|N' + summaryRowNorthAmerica.index);
    
    var previousRegion = (VarId == 'FLL' ? previousAccountRegion : previousGlobalRegion);
    var currentRegion = (VarId == 'FLL' ? currentAccountRegion : currentGlobalRegion);
        
    if(VarId == 'GLOBAL' || VarId == 'FLL') {
        if(currentRegion != previousRegion) {
            if(summaryRegions.length > 0) {
                //summaryRegions.push({index:CountRow-1+summaryRegions.length, region:summaryRegions[summaryRegions.length-1].region, year1:0, year2:0, year3:0, year4:0, year5:0, total:0});
            }
            summaryRegions.push({index:CountRow-1+summaryRegions.length, region:currentRegion, year1:0, year2:0, year3:0, year4:0, year5:0, total:0});
        }
        summaryRegions[summaryRegions.length-1].year1 += currentYear1;
        summaryRegions[summaryRegions.length-1].year2 += currentYear2;
        summaryRegions[summaryRegions.length-1].year3 += currentYear3;
        summaryRegions[summaryRegions.length-1].year4 += currentYear4;
        summaryRegions[summaryRegions.length-1].year5 += currentYear5;
        summaryRegions[summaryRegions.length-1].total += currentTotal;
        
        previousGlobalRegion = currentGlobalRegion;
        previousAccountRegion = currentAccountRegion;
    }
    
    }

        
   }
       
    // SUBTOTAL
    for(var i=0; i<summaryRegions.length; i++) {
        var row = table.insertRow(summaryRegions[i].index);
        row.innerHTML = '<td colspan="6"><b>'+ summaryRegions[i].region +'</b></td>'+
            "<td align='center' style='font-size:20px;font-weight:bold;'><b>"+summaryRegions[i].total.toLocaleString('en-US', {maximumFractionDigits:0})+"</b></td>"+
            "<td align='center' class='prosp'>"+summaryRegions[i].year1.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" +
            "<td align='center' class='prosp'>"+summaryRegions[i].year2.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
            "<td align='center' class='prosp'>"+summaryRegions[i].year3.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
            "<td align='center' class='prosp'>"+summaryRegions[i].year4.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
            "<td align='center' class='prosp'>"+summaryRegions[i].year5.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
            '<td></td>';
        row.style.background='#EEE';
    }
    
    // TOTAL
    var row = table.insertRow(1);
    row.innerHTML = '<td colspan="6"><b>TOTAL</b></td>'+
        "<td align='center' style='font-size:20px;font-weight:bold;'><b>"+totalOrders.toLocaleString('en-US', {maximumFractionDigits:0})+"</b></td>"+
        "<td align='center' class='prosp'>"+year1.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" +
        "<td align='center' class='prosp'>"+year2.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
        "<td align='center' class='prosp'>"+year3.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
        "<td align='center' class='prosp'>"+year4.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
        "<td align='center' class='prosp'>"+year5.toLocaleString('en-US', {maximumFractionDigits:0})+"</td>" + 
        '<td></td>';
    row.style.background='#EEE';
    
    if (ViewType == 'Kanban')
    {
    document.getElementById('kanban_view').style.display = '';
    document.getElementById('table_view').style.display = 'none';
    }

    if (ViewType == 'Table')
    {
    document.getElementById('kanban_view').style.display = 'none';
    document.getElementById('table_view').style.display = '';
    }


    var len = AccountsList.length;
    AccountsList = AccountsList.substring(0,len-1);

}

function change_office(VarId)
{


        if (VarId == 'GLOBAL')
        {
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+ 
        "<option value='' disabled>-------APAC</option>"+            
        "<option value='005i0000007cn3Z'>Andy Tan</option>"+
        "<option value='005i0000004x75S'>Fernando Mainardi</option>"+   
        "<option value='005i0000004M48y'>Paulo Cervantes</option>"+
        "<option value='0050H00000A1s1u'>Vasuki Prasad</option>"+  
        "<option value='' disabled>-------CHINA</option>"+            
        "<option value='005i0000007bUEq'>Yun Li</option>"+
        "<option value='005i0000006GJ3q'>John Sheng</option>"+
        "<option value='005i0000006GIkF'>Aurora Zhang</option>"+    
        "<option value='' disabled>-------EMEA</option>"+       
        "<option value='005i0000006HRbs'>Stephan Hannemann</option>"+
        "<option value='0050H000009OuHI'>Paul Ruys</option>"+
        "<option value='005i0000006thyo'>Matheus Lima</option>"+
        "<option value='005i0000006tWtT'>William Ast</option>"+
         "<option value='0050H00000A2k8Q'>Gad Wavomba</option>"+
        "<option value='005i0000008wyuI'>Rolando Corradini</option>"+       
        "<option value='005i0000006tjVZ'>Francisco Moraes</option>"+       
        "<option value='' disabled>-------AMERICAS</option>"+       
        "<option value='005i0000008DP5cAAG'>Andre Cavalca</option>"+
        "<option value='005i0000006ucHF'>Fernando Lopes</option>"+
        "<option value='0050H000009N2W2QAK'>Filipe Lemos</option>"+
        "<option value='005i0000005QYH0'>Jorge Nasser</option>"+
        "<option value='005i0000007jq8k'>Mark Neely</option>"+
        "<option value='005i00000051BAw'>Rick Wharton</option>"+  
        "</select>";
        }





        if (VarId == 'AMS')
        {
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+
        "<option value='005i0000006HRbs'>Stephan Hannemann</option>"+
        "<option value='0050H000009OuHI'>Paul Ruys</option>"+
        "<option value='005i0000006thyo'>Matheus Lima</option>"+
        "<option value='005i0000006tWtT'>William Ast</option>"+
        "</select>";
        }


        if (VarId == 'MEA')
        {
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+
        "<option value='0050H00000A2k8Q'>Gad Wavomba</option>"+
        "<option value='005i0000008wyuI'>Rolando Corradini</option>"+       
        "<option value='005i0000006tjVZ'>Francisco Moraes</option>"+
        "</select>";
        }


        if (VarId == 'FLL')
        {
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+
        "<option value='005i0000008DP5cAAG'>Andre Cavalca</option>"+
        "<option value='005i0000006ucHF'>Fernando Lopes</option>"+
        "<option value='0050H000009N2W2QAK'>Filipe Lemos</option>"+
        "<option value='005i0000005QYH0'>Jorge Nasser</option>"+
        "<option value='005i0000007jq8k'>Mark Neely</option>"+
        "<option value='005i00000051BAw'>Rick Wharton</option>"+
        "</select>";
        }


        if (VarId == 'SJK')
        {    
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+
        "<option value='005i0000006ucHF'>Fernando Lopes</option>"+
        "<option value='0050H000009N2W2QAK'>Filipe Lemos</option>"+     
        "</select>&nbsp;&nbsp;&nbsp;";
        }


        if (VarId == 'BJS')
        {    
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+
        "<option value='005i0000007bUEq'>Yun Li</option>"+
        "<option value='005i0000006GJ3q'>John Sheng</option>"+
        "<option value='005i0000006GIkF'>Aurora Zhang</option>"+      
        "</select>";
        }


        if (VarId == 'SIN')
        {    
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+
        "<option value='005i0000007cn3Z'>Andy Tan</option>"+
        "<option value='005i0000004x75S'>Fernando Mainardi</option>"+
        "<option value='005i0000004M48y'>Paulo Cervantes</option>"+
        "<option value='0050H00000A1s1u'>Vasuki Prasad</option>"+      
        "</select>";
        }


        if (VarId == 'Leasing')
        {    
        document.getElementById('select_rsm').innerHTML = '<select name="rsm" id ="rsm" onChange="Change_Type(); return false;">'+
        "<option value='All' selected>All</option>"+
        "<option value='0050H00000ANusl'>Ron Baur</option>"+      
        "</select>";
        }



    document.getElementById('office_title').innerHTML = VarId;
    Change_Type();


}

function Change_Type()
{

AC_Type = document.getElementById('ac_type').options[document.getElementById('ac_type').selectedIndex].value;
RSMId = document.getElementById('rsm').options[document.getElementById('rsm').selectedIndex].value;
ViewType = document.getElementById('viewtype').options[document.getElementById('viewtype').selectedIndex].value;
YearSel = document.getElementById('year_sel').options[document.getElementById('year_sel').selectedIndex].value;
ACFamily = document.getElementById('ac_family').options[document.getElementById('ac_family').selectedIndex].value;
opportunitiesBreakdown = document.getElementById('opportunities_breakdown').options[document.getElementById('opportunities_breakdown').selectedIndex].value;

VarId = document.getElementById('office_title').innerHTML;


Queryvalue(VarId,AC_Type,RSMId,ViewType,YearSel,ACFamily,opportunitiesBreakdown);

}

</script>
</head>
<body>

<div class='menu_top'>



<div id="std_view" style='display:none;'>
    <a class='menu_weekly' href='/apex/OpportunityCPanel_SJK' target='_blank'><span class='menu_texttop'>Weekly Dashboard</span></a>&nbsp;&nbsp;
    <a class='menu_weekly' href='/apex/OpportunityCPanel_EJETS' target='_blank'><span class='menu_texttop'>EJETS Availability</span></a>&nbsp;&nbsp;
    <a class='menu_weekly' href='/apex/OpportunityCPanel_SS' target='_blank'><span class='menu_texttop'>SS Weekly Dashboard</span></a>&nbsp;&nbsp;
    <!--<a class='menu_weekly' href='/apex/SalesPipeline_Ahead' target='_blank'><span class='menu_texttop'>AHEAD Integration</span></a>-->
    <a class='menu_ss' href='/sfc/dist/version/download/?oid=00Di0000000fp0q&ids=0686S00000FFrOuQAL&d=/a/6S000000gH7H/mr8tfXSrSLHtxvIG10k5ersb9hsj.93zL_y7G2O321s&operationContext=DELIVERY&viewId=05H6S000000qpBdUAI&dpt=' target='_blank'><span class='menu_texttop'>Org<br/>Chart</span></a>&nbsp;&nbsp;
    <a class='menu_ss' href='/sfc/dist/version/download/?oid=00Di0000000fp0q&ids=0686S00000FGMOAQA5&d=/a/6S000000gHJN/CS5N0NDD3fZFwJUXBWA6NqD4SHRzeoBSIPt_0dW93x0&operationContext=DELIVERY&viewId=05H6S000000qqJdUAI&dpt=' target='_blank'><span class='menu_texttop'>TC Strategy<br/>Template</span></a>
    
</div>

<div id="light_view">
    <a class='menu_weekly' href='/one/one.app#/alohaRedirect/apex/OpportunityCPanel_SJK' target='_blank'><span class='menu_texttop'>Weekly Dashboard</span></a>&nbsp;&nbsp;
    <a class='menu_weekly' href='/one/one.app#/alohaRedirect/apex/OpportunityCPanel_EJETS' target='_blank'><span class='menu_texttop'>EJETS Availability</span></a>&nbsp;&nbsp;
    <a class='menu_weekly' href='/one/one.app#/alohaRedirect/apex/OpportunityCPanel_SS' target='_blank'><span class='menu_texttop'>SS Weekly Dashboard</span></a>&nbsp;&nbsp;
    <!--<a class='menu_weekly' href='/one/one.app#/alohaRedirect/apex/SalesPipeline_Ahead' target='_blank'><span class='menu_texttop'>AHEAD Integration</span></a>&nbsp;&nbsp;-->
    <a class='menu_ss' href='/sfc/dist/version/download/?oid=00Di0000000fp0q&ids=0686S00000FFrOuQAL&d=/a/6S000000gH7H/mr8tfXSrSLHtxvIG10k5ersb9hsj.93zL_y7G2O321s&operationContext=DELIVERY&viewId=05H6S000000qpBdUAI&dpt=' target='_blank'><span class='menu_texttop'>Org<br/>Chart</span></a>&nbsp;&nbsp;
    <a class='menu_ss' href='/sfc/dist/version/download/?oid=00Di0000000fp0q&ids=0686S00000FGMOAQA5&d=/a/6S000000gHJN/CS5N0NDD3fZFwJUXBWA6NqD4SHRzeoBSIPt_0dW93x0&operationContext=DELIVERY&viewId=05H6S000000qqJdUAI&dpt=' target='_blank'><span class='menu_texttop'>TC Strategy<br/>Template</span></a>



</div>
<br></br>





<table width="100%" cellpadding="3px" cellspacing='0px' border="0px">

<tr align='left'>
<td colspan='2'>

<a class='menu_office1' href='#' onClick="change_office('GLOBAL'); return false;"><span class='menu_text'>GLOBAL</span></a>&nbsp;&nbsp;



<a class='menu_office1' href='#' onClick="change_office('SIN'); return false;"><span class='menu_text'>APAC</span></a>&nbsp;&nbsp;
<a class='menu_office1' href='#' onClick="change_office('BJS'); return false;"><span class='menu_text'>CHINA</span></a>&nbsp;&nbsp;

<a class='menu_office1' href='#' onClick="change_office('MEA'); return false;"><span class='menu_text'>EMEA-MEA</span></a>&nbsp;&nbsp;
<a class='menu_office1' href='#' onClick="change_office('AMS'); return false;"><span class='menu_text'>EMEA-EUR</span></a>&nbsp;&nbsp;

<a class='menu_office1' href='#' onClick="change_office('FLL'); return false;"><span class='menu_text'>AMERICAS</span></a>&nbsp;&nbsp;
<a class='menu_office1' href='#' onClick="change_office('Leasing'); return false;"><span class='menu_text'>LEASING</span></a>&nbsp;&nbsp;
<!--<a href='/servlet/servlet.FileDownload?file=0150H00000Fl30z' class="box1" >Legend</a>
&nbsp;&nbsp;&nbsp;-->

<a href='/setup/ui/recordtypeselect.jsp?ent=Opportunity&retURL=%2F006%2Fo&save_new_url=%2F006%2Fe%3FretURL%3D%252F006%252Fo' class="box1" target='_blank'>New Opportunity</a><br></br>

</td>
</tr>



<tr align='left'>
<td  valign='top' width='76px'>
<img id='office_face' src='' width='70px'></img></td>
<td valign='top'>

<table border='0' cellspacing='2px' cellpadding='6px'>
<tr align='center'  class='pipe_txt1' >
<td><span class='prosp'><b><span class='prosp1'><span id='office_title' style='display:none;'></span><span id='office_title_new'></span></span></b></span> </td>
<td bgcolor='#CCCCCC' width='150px'>Sales Director</td>
<td bgcolor='#CCCCCC' width='140px'>Product Family</td>
<td bgcolor='#CCCCCC' width='120px'>Condition</td>
<td bgcolor='#CCCCCC' width='120px'>View Type</td>
<td bgcolor='#CCCCCC' width='120px'>Delivery Year</td>
<td bgcolor='#CCCCCC' width='120px'>Opportunities</td>
</tr> 
<tr align='center'  class='pipe_txt1'>
<td>Weekly<br></br>Dashboard</td>
<td bgcolor='#CCCCCC'><span id='select_rsm'></span></td>

<td bgcolor='#CCCCCC'><select name='ac_family' id ='ac_family' onChange="Change_Type(); return false;">
<option value='All'>All Models</option>
<option value='E2'>E2 Family</option>
<option value='E1'>E1 Family</option>
<option value='ERJ'>ERJ Family</option>
</select></td>

<td bgcolor='#CCCCCC'><select name='ac_type' id ='ac_type' onChange="Change_Type(); return false;">
<option value='New'>New Aircraft</option>
<option value='All' >All (New and Used)</option>
<option value='Used'>Used Aircraft</option>
</select></td>
<td bgcolor='#CCCCCC'><select name='viewtype' id ='viewtype' onChange="Change_Type(); return false;">
<option value='Table'>List View</option>
</select></td>
<td bgcolor='#CCCCCC'><select name='year_sel' id ='year_sel' onChange="Change_Type(); return false;">
<option value='All'>All Years</option>
<option value='2021'>2021</option>
<option value='2022'>2022</option>
<option value='2023'>2023</option>
<option value='2024'>2024</option>
<option value='2025'>2025</option>
</select></td>

<td bgcolor='#CCCCCC'><select name='opportunities_breakdown' id ='opportunities_breakdown' onChange="Change_Type(); return false;">
<option value='All'>All</option>
<option value='Parent'>Parent Opportunities</option>
<option value='Related'>Related Opportunities</option>
</select></td>

</tr>
</table>



</td>
</tr>
<tr>
<td colspan='2'>

</td>
</tr>




</table>
</div>



<span class='prosp1' id='weekly' style='display:none;'>Weekly Leadership Report<span class='legend_text'>&nbsp;&nbsp;
</span></span>





<table width="100%" class='prosp2' cellspacing="2px" cellpadding="5px" border="0px" id='table_view' style='display:none;background:#CCCCCC'>
</table>





<table width="100%" cellspacing="3px" cellpadding="5px" border="0px" id='kanban_view'>
<tr  align="middle" height="60px" class="mainrow1">
<td  class="box2"  width="20%"><b><span class='prosp'>PROSPECTS</span></b></td>
<td  class="box4"  width="20%"><b><span class='prosp'>CAMPAIGNS</span></b></td>
<td  class="box1"  width="20%"><b><span class='prosp'>SUSPENDED</span></b></td>
<td  class="box5"  width="20%"><b><span class='prosp'>Closed Won</span></b></td>
<td  class="box6"  width="20%"><b><span class='prosp'>Closed Lost or Dropped</span></b></td>
</tr>
 

<tr align='center' height='40px' id='RowAMS' class='mainrow'>
<td  class="box2" valign='top'><div id='bucket01'></div></td>
<td  class="box4" valign='top'><div id='bucket03'></div></td>
<td  class="box1" valign='top'><div id='bucket06'></div></td>
<td  class="box5" valign='top'><div id='bucket04'></div></td>
<td  class="box6" valign='top'><div id='bucket05'></div></td>
</tr>


</table>


<div id='accounts_list'></div>

<script>
change_office(VarId);

if (UserTheme == 'Theme3')
{
    document.getElementById('std_view').style.display = '';
    document.getElementById('light_view').style.display = 'none';
}

</script>


<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
</body>
</html>
</apex:page>