<apex:page docType="html-5.0" standardStylesheets="false" showHeader="false" 
           standardController="Opportunity" sidebar="false">
<apex:outputLink value="{!URLFOR( '/quote/quoteTemplateDataViewer.apexp?id=0Q0e0000000BPoO&summlid=0EHe00000000Zbv')}">PDF</apex:outputLink>
</apex:page>