<apex:page standardController="Case" extensions="CaseStatusReportController" 
           showHeader="false" sidebar="false" showChat="false" standardStylesheets="false" docType="html-5.0">
  <style>
     td {
      vertical-align:top;
      text-align : center;
      
      }
     label {
      font-weight:bold;
     }
     .header {
        font-weight:bold;
        font-size:40px;
        font-family: Aharoni, Arial; <!--Aharoni, Arial-->
        <!--text-shadow: 2px 2px #BEBEBE;-->
        text-transform:uppercase;
        color: #333333;
      }
     .texto
     {
        font-weight:bold;
        font-size:20px;
        font-family: Malgun Gothic, Calibri, Arial;
      }
     .dataHora
     {
        font-weight:bold;
        font-size:18px;
        font-family: Malgun Gothic, Calibri, Arial;
        color:#000000;
        text-decoration:none;
      }
     .percentuais
     {
        font-weight:bold;
        font-size:20px;
        font-family: Malgun Gothic, Calibri, Arial;
        color:#FFFFFF;
        text-decoration:none;
        margin:5px;
      }
     .posQtdeVermelho {
        font-size: 30px;
        color: white;
        font-family: Malgun Gothic, Calibri, Arial;
        font-weight:bold;
        background-color:#fa2d05; <!--8B0000-->
        display:block;
        border-radius:20px;
        width:75px;
        text-align:center;
        line-height:67px;
        height:70px;
        margin:auto;
        margin-bottom:2px;
     }
     .posQtdeAmarelo {
        font-size: 30px;
        font-family: Malgun Gothic, Calibri, Arial;
        font-weight:bold;
        background-color:#f7d239; <!--FFFF00-->
        display:block;
        border-radius:20px;
        width:75px;
        text-align:center;
        line-height:67px;
        height:70px;
        margin:auto;
        margin-bottom:2px;
        color:#333333;
     }
     .posQtdeVerde {
        font-size: 30px;
        font-family: Malgun Gothic, Calibri, Arial;
        font-weight:bold;
        color: white;
        background-color:#14A76C; <!--008B00-->
        display:block;
        border-radius:20px;
        width:75px;
        text-align:center;
        line-height:67px;
        height:70px;
        margin:auto;
        margin-bottom:2px
     }
     .sla {
        background-color:#2C3E50; <!--287aff-->
        color:#FFFFFF; 
        font-weight:bold;
        border:0;
        font-family: Malgun Gothic, Calibri, Arial;
     }
     .tabelas {
        border-collapse: collapse;
        padding:0px;
        margin:0px;
     }
     table.tabelas tr td{ 
        border: 0px;  
    }
    .labelSLA {
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .colunaLateralSLA {
        background-color:#2C3E50; 
        color:#FFFFFF; 
        font-weight:bold;
        border:0;
        font-family: Malgun Gothic, Calibri, Arial;
        text-align:left; 
        height:70px;
        vertical-align:middle;
    }    
  </style>
  <script type="text/javascript">
    
    setInterval('window.location.reload()', {!$Label.TrafficLightInterval});
    
    window.onload = function() { 
     if( (typeof sforce != 'undefined') && (sforce != null) ) 
     {     
       var tempoRestante = document.getElementById('tempoRestante');
       tempoRestante.style.fontSize="15px";
       var elementos = document.getElementsByClassName('header');
       for ( var i = 0; i < elementos.length; i++ )
       {
         elementos[i].style.fontSize="25px";
       }
       var linkBackhome = document.getElementById('back');
       linkBackhome.style.display="none";
     }
   } 
   
    function srcUp(url)
    {
      window.open(url);
    }
  </script>
  <center>
  <table class="tabelas" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>      
        <table class="tabelas" border="0" cellspacing="0" cellpadding="0">        
            <tr>
              <td colspan="2" style="height:274px;"></td>
            </tr>
  <!-- PERCENTUAIS (LINHA AZUL) -->
            <tr>
              <td width="30px" class="colunaLateralSLA">          
                <div class="labelSLA">SLA</div>
              </td>
              <td width="140px" class="colunaLateralSLA">
                  <label style="margin-left:5px;">MONTH</label><br/>
                  <label style="margin-left:5px;">CURRENT DAY</label>
              </td>
            </tr>
  <!-- REMAINING TIME -->
            <!--<tr>
              <td width="170px" colspan="2" >
                  <label style="font-family:Calibri; font-weight:bold; color:#191970;
                text-shadow: 1px 1px #BEBEBE; font-size:20px; " id="tempoRestante">REMAINING TIME</label>
              </td>
            </tr> -->
        </table>      
      </td>
    <apex:repeat value="{!lstCasoWrapper}" var="caso">
      <td rowspan="3">
        <table class="tabelas" border="0" cellspacing="0" cellpadding="0">
  <!-- PRIORIDADES -->
          <tr>
            <td class="header" colspan="2" style="height:90px; width:180px; vertical-align:middle">{!caso.nomeRecType}</td>
          </tr>
  <!-- CARINHAS -->
          <tr>
              <td colspan="2" style="height:139px;">
                  <apex:image value="{!URLFOR($Resource.dashboardFaces, caso.URLCarinha)}"/> <!-- CaseStatusReport -->
              </td>
          </tr>
  <!-- TOTAIS -->
          <tr>
            <td colspan="2" style="width:180px; height:45px;">
              <label class="header">{!caso.quantidadeTotal}</label>
            </td>
          </tr>
  <!-- PERCENTUAIS (LINHA AZUL) -->
          <tr>
              <td style="text-align:right; vertical-align:middle; height:70px; width:120px;" class="sla">
                <apex:outputlink target="_blank" value="{!caso.urlReportMonth}" styleclass="percentuais">{!caso.month}</apex:outputlink><br/>
                <apex:outputlink target="_blank" value="{!caso.urlReportDay}" styleclass="percentuais">{!caso.lastDay}</apex:outputlink>
              </td>
              <td style="text-align:left; vertical-align:middle; height:60px;" class="sla">
                <apex:image value="{!URLFOR($Resource.CaseStatusReport, caso.Seta)}"/>
              </td>
          </tr>
  <!-- REMAINING TIME -->
          <tr>
           <td  colspan="2" >
          <Label class="texto">&nbsp;</Label> <!--style="color:{!caso.status};height:40px;"-->
              </td>    
          </tr> 
  <!-- SEMAFORO -->
          <tr>
              <td colspan="2">
                <div class="posQtdeVerde">{!caso.quantidadeVerde}</div>
                <div class="posQtdeAmarelo">{!caso.quantidadeAmarelo}</div>
                <div class="posQtdeVermelho">{!caso.quantidadeVermelho}</div>
              </td>
          </tr>
           <tr>
          <!--    <td colspan="2">
                <apex:outputLink value="/{!caso.idCaso}" styleClass="dataHora">{!caso.dataH}</apex:outputLink><br/>
                <apex:outputLink value="/{!caso.idCaso}" styleClass="dataHora">{!caso.hora}</apex:outputLink><br/>
                <apex:outputLink value="/{!caso.idatendente}" rendered="{!!caso.ownerIsQueue && !caso.isInBox}" styleClass="dataHora">{!caso.atendente}</apex:outputLink>
                <apex:image value="{!URLFOR($Resource.CaseStatusReport, caso.urlFotoUser)}" rendered="{!caso.ownerIsQueue && !caso.isInBox}"/>
              </td>--> 
          </tr>
        </table>
      </td>
    </apex:repeat>
    </tr>
  </table>
  </center>
    <br/><br/><br/><br/><br/>
  <div id="back"><span style="float:right"><a href="/home/home.jsp?isdtp=vw">Back home</a></span></div><br/><br/>
  <apex:pageBlock rendered="false"><div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></apex:pageBlock>
</apex:page>