<apex:page controller="ProductListController" title="Products" docType="html-5.0">
  <style>
    .numeros {text-align:right;}
  </style>
  <script>
  var waitTime = 1;
  var countDown = waitTime+1;
  var started = false;

  function resetTimer()
  {
    countDown = waitTime + 1;
    if( !started )
    {
      started=true;
      runCountDown();
    }
  }

  function runCountDown()
  {
    countDown--;
    if( countDown <= 0 )
    {
      getResults();
      started = false;
    }
    else window.setTimeout( runCountDown, 1000 );
  }
  </script>
  <apex:form >
    <apex:actionFunction name="getResults" action="{!fetchProducts}" reRender="pnlProducts"/>
    <apex:outputPanel id="pnlPreSelecao" layout="none">
      <apex:pageblock >
        <apex:outputtext value="Search:  "/>
        <apex:inputtext value="{!searchKey}" onkeydown="if(event.keyCode==13){this.blur();}else{resetTimer();}"/>
      </apex:pageblock>
    </apex:outputPanel>
    <apex:outputPanel id="pnlProducts" layout="none">
      <apex:pageBlock >
        <apex:pageBlockTable value="{!LstProducts}" var="itemPedido" id="pbtItens" width="100%">
          <apex:column headerValue="Product">
            <apex:outputlink value="/apex/ProductDetail?Id={!itemPedido.Id}">{!itemPedido.Name}</apex:outputlink>
          </apex:column>
          <apex:column headerValue="Product Code">
            <apex:outputlink value="/apex/ProductDetail?Id={!itemPedido.Id}">{!itemPedido.ProductCode}</apex:outputlink>
          </apex:column>
          <apex:column headerValue="Type" value="{!itemPedido.RecordType.Name}"/>
          <apex:column headerValue="Product Status" value="{!itemPedido.Product_Status__c}"/>
        </apex:pageBlockTable>
      </apex:pageBlock>
    </apex:outputPanel>
  </apex:form> 
</apex:page>