<apex:page showHeader="false" standardStylesheets="false" sidebar="false" standardController="Product2" extensions="FlyerExtension" lightningStylesheets="false"
           renderAs="pdf" applyBodyTag="false" applyHtmlTag="false" contentType="text/html">
	<html>

    <head>
        <style type="text/css" media="print">
            @page {
                size: A4;
                margin: 0cm 0cm 0cm 0cm;
                @top-center {
                    content: element(header);
                    padding: 0px 0px;
                }

                @bottom-left {
                    padding: 0px 0px;
                    content: element(footer);
                }
            }
			body { margin:0; }

            html {
                font-family: Arial, Helvetica, sans-serif;
            }

            p {
                margin: 0px;
                text-align: justify;
            }

            .gray {
                color: #818181;
            }
            
            .emb-blue {
                color:#100393;
                text-transform: uppercase;
                font-size : 18px;
            	padding-top: 30px;
            }
            .vss-green {
            	color:#009898;
            	text-transform: uppercase;
            	font-size : 16px;
            }
            .training-title {
            	color:black;
            	font-weight: bold;
            }
            .image-container{
         	  	padding:10px 70px 0px;
                height : 387px;
                width: 100%;            
            }            
            .white{
            	color:White;
            }
            .float-right{
            	right: 70px;
            	top: 27px;
            	position:absolute;
            	font-size: 12px;
            	text-transform: Captalize;
            }
            .float-left{
                position:absolute;
                left: 70px;
                top: 25px;
				font-size: 14px;
            	text-transform: uppercase;
            }
            .text-container {
            	margin: 10px 70px;
            }
            #box {
                position:relative;
                width:800px;
                height:387px;
                margin:0px auto;
            }
            #box img {
                position:absolute;
                width:100%;
                height:100%;
            }
            #box image-container{
                position:absolute;
                width:100%;
                height:100%;
                color:#fff;
                line-height:256px;
                text-align:center;
            }
            .invisible {
            display: none;
            visibility: hidden;
            }
        </style>
	        </head>
        <body>
            <div id="box"  style="">
                <img src="{!URLFOR($Resource[ImageName])}" alt=""/>
                
                <div class="float-left white">
                    <h1>
                        {!familiesClear}
                    </h1>                    
                </div >
                <!--<div class="float-right white " >
                    <h1>
                        {!Product2.Family}
                    </h1>
                </div>-->

                
            </div>
			<div class="invisible">
                {!Product2.Applicability__c}
            </div>
            <div class="text-container">
                
                <h1 class="emb-blue" style="font-size: 20px; padding-top:10px;">
                    {!Product2.Name}
                </h1>
                <h2 class="vss-green">
                    {!Product2.Commercial_Title__c}
                </h2>
                <p class="">
                    {!Product2.Commercial_Description__c}
                </p>
                <h1 class="emb-blue">
                    Key Benefits
                </h1>
                <h3 >
                    <apex:outputField value="{!Product2.Benefits__c}"/>
                </h3>
                <apex:outputPanel rendered="{!showTrainingFields}">
                    <h1 class="emb-blue">
                        Training
                    </h1>
                    <p class="">
                        Course Duration - {!Product2.Course_Duration__c}
                    </p>
                    <p class="">
                        Maximum number of trainees - {!Product2.Maximum_Number_of_Trainees__c}
                    </p>
                    <p class="">
                        Minimum number of trainees - {!Product2.Minimum_Number_of_trainees__c}
                    </p>
                </apex:outputPanel>
                
                <h1 class="emb-blue">
                    Our goal is to make your life easier
                </h1>
                <p class="">
                    For more informations about {!Product2.Name}, please contact out CS&amp;S Team (Embraer Customer Account Managers or Techinical Respresentatives)
                </p>
            </div>
        </body>
        
    </html>

</apex:page>