<apex:page controller="PublicCalendarsHomePageButtonController">


<apex:form >

    <apex:pageBlock mode="edit" title="Public Calendars" tabStyle="Event">
   
   
        <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >  
                    <apex:selectList value="{!selectedCalendarId}" size="1" label="Select a Calendar" id="values" >
                        <apex:selectOptions value="{!selectedCalendarNames}"/>
                    </apex:selectList>
                    <apex:commandLink action="{!openPublicCalendarPageView}" value="Go to Calendar" target="_blank"/>
                 </apex:pageBlockSectionItem>  
                
            </apex:pageBlockSection>
     
     </apex:pageBlock>
</apex:form>

</apex:page>