<apex:page standardController="Quote" extensions="QuoteSelectProductController" sidebar="false">
<apex:sectionHeader Title="Manage {!$ObjectType.Product2.LabelPlural}" subtitle="{!quote.Name}"/>

<style>
  .centraliza { text-align: center; } 
  .customPopup{
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 50%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            width: 800px;
            margin-left: -400px;
            top:100px;
        }
  .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }
  .contador{
            font-weight:bold;
            color:grey;
  }
  .customPopupProduct{
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 50%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            width: 1000px;
            margin-left: -500px;
            top:100px;
        }
</style>

<script type="text/javascript">
  var waitTime = 1;
  var countDown = waitTime+1;
  var started = false;
    
  function resetTimer()
  {
    countDown = waitTime + 1;
    if( !started )
    {
      started=true;
      runCountDown();
    }
  }
  
  function runCountDown()
  {
    countDown--;
    if( countDown <= 0 )
    {
      resultados();
      started = false;
    }
    else window.setTimeout( runCountDown(), 1000 );
  }
  
  function checkAll(cb, cbId)
  {
    var qtdSelecionados = 0;
    var checks = document.getElementsByTagName("input");
    for(var i = 0; i < checks.length; i++ )
    {
      if(checks[i].id.indexOf(cbId)!=-1)
      {
        checks[i].checked = cb.checked;
        if ( checks[i].checked )
          qtdSelecionados++;
      }
    }
    var divContador = document.getElementsByClassName("contador");
    for ( var i = 0; i < divContador.length; i++ )
      divContador[i].innerHTML = qtdSelecionados + " selected aircraft";
  }
  
  function calculaSelecionados()
  {
    var qtdSelecionados = 0;
    var checks = document.getElementsByTagName("input");
    for(var i = 0; i < checks.length; i++ )
    {
      if(checks[i].id.indexOf("selectedAircraft")!=-1)
      {
        if ( checks[i].checked )
          qtdSelecionados++;
      }
    }
    var divContador = document.getElementsByClassName("contador");
    for ( var i = 0; i < divContador.length; i++ )
      divContador[i].innerHTML = qtdSelecionados + " selected aircraft";
  }
  
  function checkPerDiem(cb, idElemento )
  {
    if ( cb.checked )
    {
      var outroCheck = document.getElementById(idElemento);
      outroCheck.checked = false;
    }
  }
  
  var salesPriceOld;
  var discountOld;
  
  function guardaValor(idTxt, ehDiscount)
  {
    var campo = document.getElementById(idTxt);
    var valorCampo = ( campo.value == null ||  campo.value == '' ) ? 0 : parseFloat(campo.value.replace(/,/g,''));
    if ( ehDiscount ) discountOld = valorCampo;
    else salesPriceOld = valorCampo;
  }
  
  function calculaDesconto(idUnitPrice, idSalesPrice, idDiscount)
  {
    var unitPrice = document.getElementById(idUnitPrice);
    var salesPrice = document.getElementById(idSalesPrice);
    var discount = document.getElementById(idDiscount);
        
    var valorUnitPrice = ( unitPrice.value == null ||  unitPrice.value == '' ) ? '1' : unitPrice.value; //1 pois é utilizado como divisor
    var valorSalesPrice = ( salesPrice.value == null ||  salesPrice.value == '' ) ? '0' : salesPrice.value;
    var valorDiscount = ( discount.value == null ||  discount.value == '' ) ? '0' : discount.value;
     
    if ( "{!userLocale}".indexOf("zh") > -1 || "{!userLocale}".indexOf("en") > -1 )
    {
      valorUnitPrice = parseFloat(valorUnitPrice); 
      valorSalesPrice = parseFloat(valorSalesPrice.replace(/,/g,''));
      valorDiscount = parseFloat(valorDiscount.replace(/,/g,''));
    } 
    else
    {
      valorUnitPrice = parseFloat(valorUnitPrice); 
      valorSalesPrice = parseFloat(valorSalesPrice.replace(/\./g,''));
      valorDiscount = parseFloat(valorDiscount.replace(/\./g,''));
    }  
    
    if ( valorSalesPrice == salesPriceOld ) return;    
    if ( valorSalesPrice >= valorUnitPrice  )
    {
      discount.value = 0;
    }
    else
    {
      var valorDiscountCalculado = ( valorSalesPrice * 100 ) / valorUnitPrice;
      valorDiscountCalculado = parseFloat(100 - valorDiscountCalculado).toFixed(2);
      if ( "{!userLocale}".indexOf("zh") > -1 || "{!userLocale}".indexOf("en") > -1 )
      { 
        discount.value = valorDiscountCalculado;
      }
      else
      {
        discount.value = valorDiscountCalculado.replace(/\./g, ',');
      }
    }
  }
  
  function calculaPrecoVenda(idUnitPrice, idSalesPrice, idDiscount)
  {
    var unitPrice = document.getElementById(idUnitPrice);
    var salesPrice = document.getElementById(idSalesPrice);
    var discount = document.getElementById(idDiscount);
    
    //alert('primeiro - ' + unitPrice.value);
    
    var valorUnitPrice = ( unitPrice.value == null ||  unitPrice.value == '' ) ? '1' : unitPrice.value; //1 pois é utilizado como divisor
    var valorSalesPrice = ( salesPrice.value == null ||  salesPrice.value == '' ) ? '0' : salesPrice.value;
    var valorDiscount = ( discount.value == null ||  discount.value == '' ) ? '0' : discount.value;

    if ( "{!userLocale}".indexOf("zh") > -1 || "{!userLocale}".indexOf("en") > -1 )
    {
      valorUnitPrice = parseFloat(valorUnitPrice); 
      valorSalesPrice = parseFloat(valorSalesPrice.replace(/,/g,''));
      valorDiscount = parseFloat(valorDiscount.replace(/,/g,''));
    }
    else
    {

        valorUnitPrice = parseFloat(valorUnitPrice); 
        
        valorSalesPrice = valorSalesPrice.replace(/\./g,'');
        valorSalesPrice = parseFloat(valorSalesPrice.replace(/,/g,'.'));
        
        valorDiscount = valorDiscount.replace(/\./g,'');
        valorDiscount = parseFloat(valorDiscount.replace(/,/g,'.'));
    } 
    
    if ( valorDiscount == discountOld ) return;
    if ( valorDiscount <= 0 )
    {
        if ( "{!userLocale}".indexOf("zh") > -1 || "{!userLocale}".indexOf("en") > -1 )
        {
            salesPrice.value = unitPrice.value;
        }
        else
        {
            salesPrice.value = unitPrice.value.replace(/\./g, ',');
        }
    }
    else
    {
      
      var valorSales = valorUnitPrice - ( valorUnitPrice * ( valorDiscount / 100 ));      
      valorSales = parseFloat(valorSales).toFixed(2);
      if ( "{!userLocale}".indexOf("zh") > -1 || "{!userLocale}".indexOf("en") > -1 )
      {
        salesPrice.value = valorSales;
      }
      else
      {
          valorSales = valorSales.replace(/\./g,',')
          salesPrice.value = valorSales;      
      }
    }
  }
  
  function calculaMaxDiscount(idProduct2, qtd, pricing)
  {    
    calculaDescontoESolutionsJS(idProduct2, pricing);
  }  
  
  <!--Rodrigo/Susane-->
    function updateSelectedRow(idProduct2,pricing) 
    {
        updateESolutionsDiscount(idProduct2,pricing);
    }
  
</script>

<apex:form id="form">

    <apex:actionFunction name="erros" action="{!exibeErros}" status="errors"/>

    <apex:actionFunction name="calculaDescontoESolutionsJS" action="{!calculaDescontoESolutions}" rerender="Carrinho">
        <apex:param assignTo="{!idPbeSelComp}" name="idPbeSelComp" value=""/>
        <apex:param assignTo="{!princingOliSelComp}" name="princingOliSelComp" value=""/>
    </apex:actionFunction>
    
    <!--Rodrigo/Susane-->
    <apex:actionFunction name="updateESolutionsDiscount" action="{!updateESolutionsDiscount}" rerender="Carrinho">
        <apex:param assignTo="{!idProductSelectedRow}" name="idProductSelectedRow" value=""/>
        <apex:param assignTo="{!pricingSelectedRow}" name="pricingSelectedRow" value=""/>       
    </apex:actionFunction>

    <apex:pageMessages id="mensagens"/>

    <apex:outputPanel layout="block" rendered="{!NOT(mostraSelecaoPb2)}">

        <apex:pageBlock title="Selected {!$ObjectType.Product2.LabelPlural}">
            
            <apex:pageBlockButtons >
                <apex:commandButton action="{!Salvar}" value="Save"/>
                <apex:commandButton action="{!Cancelar}" value="Cancel" immediate="true"/>
                <apex:commandButton action="{!verificarSlots}" value="Verify Slot" rendered="{!( recType == recTypeTraining  || recType == recTypePilotServices )}"/>
            </apex:pageBlockButtons>
    
            <apex:pageblockTable value="{!carrinhoCompras}" var="car" id="Carrinho">
                <apex:column >
                    <apex:actionStatus id="deletar">
                        <apex:facet name="stop">
                            <apex:commandLink action="{!removeItem}" value="Delete" status="deletar" reRender="Carrinho,LstProdutos,mensagens,produtos">
                                <apex:param value="{!car.indice}" assignTo="{!countSelecionado}" name="countSelecionado"/>
                            </apex:commandLink>
                        </apex:facet>
                        <apex:facet name="start">
                            <apex:outputText value="Deleting..."/>
                        </apex:facet>
                    </apex:actionStatus>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Product
                    </apex:facet>
                    <apex:outputLink value="/{!car.opp.PriceBookEntry.Product2Id}" target="_blank"> {!car.opp.PriceBookEntry.Product2.Name} </apex:outputLink> 
                </apex:column>
                <apex:column headerValue="Code" value="{!car.opp.PriceBookEntry.Product2.productCode}"/>
                <apex:column headerValue="Pricing" rendered="{!( recType != recTypeTraining && recType != recTypePilotServices )}">
                    <apex:outputText value="{!car.opp.Princing__c}" style="width:50px"/>
                </apex:column>
                <apex:column headerValue="Unit" >
                    <apex:outputText value="{!car.opp.Unit__c}" style="width:50px"/>
                </apex:column>
                <apex:column headerValue="Quantity"  style="width:70px">
                    <apex:pageBlockSection columns="1"  >
                        <apex:inputText value="{!car.opp.Quantity}" label="" onChange="calculaMaxDiscount('{!car.opp.PricebookEntry.Product2Id}', this, '{!car.opp.Princing__c}');" style="width:50px; {!if(UPPER(car.opp.Princing__c) == 'ENTRY FEE', 'pointer-events:none', '')}" />
                        <apex:selectList onchange="updateSelectedRow('{!car.opp.PricebookEntry.Product2Id}', '{!car.opp.Princing__c}')" value="{!car.opp.ContractTimeDiscount__c}" label="Contract time discount" size="1" rendered="{!car.opp.PricebookEntry.Product2.ApplyContractTimeDiscount__c}" >
                            <apex:selectOptions value="{!contractTimeOptions}" />
                        </apex:selectList>
                        <apex:selectList value="{!car.opp.OtherEsolutions__c}" label="Other eSolutions" onchange="updateSelectedRow('{!car.opp.PricebookEntry.Product2Id}', '{!car.opp.Princing__c}')" size="1" rendered="{!car.opp.PricebookEntry.Product2.ApplyOthereSolutions__c}">
                            <apex:selectOptions value="{!otherESolutionsOptions}"/>
                        </apex:selectList>
                    </apex:pageBlockSection>
                </apex:column>
                <apex:column headerValue="Unit Price ($)">
                    <apex:inputField value="{!car.opp.UnitPrice}" id="salesPrice" onfocus="guardaValor('{!$Component.Carrinho.salesPrice}', false);" onBlur="calculaDesconto('{!$Component.Carrinho.unitPrice}', '{!$Component.Carrinho.salesPrice}', '{!$Component.Carrinho.discount}')" />
                    <apex:inputHidden value="{!car.opp.Catalogue_Price__c}" id="unitPrice"/>
                </apex:column>
                <apex:column headerValue="Discount (%)">
                    <apex:inputField value="{!car.opp.Discount__c}" style="width:50px" id="discount" onfocus="guardaValor('{!$Component.Carrinho.discount}', true);" onBlur="calculaPrecoVenda('{!$Component.Carrinho.unitPrice}', '{!$Component.Carrinho.salesPrice}', '{!$Component.Carrinho.discount}')" />
                </apex:column>
                <apex:column headerValue="Margin 0 ($)" rendered="false">
                    <apex:outputField value="{!car.opp.Margin_0__c}" />
                </apex:column>
                <!--
                <apex:column headerValue="Max Discount Aging(%)">
                    <apex:outputField value="{!car.opp.MaximumDiscountAge__c}" style="width:10px"  id="txtMaxDiscountAging"/>
                </apex:column>
                <apex:column headerValue="Max Discount Fleet(%)">
                    <apex:outputField value="{!car.opp.MaximumDiscountFleet__c}" style="width:10px"  id="txtMaxDiscountFleet"/>
                </apex:column>
                -->
      
                <apex:column headerValue="Max Discount (%)">
                    <apex:outputField value="{!car.opp.Maximum_Discount__c}" style="width:50px"  id="txtMaxDiscount" title="{!if(car.opp.MaximumDiscountAge__c == Null, '', 'Aging - ' + TEXT(car.opp.MaximumDiscountAge__c) + '%;') + if(car.opp.MaximumDiscountFleet__c == Null, '', 'Fleet - ' + TEXT(car.opp.MaximumDiscountFleet__c) + '%;') + if(car.opp.MaxDiscountContract__c  == Null, '', 'Contract - ' + TEXT(car.opp.MaxDiscountContract__c) + '%;') + if(car.opp.MaxDiscountOther__c  == Null, '', 'Other - ' + TEXT(car.opp.MaxDiscountOther__c)  + '%;') } " />
                </apex:column>
                <apex:column >
                    <apex:outputLabel value="Start Date &nbsp;" escape="false" rendered="{!( (recType == recTypeTraining || recType == recTypePilotServices || recType == recTypeeSolutions) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}"/>  
                    <apex:inputfield value="{!car.opp.Start_date__c}" rendered="{!( (recType == recTypeTraining || recType == recTypePilotServices || recType == recTypeeSolutions) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}"/>
                    <apex:outputLabel value="<br/> End Date &nbsp;&nbsp;" escape="false" rendered="{!( (recType == recTypeTraining || recType == recTypePilotServices || recType == recTypeeSolutions) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' ) }"/> 
                    <apex:inputfield value="{!car.opp.End_date__c}" rendered="{!( (recType == recTypeTraining || recType == recTypePilotServices || recType == recTypeeSolutions) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}" />
                    <apex:outputText value="<br/><br/>Country"  escape="false" rendered="{!( (recType == recTypeTraining ) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}"/>  
                    <apex:outputText value="<br/>" escape="false" rendered="{!( (recType == recTypeTraining ) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}"/>  
                    <apex:selectList value="{!car.opp.Country__c}" label="Country" size="1" rendered="{!( (recType == recTypeTraining ) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}">
                        <apex:selectOptions value="{!countryTrainingOptions}"/>
                    </apex:selectList>
                    <apex:outputText value="<br/><br/>Location" escape="false" rendered="{!( (recType == recTypeTraining  ) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}"/> 
                    <apex:outputText value="<br/>" escape="false" rendered="{!( (recType == recTypeTraining ) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}"/>  
                    <apex:inputfield value="{!car.opp.Location__c}" rendered="{!( (recType == recTypeTraining ) && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem' )}"/>        
        
                    <apex:commandButton value="Aircraft" action="{!exibeComponente}" rerender="popup" rendered="{!((recType == recProductModification || recType == recTechnicalServices) && car.opp.Princing__c != labelPrice3) || ( recType == recProductTailored) || ( recType == recTypeMaterial) || ( recType == recTypeMRO) || ( recType == recTypeeSolutions ) || (recType == recTypeMixProducts )}">
                        <apex:param value="{!car.opp.PriceBookEntryId}" assignTo="{!idPbeSelComp}" name="idPbeSelComp"/>
                        <apex:param value="{!car.opp.Princing__c}" assignTo="{!princingOliSelComp}" name="princingOliSelComp"/>
                        <apex:param value="{!car.opp.PricebookEntry.Product2.ApplyFleetDiscount__c}" assignTo="{!applyFleetDiscount}" name="applyFleetDiscount"/>
                        <apex:param value="{!car.opp.PricebookEntry.Product2.ApplyAgingDiscount__c}" assignTo="{!applyAgeDiscount}" name="applyAgeDiscount"/>
                        <apex:param value="{!car.opp.PricebookEntry.Product2.Applicability__c}" assignTo="{!productApplicability}" name="productApplicability"/>
                    </apex:commandButton>
                    
                    <apex:outputText value="Region" rendered="{!( ( recType == recTypeTraining || recType == recTypePilotServices ) && car.opp.PricebookEntry.Product2.ProductCode == 'Per Diem')}"/> &nbsp;  
                    <apex:selectList value="{!car.opp.Region__c}" label="Region" size="1" rendered="{!( ( recType == recTypeTraining || recType == recTypePilotServices ) && car.opp.PricebookEntry.Product2.ProductCode == 'Per Diem')}">
                        <apex:selectOptions value="{!regionTrainingOptions}"/>
                    </apex:selectList>
                </apex:column>
                <apex:column style="text-align:center;">
        
                    <apex:image value="{!car.opp.Slot_Image__c}" onclick="erros()" rendered="{!if ( recType == recTypeTraining && car.opp.PricebookEntry.Product2.ProductCode != 'Per Diem', true, false)}"/>
                
                    <apex:commandButton value="Per Diem" action="{!exibeValoresPerDiem}" rerender="popupPerDiem" rendered="{!( ( recType == recTypeTraining || recType == recTypePilotServices ) && car.opp.PricebookEntry.Product2.ProductCode == 'Per Diem')}">
                        <apex:param value="{!car.opp.PriceBookEntryId}" assignTo="{!idPbeSelComp}" name="idPbeSelComp"/>
                        <apex:param value="{!car.opp.Training_id__c}" assignTo="{!idPbeSelTrainingId}" name="idPbeSelTrainingId"/>
                        <apex:param value="{!car.indice}" assignTo="{!countSelecionado}" name="countSelecionado"/>
                    </apex:commandButton>
             
                </apex:column>
     
            </apex:pageblockTable>
        </apex:pageBlock>

        <apex:outputPanel id="produtos">
            <apex:pageBlock >
                <apex:outputPanel >
                    <b>Search for {!$ObjectType.Product2.LabelPlural}: </b> 
                </apex:outputPanel>
                <apex:actionRegion renderRegionOnly="false" immediate="true">
                    <apex:actionFunction name="resultados" action="{!carregarProdutos}" reRender="LstProdutos" status="sitBusca"/>
                    <apex:inputText value="{!busca}" onkeyup="if(event.keyCode==13){this.blur();}else{resetTimer();}" style="width:300px"/>
                    &nbsp;&nbsp;
                    <i>
                    <!-- actionStatus component makes it easy to let the user know when a search is underway -->
                        <apex:actionStatus id="sitBusca" startText="Searching..." stopText=" "/>
                    </i>
                    <apex:commandButton style="float:right" value="Add Items" action="{!adicionarCarrinho}"/>
                </apex:actionRegion>
                <apex:commandButton style="float:right" value="Create Tailored Product" action="{!showCreateProduct}"  rendered="{!CONTAINS(pricebookName, 'Tailored')}" rerender="popupProduct" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <b> Pricebook: {!pricebookName} </b>
                <apex:pageBlockTable value="{!ProdutosDisponiveis}" var="pd" id="LstProdutos">
                    <apex:column >
                        <apex:facet name="header">
                            Product
                        </apex:facet>
                        <apex:outputLink value="/{!pd.pbe.Product2Id}" target="_blank"> {!pd.pbe.Product2.Name} </apex:outputLink>
                    </apex:column> 
                    <apex:column headerValue="Code" value="{!pd.pbe.Product2.ProductCode}"/>
                    <apex:column headerValue="Unit" value="{!pd.pbe.Product2.Unit__c}"/>
                    <apex:column headerValue="Product Type" value="{!pd.pbe.Product2.Product_Type__c}"/>
                    <apex:column headerValue="Family" value="{!pd.pbe.Product2.Family}"/>
                    <!--<apex:column headerValue="Description" value="{!pd.pbe.Product2.Description}"/>-->
                    <apex:column headerValue="Select" styleClass="centraliza" headerClass="centraliza">
                        <apex:facet name="header">
                            <apex:inputCheckbox onclick="checkAll(this, 'isSelected');"/>
                        </apex:facet>
                        <apex:inputCheckbox id="isSelected" value="{!pd.isSelected}" />
                    </apex:column>
                </apex:pageBlockTable>
                <apex:outputPanel rendered="{!temMais}">
                    <br/>
                    This search returned more than {!QtdeRegistros} products, please restrict your search even more if you do not see the desired products.
                    <br/>
                </apex:outputPanel>
            </apex:pageBlock>
        </apex:outputPanel>
  
        <apex:outputPanel id="popup">
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!mostraComp}"/>
            
            <apex:outputPanel styleClass="customPopup" layout="block" rendered="{!mostraComp}">
                <apex:pageBlock >
                    <apex:outputPanel rendered="{!NOT(existeAircraft)}">
                        <b>There is no aircraft related to this account.</b>
                        <br/><br/>
                    </apex:outputPanel> 
                    <apex:panelGrid columns="2" width="100%">
                        <apex:outputPanel layout="block" styleClass="contador" id="contador"> 
                            <apex:outputText styleClass="valorContador" value="{!qtdSelecionados}"/> selected aircraft
                        </apex:outputPanel>
                        <apex:outputPanel layout="block" style="float:right;">
                            <b> Search for Serial Number </b>&nbsp;&nbsp;
                            <apex:actionRegion renderRegionOnly="false" immediate="true">
                                <!-- <apex:actionFunction name="aircrafts" action="{!buscarAircrafts}" reRender="relAircrafts,contador,contadorFooter" status="sitBuscaAircraft"/>-->
                                <apex:inputText value="{!serialNumber}" style="width:100px"/>
                                &nbsp;&nbsp;
                                <apex:commandButton value="Search" action="{!buscarAircrafts}" status="sitBuscaAircraft"/>
                                <i>
                                    <!-- actionStatus component makes it easy to let the user know when a search is underway -->
                                    <apex:actionStatus id="sitBuscaAircraft" startText="Searching..." stopText=" "/>
                                </i>
                            </apex:actionRegion>
                        </apex:outputPanel>
                    </apex:panelGrid>
        
                    <apex:outputPanel rendered="{!existeAircraft}" id="relAircrafts">
                        <apex:pageBlockTable value="{!listAircraft}" var="air" >
                            <apex:column > 
                                <apex:facet name="header">
                                    <apex:inputCheckbox onclick="checkAll(this, 'selectedAircraft');"/>
                                </apex:facet>
                                <apex:inputCheckbox value="{!air.isSelected}" id="selectedAircraft" onChange="calculaSelecionados();"/> 
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:commandLink action="{!ordenarAircrafts}" value="Serial Number" rerender="relAircrafts" style="text-decoration:underline;">
                                        <apex:param name="filtroOrderBy" value="Name" assignTo="{!filtroOrderBy}" /> 
                                    </apex:commandLink>
                                </apex:facet>
                                <apex:outputField value="{!air.aircraft.Name}"/>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:commandLink action="{!ordenarAircrafts}" value="Model Type" rerender="relAircrafts" style="text-decoration:underline;">
                                        <apex:param name="filtroOrderBy" value="Model_Type__c" assignTo="{!filtroOrderBy}" /> 
                                    </apex:commandLink>
                                </apex:facet>
                                <apex:outputField value="{!air.aircraft.Model_Type__c}"/>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:commandLink action="{!ordenarAircrafts}" value="Registration" rerender="relAircrafts" style="text-decoration:underline;">
                                        <apex:param name="filtroOrderBy" value="Registration__c" assignTo="{!filtroOrderBy}" /> 
                                    </apex:commandLink>
                                </apex:facet>
                                <apex:outputField value="{!air.aircraft.Registration__c}"/>
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:commandLink action="{!ordenarAircrafts}" value="Aircraft Status" rerender="relAircrafts" style="text-decoration:underline;">
                                        <apex:param name="filtroOrderBy" value="Aircraft_Status__c" assignTo="{!filtroOrderBy}" /> 
                                    </apex:commandLink>
                                </apex:facet>
                                <apex:outputField value="{!air.aircraft.Aircraft_Status__c}"/>      
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:commandLink action="{!ordenarAircrafts}" value="Operator" rerender="relAircrafts" style="text-decoration:underline;">
                                        <apex:param name="filtroOrderBy" value="Operator__r" assignTo="{!filtroOrderBy}" /> 
                                    </apex:commandLink>
                                </apex:facet>
                                <apex:outputField value="{!air.aircraft.Operator__c}"/>
                            </apex:column>     
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:commandLink action="{!ordenarAircrafts}" value="Owner" rerender="relAircrafts" style="text-decoration:underline;">
                                        <apex:param name="filtroOrderBy" value="Owner__r" assignTo="{!filtroOrderBy}" /> 
                                    </apex:commandLink>
                                </apex:facet>
                                <apex:outputField value="{!air.aircraft.Owner__c}"/>      
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">
                                    <apex:commandLink action="{!ordenarAircrafts}" value="Age" rerender="relAircrafts" style="text-decoration:underline;">
                                        <apex:param name="filtroOrderBy" value="Age__c" assignTo="{!filtroOrderBy}" /> 
                                    </apex:commandLink>
                                </apex:facet>
                                <apex:outputField value="{!air.aircraft.Age__c}"/>
                            </apex:column>
                            <br/><br/>
                        </apex:pageBlockTable>
                    </apex:outputPanel>
                    <br/>
                    <apex:outputPanel layout="block" styleClass="contador" style="margin-left:2px;" id="contadorFooter"> 
                        <apex:outputText styleClass="valorContador" value="{!qtdSelecionados}"/> selected aircraft 
                    </apex:outputPanel>
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Save" action="{!closePopup}" rerender="popup,Carrinho"/>
                        <apex:commandButton value="Cancel" action="{!cancel}" rerender="popup,Carrinho"/>
                    </apex:pageBlockButtons>
                </apex:pageBlock>
            </apex:outputPanel>
        </apex:outputPanel>
        <apex:outputPanel id="popupPerDiem">
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!mostraCompPerDiem}"/>
            <apex:outputPanel styleClass="customPopup" layout="block" rendered="{!mostraCompPerDiem}">
                <apex:pageBlock >
                    <apex:pageBlockTable value="{!lstPerDiem}" var="perdiem" id="perdiemtable" >
                        <apex:column >
                            <apex:inputCheckBox value="{!perdiem.ehPerDiem}" id="perdiemSemHotel" onChange="checkPerDiem(this, '{!$Component.perdiemtable.perdiemMaisHotel}' )"/>
                        </apex:column>
                        <apex:column value="{!perdiem.perDiem.Per_diem__c}"/>
                        <apex:column >
                            <apex:inputCheckBox value="{!perdiem.ehPerDiemHotel}" id="perdiemMaisHotel" onChange="checkPerDiem(this, '{!$Component.perdiemtable.perdiemSemHotel}' )"/>
                        </apex:column>
                        <apex:column value="{!perdiem.perDiem.Per_diem_Hotel__c}"/>
                        <br/><br/>
                    </apex:pageBlockTable>
                    <apex:pageBlockButtons location="bottom">
                        <apex:commandButton value="Save" action="{!closePopupPerDiem}" rerender="popupPerDiem,Carrinho"/>
                        <apex:commandButton value="Cancel" action="{!cancelPopupPerDiem}" rerender="popupPerDiem,Carrinho" immediate="true"/>
                    </apex:pageBlockButtons>
                </apex:pageBlock>
            </apex:outputPanel>
        </apex:outputPanel>

    </apex:outputPanel>

    <apex:outputPanel id="popupProduct">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!mostraIncluirProduto}"/>
        <apex:outputPanel styleClass="customPopupProduct" layout="block" style="overflow:scroll;"  rendered="{!mostraIncluirProduto}">
            <apex:sectionHeader subtitle="New Product" title="Product Edit"/>
            <apex:pageBlock mode="edit" title="Product Edit" tabStyle="Product2" >
                <apex:pageBlockSection title="Product Information" columns="2">
                    <apex:repeat value="{!$ObjectType.Product2.FieldSets.CreateTailoredProductFieldsProduct}" var="GS"> 
                        <apex:inputField required="{!OR(GS.DBRequired, GS.required)}" value="{!tailoredProduct[GS.fieldPath]}"/>
                    </apex:repeat>
                </apex:pageBlockSection>    
                <apex:pageBlockSection title="Detailed Information" columns="1">
                    <apex:repeat value="{!$ObjectType.Product2.FieldSets.CreateTailoredProductFieldsDetailed}" var="GS"> 
                        <apex:inputField required="{!OR(GS.DBRequired, GS.required)}" value="{!tailoredProduct[GS.fieldPath]}"/>
                    </apex:repeat>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection title="Pricebook Information" columns="1">
                    <apex:pageBlockTable value="{!pricebookEntryList}" var="Prod" columns="12" id="pbetable" width="100%">
                        <apex:column headerValue="Pricebook">     
                            <apex:outputText value="{!Prod.pricebook2Name}" />
                            <apex:inputHidden value="{!Prod.isStandardPricebook}" id="isStandard" />
                        </apex:column>
                        <apex:column headerValue="Use Standard Price" styleclass="coluna">     
                            <apex:inputCheckbox value="{!Prod.useStandardPrice}" id="ckStdPrice" rendered="{!NOT(Prod.isStandardPricebook)}"
                            onclick="usarPrecoPadrao(this, '{!$Component.pbetable.txtUnitPrice}', '{!$Component.pbetable.txtRecPrice}', '{!$Component.pbetable.txtMaxDisc}','{!$Component.pbetable.txtMargin0}', '{!$Component.pbetable.txtMaxDiscRec}', '{!$Component.pbetable.txtMargin0Rec}', '{!$Component.pbetable.txtEntryFee}','{!$Component.pbetable.txtMaxDiscEntry}', '{!$Component.pbetable}');"/>
                        </apex:column>
                        <apex:column headerValue="{!$ObjectType.PricebookEntry.Fields.CurrencyIsoCode.Label}" >    
                            <apex:selectList value="{!Prod.CurrencyIsoCode}" multiselect="false" size="1" >
                                <apex:selectOptions value="{!moedas}"/>
                            </apex:selectList>       
                        </apex:column>
                        <apex:column headerValue="IsActive" styleclass="coluna">     
                            <apex:inputCheckbox value="{!Prod.isActive}" id="chkActive" disabled="true" />
                        </apex:column>        
                        <apex:column headerValue="{!labelPrice1} ($)">
                            <apex:inputText value="{!Prod.unitPrice}" style=" width: 50px" id="txtUnitPrice" disabled="{!Prod.useStandardPrice}"/>
                        </apex:column>
                        <apex:column headerValue="Max Discount - {!labelPrice1} (%)">    
                            <apex:inputText value="{!Prod.Maximum_discount}" style=" width: 80px; " id="txtMaxDisc" disabled="{!Prod.useStandardPrice}"/>  
                        </apex:column>
                        <apex:column headerValue="Margin 0 - {!labelPrice1} ($)">    
                            <apex:inputText value="{!Prod.Margin_0}" style=" width: 80px" id="txtMargin0" disabled="{!Prod.useStandardPrice}"/>  
                        </apex:column>                
                        <apex:column headerValue="{!labelPrice2} ($)" >    
                            <apex:inputText value="{!Prod.RECPrice}" disabled="{!Prod.useStandardPrice}" id="txtRecPrice" style=" width: 50px"  />
                        </apex:column>
                        <apex:column headerValue="Max Discount - {!labelPrice2} (%)">   
                            <apex:inputText value="{!Prod.Maximum_discount_REC}"  style=" width: 80px; " id="txtMaxDiscRec" disabled="{!Prod.useStandardPrice}" />  
                        </apex:column>      
                        <apex:column headerValue="Margin 0 - {!labelPrice2} ($)">    
                            <apex:inputText value="{!Prod.Margin_0_REC}" style=" width: 80px" id="txtMargin0Rec" disabled="{!Prod.useStandardPrice}" />  
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlockSection>
                <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!createProduct}" rerender="popupProduct,LstProdutos"/>
                    <apex:commandButton value="Cancel" action="{!cancel}" rerender="popupProduct"/>
                </apex:pageBlockButtons>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:outputPanel>

    <apex:outputPanel layout="block" rendered="{!mostraSelecaoPb2}">
        Select a price book for this quote. You can add products only from a single price book.
        <br/><br/>
        <apex:pageBlock title="Choose Price Book for: {!quote.Name}" >
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!salvarPricebook2}" value="Select" />
                <apex:commandButton action="{!cancelar}" value="Cancel" />
            </apex:pageBlockButtons>
            <apex:outputText value="Price Book" style="font-weight:bold;"/>&nbsp;&nbsp;
            <apex:selectList label="Price Book" value="{!pb2Id}" size="1">
                <apex:selectOptions value="{!lstPricebook2}"/>
            </apex:selectList> 
        </apex:pageBlock>
    </apex:outputPanel>

    <apex:outputPanel id="requisitosprod">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!exibePrerequisitos}"/>
        <apex:outputPanel styleClass="customPopup" layout="block" rendered="{!exibePrerequisitos}"  style="width:800px; margin-left:-400px;top:10px; ">
            <apex:pageBlock title="Pre-Requisites" >
                <apex:pageBlockTable value="{!listProdutosRequisitos}" var="requistos" >
                    <apex:column headerValue="Product" value="{!requistos.Name}"/>
                    <apex:column headerValue="Pre-Requisites" value="{!requistos.Prerequisites__c}"/>
                </apex:pageBlockTable>
                <apex:commandButton value="Close" action="{!closePrerequisitos}" rerender="requisitosprod" immediate="true"/>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:outputPanel>

    <apex:outputPanel id="errosProd">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!exibeErros}"/>
        <apex:outputPanel styleClass="customPopup" layout="block" rendered="{!exibeErros}"  style="width:800px; margin-left:-400px;top:10px; ">
            <apex:pageBlock title="Errors" >
                <apex:pageblockTable value="{!carrinhoCompras}" var="car">
                    <apex:column headerValue="Error" value="{!car.opp.Slot_Errors__c}"/>
                </apex:pageBlockTable>
                <apex:commandButton value="Close" action="{!closeErros}"/>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:form>

</apex:page>