<apex:page showHeader="false" standardStylesheets="false" sidebar="false" standardController="Communications__c" lightningStylesheets="false"
    renderAs="pdf" applyBodyTag="false" applyHtmlTag="false" contentType="text/html">
    <!-- <apex:outputText value="{!emailTemplateHtml}" escape="false" /> -->
    <html>

    <head>
        <style type="text/css" media="print">
            @page {
                size: A4;
                margin: 3cm 1cm 2.5cm 1cm;
                @top-center {
                    content: element(header);
                    padding: 0px 5px;
                }

                @bottom-left {
                    padding: 0px 5px;
                    content: element(footer);
                }
            }

            div.header {
                position: running(header);
            }

            div.footer {
                position: running(footer);
                color: #818181;
            }

            .pagenumber:before {
                content: counter(page);
            }

            .pagecount:before {
                content: counter(pages);
            }

            .left {
                float: left;
            }

            .right {
                float: right;
            }

            .text-header {
                font-size: 90%;
                margin-top: 3px;
            }

            .text-footer {
                padding: 0px 5px;
                font-size: 84%;
            }

            .block {
                display: block;
                position: relative;
            }

            html {
                font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
            }

            p {
                margin: 0px;
                text-align: justify;
            }

            .gray {
                color: #818181;
            }
        </style>
    </head>

    <body>

        <div class="header">
            <div class="left gray">
                <apex:image value="{!$Resource.TechnicalSupport}" alt="Technical Support Logo" width="200" />
                <span class="block text-header">Fleet Performance &amp; Reliability</span>
            </div>
            <div class="right">
                <apex:image value="{!$Resource.EmbraerCommercialAviation}" alt="Embraer Commercial Logo" width="200" />
            </div>
        </div>

        <div class="footer">
            <center>
                <hr />
                <div class="text-footer">SERVICES &amp; SUPPORT • All information contained herein shall be treated as confidential and shall not
                    be disclosed to any third party without Embraer’s prior written approval</div>
                <b>
                    <span class="pagenumber" />
                </b>
            </center>
        </div>

        <c:REC_DOCTemplate rec="{!Communications__c}" />

    </body>

    </html>
</apex:page>