<apex:page controller="regForm_Controller" showHeader="false" sidebar="false" title="Embraer Maintenance Training" applyBodyTag="false" applyHtmlTag="false">
    <html>            
        <head>            
            <link href="https://unpkg.com/purecss@0.6.1/build/forms-min.css" rel="stylesheet"/>        
            <style>
                .background{
                    margin: 0 auto;
                    width: 85%;
                }
                .center{
                    margin: 0 auto;
                    width: 100%;
                }     
            </style>
        </head>
        
        <body>             
            <div class="background">
                <div align="center" draggable="false" >
                    <apex:image url="{!URLFOR($Resource.EmbraerLogo)}" style="width: 75%;"/> 
                </div>
            
                <apex:pageBlock >
                    <apex:pageBlockSection columns="1">
                    	<p style="text-align:center;font-size:18px;"><b>EMBRAER TRAINING CENTER REGISTRATION FORM</b></p>            
                    </apex:pageBlockSection>                		
                    
            		<apex:pageBlockSection columns="1">              
            			<apex:pageBlockSectionItem >
                            <apex:outputPanel style="align: center;">
                                <form class="pure-form" align="center">
                                    <fieldset>
                                        <legend style="font-size:14px;">Please insert the provided course ID to begin.</legend>
                                        <apex:form >
                                            <div align="center"> <p style="font-size:16px; margin-top: -4px; margin-bottom: 2px">Course ID</p> </div>
                                            <div align="center"> <apex:inputText label="Activation Counter" id="activationCounter" value="{!campaignId}" style="align: center;"/> </div>
                                            <div align="center"> <apex:commandButton value="    Go!    " action="{!validateCampaign}" style="width: 80px; font-size:16px; margin-top: 6px;"/> </div>
                                        </apex:form>                                        
                                    </fieldset>
                                </form>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>  
                        
                        <apex:pageBlockSectionItem rendered="{!validCampaign == 'false' }">
                            <apex:outputLabel value=""/>
                            <apex:outputPanel layout="block" style="color:red">
                                <apex:outputText label="Activation Counter" id="activationCounter" value="Course ID not valid, or expired" />
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection> 
                </apex:pageBlock>
                
                <apex:pageBlock rendered="{!validCampaign == 'true' && regStatus == 'incomplete'}">
                    <apex:pageBlockSection columns="1"> 
                         <apex:pageBlockSectionItem >
                            <p style="font-size:20px;"><b>Course: </b>{!campaign.name}</p>                            
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection> 
                
                    <apex:pageBlockSection columns="1">
                        <p style="font-size:18px; margin: 0px;">Please fill out the fields below with valid information to register a training participant.</p>
                        <p style="font-size:18px; margin: 0px;">The main purpose of this information is to allow Embraer to issue the proper training certificate to the student identified in this form.</p>
                        <p style="font-size:18px; margin: 0px;">This registration form will only be valid against the student's signature on the respective course attendace list.</p>                        
                        <br/>
                    </apex:pageBlockSection>                    
                </apex:pageBlock>
                                
                <div class="pure-form">
                    <apex:form styleClass="myFormStyle">
                    	<apex:pageBlock rendered="{!validCampaign == 'true' && regStatus == 'incomplete'}">                	                                                
                        	<apex:pageBlockSection columns="1">                                          
                            	<apex:inputField value="{!regForm.First_Name__c }"/>                                        
                                <apex:inputField value="{!regForm.Middle_Name__c }"/>                                       
                                <apex:inputField value="{!regForm.Family_Name__c }"/>                                                                                  
                                <apex:inputField value="{!regForm.Date_of_Birth__c }" label="Date of Birth (DD/MM/YYYY)"/>                                        
                                <apex:inputField value="{!regForm.City_of_Birth__c }"/>                                        
                                <apex:inputField value="{!regForm.Country_of_Birth__c }" style="width:200px;"/>                                        
                                <apex:inputField value="{!regForm.E_mail__c }"/>                                        
                                <apex:inputField value="{!regForm.Phone__c }"/>                                        
                                <apex:inputField value="{!regForm.Company__c }"/>                                        
                                <apex:inputField value="{!regForm.Position__c }"/>                                                                                   
                                <apex:inputField value="{!regForm.Professional_Background__c }" style="width: 200px; height: 100px; resize: none" />                                        
                                <apex:inputField value="{!regForm.Licenses__c }" style="width: 200px; height: 100px; resize: none" />                                        
                                <apex:inputField value="{!regForm.Type_Ratings__c }" style="width: 200px; height: 100px; resize: none" />                                                                                                                                                                                                                              
                           	</apex:pageBlockSection>  
                            <div align="center" draggable="false" >
                            	<apex:commandButton value="Submit" action="{!save}"  style="width: 120px; font-size:16px; margin-top: 6px; align: center;"/>                                                                                  				                                         
                            </div>                            
                        </apex:pageBlock>
                    </apex:form>
                </div>    
                                        
                <apex:pageBlock title="Thank you for registering!" rendered="{!regStatus == 'complete'}">
        			<div align="center" draggable="false" > 
                        <apex:form >
         					<apex:commandButton value="Register Another Student" action="{!regAnother}" style="width: 220px; font-size:16px; margin-top: 6px;"/>
                        </apex:form>
        			</div>
    			</apex:pageBlock>          
                
            </div>	
        </body>        
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>        	
        <script language="javascript">             
            /**
            * detecta se o user está em um dispositivo mobile
            */                
           	if( /(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))){                
				document.body.style.zoom=2.3;this.blur();                  
            }else{                
            	document.body.style.zoom=1.0;this.blur();                 
        	}
		</script> 
   		<script type="text/javascript">
            $j = jQuery.noConflict();
            $j(document).ready(function() {
                $j('.bPageFooter').hide();
            });
		</script>
    </html>
</apex:page>