<apex:page >

  <apex:iframe src="https://eu-west-1a.online.tableau.com/t/embraeremea/views/EmbraerDataViz/AirlineOverview?:showAppBanner=false&:origin=viz_share_link&:display_count=n&:showVizHome=n" height="300px" width="100%" scrolling="true">
  </apex:iframe>

</apex:page>