<apex:page docType="html-5.0" sidebar="false" showHeader="true"  standardStylesheets="false" >
<html>
<head>
<meta name="viewport" content="width=320px, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
<script src="https://ap1.salesforce.com/soap/ajax/20.0/connection.js"></script>
<script>

UserRole    = '{!JSENCODE($UserRole.Name)}';
UserId      = '{!JSENCODE($User.Id)}';
UserName    = '{!JSENCODE($User.FirstName)}'+' '+'{!JSENCODE($User.LastName)}';
UserTheme   = '{!JSENCODE($User.UITheme)}';

UserTheme   = "";
SkipValue = '';
if ('{!JSENCODE($CurrentPage.parameters.skip)}')
SkipValue = '{!JSENCODE($CurrentPage.parameters.skip)}';


function Queryvalue(SalesmanId,VarId)
{
    sforce.connection.sessionId = "{!$Api.Session_ID}"; 
                     
    var Bucket01  = "";
    var Bucket02  = "";
    var Bucket03  = "";
    var Bucket04  = "";
    var Bucket05  = "";
    var Count02   = 0;
    var Count02H  = 0;


    var CountC1   = 0;
    var CountC2   = 0;
    
    var Countopp1   = 0;
    var Countopp2   = 0;

    var QryAccount="SELECT Id,Name,Potential_Order_A_C_Qty__c,Qualification_Status__c,Case_Proposition__c,Account_Salesman__r.Name,Score__c,Score_Aircraft_Segment__c,Score_Description_Aircraft_Segment__c,Score_Aircraft_Backlog__c,Score_Description_Aircraft_Backlog__c,Score_Fleet_Size__c,Score_Description_Fleet_Size__c,Score_Average_Age__c,Score_Description_Average_Age__c,Score_Country_Risk__c,Score_Description_Country_Risk__c,Score_Embraer_Presence__c,Score_Description_Embraer_Presence__c,Account_Salesman__c,BillingCountry FROM  Account WHERE OwnerId='" + SalesmanId + "' and Qualification_Status__c<>'' order by Qualification_Status__c DESC, BillingCountry, Score__c DESC NULLS LAST";
    var getrecord=sforce.connection.query(QryAccount);
    var accountitem= new sforce.QueryResultIterator(getrecord);
    while (accountitem.hasNext())
    {
            var accnamearray = new Array();
            var record =accountitem.next();
            accnamearray[0]  = record.Id;
            accnamearray[1]= record.Name;
            accnamearray[2]= record.Potential_Order_A_C_Qty__c;               
            accnamearray[3]= record.Qualification_Status__c;   
            accnamearray[4]= record.Case_Proposition__c;             
            accnamearray[6]= record.Score__c;                
            
            Score_Aircraft_Segment__c               = record.Score_Aircraft_Segment__c;
            Score_Description_Aircraft_Segment__c   = record.Score_Description_Aircraft_Segment__c;
            Score_Aircraft_Backlog__c               = record.Score_Aircraft_Backlog__c;
            Score_Description_Aircraft_Backlog__c   = record.Score_Description_Aircraft_Backlog__c;
            Score_Fleet_Size__c                     = record.Score_Fleet_Size__c;
            Score_Description_Fleet_Size__c         = record.Score_Description_Fleet_Size__c;
            Score_Average_Age__c                    = record.Score_Average_Age__c;
            Score_Description_Average_Age__c        = record.Score_Description_Average_Age__c;
            Score_Country_Risk__c                   = record.Score_Country_Risk__c;
            Score_Description_Country_Risk__c       = record.Score_Description_Country_Risk__c;
            Score_Embraer_Presence__c               = record.Score_Embraer_Presence__c;
            Score_Description_Embraer_Presence__c   = record.Score_Description_Embraer_Presence__c;


            Country = record.BillingCountry;



            Account_Salesman__c                     = record.Account_Salesman__c;  

            if (Account_Salesman__c != null)
            accnamearray[5]= record.Account_Salesman__r.Name;   
            else
            accnamearray[5]= '';             

// SCORE BOX BUILD--------------------------------------------------------------
            Score = accnamearray[6];
            if (Score != null)
            Score = Score.replace(".0", "");
            else
            Score = '---';
            
            BoxDetails      = accnamearray[4];
                    
            if (BoxDetails != null)
            BoxDetails      = BoxDetails.replace(/(?:\r\n|\r|\n)/g, '<br />');
            else
            BoxDetails      = '';
                    
            if (BoxDetails == '' && Score != '---')
            {
 
ScoreBox = "<table width='100%' cellpadding='5px' border='0px'><tr ><td rowspan='6'align='center' valign='top'>SCORE<br><span class='prosp1'><b>"+Score+"</b></span></td><td><span class='score score"+Score_Aircraft_Segment__c+"'></span></td><td>"+Score_Description_Aircraft_Segment__c+"</td></tr><tr><td><span class='score score"+Score_Aircraft_Backlog__c+"'></span></td><td>"+Score_Description_Aircraft_Backlog__c+"</td></tr><tr><td><span class='score score"+Score_Fleet_Size__c+"'></span></td><td>"+Score_Description_Fleet_Size__c+"</td></tr><tr><td><span class='score score"+Score_Average_Age__c+"'></span></td><td>"+Score_Description_Average_Age__c+"</td></tr><tr><td><span class='score score"+Score_Country_Risk__c+"'></span></td><td>"+Score_Description_Country_Risk__c+"</td></tr><tr><td><span class='score score"+Score_Embraer_Presence__c+"'></span></td><td>"+Score_Description_Embraer_Presence__c +"</td></tr></table>";

          
            BoxDetails      = ScoreBox;
            }



                
                if (accnamearray[3] == 'HOT SUSPECT')
                {      
                Bucket02 = Bucket02 + "<a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'><div class='btn3new' style='display:none;' id='hot_"+accnamearray[0]+"'><span class='link_txt1'>" + accnamearray[1] + "</span>" + "<span class='score'>"+Score+"</span><br><span class='legend_text'>"+Country+"</span></div></a>"; 
                Count02H = Count02H+1;          
                }   


                if (accnamearray[3] == 'SUSPECT')
                {
                Bucket02 = Bucket02 + "<a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'><div class='btn3' style='display:none;' id='other_"+accnamearray[0]+"'><span class='link_txt1'>" + accnamearray[1] + "</span>" + "<span onmouseover="+'"'+"document.getElementById('pop_"+accnamearray[0]+"').style.display = 'block';" + '"' + " onmouseout=" + '"' + "document.getElementById('pop_"+accnamearray[0]+"').style.display = 'none';"+'"'+" class='score'>"+Score+"<div id='pop_"+accnamearray[0]+"'   class='pop_box'><div class='btn31'><b>"+ accnamearray[1] +"</b><br>Background/Case Proposition</div><br><span class=boxdetails>"+BoxDetails+"</span></div></span>" + "<br><span class='legend_text'>"+Country+"</span></div></a>"; 
                Count02 = Count02+1;
                }    


                if (accnamearray[3] == 'COLD SUSPECT - No Decision')
                {
                Bucket02 = Bucket02 + "<a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'><div class='btn3cold1' style='display:none;' id='cold1_"+accnamearray[0]+"'><span class='link_txt1'>" + accnamearray[1] + "</span>" + "<span onmouseover="+'"'+"document.getElementById('pop_"+accnamearray[0]+"').style.display = 'block';" + '"' + " onmouseout=" + '"' + "document.getElementById('pop_"+accnamearray[0]+"').style.display = 'none';"+'"'+" class='score'>"+Score+"<div id='pop_"+accnamearray[0]+"'   class='pop_box'><div class='btn31'><b>"+ accnamearray[1] +"</b><br>Background/Case Proposition</div><br><span class=boxdetails>"+BoxDetails+"</span></div></span>" + "<br><span class='legend_text'>"+Country+"</span></div></a>"; 
                CountC1 = CountC1+1;
                }

                if (accnamearray[3] == 'COLD SUSPECT - Wrong Moment')
                {
                Bucket02 = Bucket02 + "<a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'><div class='btn3cold' style='display:none;' id='cold2_"+accnamearray[0]+"'><span class='link_txt1'>" + accnamearray[1] + "</span>" + "<span onmouseover="+'"'+"document.getElementById('pop_"+accnamearray[0]+"').style.display = 'block';" + '"' + " onmouseout=" + '"' + "document.getElementById('pop_"+accnamearray[0]+"').style.display = 'none';"+'"'+" class='score'>"+Score+"<div id='pop_"+accnamearray[0]+"'   class='pop_box'><div class='btn31'><b>"+ accnamearray[1] +"</b><br>Background/Case Proposition</div><br><span class=boxdetails>"+BoxDetails+"</span></div></span>" + "<br><span class='legend_text'>"+Country+"</span></div></a>"; 
                CountC2 = CountC2+1;
                }



        }   



// LOAD ARRAY--------------------------------------------------------
    var QryAccount="SELECT     Id,Account.Name,Owner.Name,RecordType.Name,StageName,Model_Type__c,Lessor_if_any__c,Leadership_Report_Firm_Order__c,Staff_Meeting_Report_Summary__c FROM Opportunity WHERE OwnerId='" + SalesmanId + "' ORDER BY Account.Name";
    var getrecord=sforce.connection.query(QryAccount);
    var accountitem= new sforce.QueryResultIterator(getrecord);

   while (accountitem.hasNext())
    {
        var accnamearray = new Array();
        var record =accountitem.next();
        accnamearray[0]= record.Id;
        accnamearray[1]= record.Account.Name;               
        accnamearray[2]= record.Owner.Name;   
        accnamearray[3]= record.RecordType.Name;     
        accnamearray[4]= record.StageName;   
        accnamearray[5]=  record.Model_Type__c;
        accnamearray[6]=  record.Lessor_if_any__c;
        accnamearray[7]= record.Leadership_Report_Firm_Order__c;
        accnamearray[8]= record.Staff_Meeting_Report_Summary__c;


            BoxDetails     = accnamearray[8];
                    
            if (BoxDetails != null)
            BoxDetails     = BoxDetails.replace(/(?:\r\n|\r|\n)/g, '<br />');
            else
            BoxDetails     = '';


        if (accnamearray[4] == 'Prospecting'  
        || accnamearray[4] == 'Business Development' 
        || accnamearray[4] == 'RFI')
        {
           // if (UserTheme == 'Theme4t')
           // <a href='#' " + 'onclick="' + "sforce.one.navigateToURL('/" + accnamearray[0] + "');" + '" class="link_txt1">

           
            Class1 = 'btn5new';
            Type   = 'Used';

            if (accnamearray[3] != null)
            {
                var string = accnamearray[3],
                substring = "New";
                if (string.indexOf(substring) !== -1)
                {
                   Class1 = 'btn5';
                   Type   = 'New';
                }
            }
            else
                Class1 = 'btn5new';     
           
            Lease = "";
            if (accnamearray[6] != null)
            Lease = accnamearray[6];                  
                       
            Bucket02 = Bucket02 + "<div class='"+Class1+"' id='prosp_"+accnamearray[0]+"' style='display:none;'><a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'><b class='prosp2'>" + accnamearray[1] + "</b><br>" + " <span class='prosp2'><b>" + accnamearray[7].replace(".0", "") + "</b></span> " + Type + " " + accnamearray[5] + " " + Lease + "</a>" + "<img style='float:right;' src='https://c.na46.content.force.com/servlet/servlet.ImageServer?id=0150H00000G6ZuL&oid=00Di0000000fp0q&lastMod=1518364676000' width='20px' border='0' onmouseover="+'"'+"document.getElementById('pop_"+accnamearray[0]+"').style.display = 'block';" + '"' + " onmouseout=" + '"' + "document.getElementById('pop_"+accnamearray[0]+"').style.display = 'none';"+'"'+" ><div id='pop_"+accnamearray[0]+"'   class='pop_box1'><div class='"+Class1+"'><b>"+ accnamearray[1] +"</b><br>Leadership Report Summary</div><br><span class=boxdetails>"+BoxDetails+"</span></div>" + "</div>";
Countopp1 = Countopp1+1;

        }



        if (accnamearray[4] == 'LOI/Proposal Negotiation' 
        || accnamearray[4] == 'Contract Negotiation & Review'
        || accnamearray[4] == 'LOI/Proposal (informal RFP)'
        || accnamearray[4] == 'LOI/Proposal (formal RFP)'        
        )
        {   

            Class1 = 'btn6';
            Type   = 'Used';

            if (accnamearray[3] != null)
            {
                var string = accnamearray[3],
                substring = "New";
                if (string.indexOf(substring) !== -1)
                {
                   Class1 = 'btn6new';
                   Type   = 'New';
                }
            }
            else
                Class1 = 'btn6';
    
    
            Lease = "";
            if (accnamearray[6] != null)
            Lease = accnamearray[6];

           Bucket02 = Bucket02 + "<div class='"+Class1+"' id='camp_"+accnamearray[0]+"' style='display:none;'><a href='/" + accnamearray[0] + "' target=_blank class='link_txt1'><b class='prosp2'>" + accnamearray[1] + "</b><br>" + " <span class='prosp2'><b>" + accnamearray[7].replace(".0", "") + "</b></span> " + Type + " " + accnamearray[5] + " " + Lease + "</a>" + "<img style='float:right;' src='https://c.na46.content.force.com/servlet/servlet.ImageServer?id=0150H00000G6ZuL&oid=00Di0000000fp0q&lastMod=1518364676000' width='20px' border='0' onmouseover="+'"'+"document.getElementById('pop_"+accnamearray[0]+"').style.display = 'block';" + '"' + " onmouseout=" + '"' + "document.getElementById('pop_"+accnamearray[0]+"').style.display = 'none';"+'"'+" ><div id='pop_"+accnamearray[0]+"'   class='pop_box2'><div class='"+Class1+"'><b>"+ accnamearray[1] +"</b><br>Leadership Report Summary</div><br><span class=boxdetails>"+BoxDetails+"</span></div>" + "</div>";
                Countopp2 = Countopp2+1;
        }


    }





        document.getElementById(VarId+"bucket02").innerHTML = Bucket02;
document.getElementById(VarId+"count02").innerHTML = '<table width="100%" cellspacing="2px" cellpadding="5px" border="0px" style="font-size:18px;font-weight:bold;"><tr><td class="btn3cold1"  align="center" width="17%"><a href="" onClick="show_divs('+"'"+VarId+"','cold1'"+'); return false;">'+CountC1+'</a></td><td class="btn3cold"  align="center" width="17%"><a href="" onClick="show_divs('+"'"+VarId+"','cold2'"+'); return false;">'+CountC2+'</a></td><td class="btn3"  align="center" width="16%"><a href="" onClick="show_divs('+"'"+VarId+"','other'"+'); return false;">'+Count02+'</a></td><td class="btn3new" align="center" width="16%"><a href="" onClick="show_divs('+"'"+VarId+"','hot'"+'); return false;">'+Count02H+'</a></td><td class="btn5" align="center" width="17%"><a href="" onClick="show_divs('+"'"+VarId+"','prosp'"+'); return false;">'+Countopp1+'</a></td><td class="btn6new" align="center" width="17%"><a href="" onClick="show_divs('+"'"+VarId+"','camp'"+'); return false;">'+Countopp2+'</a></td></tr></table>';
    
        
   }


</script>



<!-- PIPELINE -->
<script>

function show_divs(VarId,Type)
{


container = VarId+"bucket02";
selectorTag = 'div';
prefix = Type+"_";



    var items = [];
    var myPosts = document.getElementById(container).getElementsByTagName(selectorTag);
    for (var i = 0; i < myPosts.length; i++) {
 
        
        prefix1 = 'cold1';
        if (myPosts[i].id.lastIndexOf(prefix1, 0) === 0) {
        document.getElementById(myPosts[i].id).style.display = 'none';
        }
        
        prefix1 = 'cold2';
        if (myPosts[i].id.lastIndexOf(prefix1, 0) === 0) {
        document.getElementById(myPosts[i].id).style.display = 'none';
        }
        
        prefix1 = 'other';
        if (myPosts[i].id.lastIndexOf(prefix1, 0) === 0) {
        document.getElementById(myPosts[i].id).style.display = 'none';
        }
       
        
        prefix1 = 'hot';
        if (myPosts[i].id.lastIndexOf(prefix1, 0) === 0) {
        document.getElementById(myPosts[i].id).style.display = 'none';
        }
        
                prefix1 = 'prosp';
        if (myPosts[i].id.lastIndexOf(prefix1, 0) === 0) {
        document.getElementById(myPosts[i].id).style.display = 'none';
        }
        
                prefix1 = 'camp';
        if (myPosts[i].id.lastIndexOf(prefix1, 0) === 0) {
        document.getElementById(myPosts[i].id).style.display = 'none';
        }
 
 
        if (myPosts[i].id.lastIndexOf(prefix, 0) === 0) {
            document.getElementById(myPosts[i].id).style.display = '';
        }
    
    
    
       
    
    
    
    
    
    
    }




}



function hide_view(DivId)
{
    document.getElementById(DivId).style.display = 'none';
}

function show_legend()
{
    document.getElementById('legend_on').style.display = 'block';
    document.getElementById('legend_off').style.display = 'none';
}

function hide_legend()
{
    document.getElementById('legend_on').style.display = 'none';
    document.getElementById('legend_off').style.display = 'block';
}


function change_view(ActionId,SalesId)
{
if (ActionId == 'expand')
{
    document.getElementById('btn_collapse_'+SalesId).style.display = 'block';
    document.getElementById('btn_expand_'+SalesId).style.display = 'none';
    document.getElementById(SalesId+'bucket02').style.display = 'block';
}

if (ActionId == 'collapse')
{
    document.getElementById('btn_collapse_'+SalesId).style.display = 'none';
    document.getElementById('btn_expand_'+SalesId).style.display = 'block';
    document.getElementById(SalesId+'bucket02').style.display = 'none';
}




}


</script>


            <style type="text/css">
                .result {font-size: 1.5em; font-weight: bold;}
                .score {font-size: 1.2em; padding-right: 10px;}
                .score1:before {color: rgb(255, 0, 0); content: "●";}
                .score1:after {color: rgb(200, 200, 200); content: "○○○○";}
                .score2:before {color: rgb(255, 0, 0); content: "●●";}
                .score2:after {color: rgb(200, 200, 200); content: "○○○";}
                .score3:before {color: rgb(112, 173, 71); content: "●●●";}
                .score3:after {color: rgb(200, 200, 200); content: "○○";}
                .score4:before {color: rgb(112, 173, 71); content: "●●●●";}
                .score4:after {color: rgb(200, 200, 200); content: "○";}
                .score5:before {color: rgb(112, 173, 71); content: "●●●●●";} 
                .slds-scope {
                    text-align: center;
                }
                .scoringPanel {
                    background-color: rgb(250, 250, 250);
                    border: 5px solid rgb(230, 230, 230); 
                    border-radius: 25px;    
                    box-shadow: 5px 5px 10px rgb(136, 136, 136);
                    display: inline-block;            
                }
                .scoringPanelColumn {
                    margin: 0 10px;
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }  
                .scoringPanelColumnToLeft {
                    text-align: left;
                }
            </style>

<style>

.pop_box2 
{
margin-left:-50px;
margin-top: 10px;
width:375px;
border-radius: 10px;
text-align:left;
background:#FFFFFF;
padding:10px;
position:absolute;
display:none;
border: 2px solid green;
}


.pop_box1 
{
margin-left:-50x;
margin-top: 10px;
width:375px;
border-radius: 10px;
text-align:left;
background:#FFFFFF;
padding:10px;
position:absolute;
display:none;
border: 2px solid yellow;

}


.pop_box 
{
margin-left:30px;
margin-top: -30px;
width:500px;
border-radius: 10px;
text-align:left;
background:#FFFFFF;
padding:10px;
position:absolute;
display:none;
border: 2px solid red;

}


.score 
{
    background: #EAEAEA;
    border-radius: 6px;
    padding: 1px; 
    float: right;
    margin-top:-1px;
    font-size: 16px;
}

.btn3cold
{
background:#76D7C4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-decoration:none;
margin-bottom: 2px; 
} 

.btn3cold1
{
background:#85C1E9;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-decoration:none;
margin-bottom: 2px; 
} 






.btn3new1
{
background: #FFA500;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
} 

.btn31
{
background:  #FF7878;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
 }


.boxdetails
{
font-size: 14px;
color: #000000;
}



.btn3cold:hover
{
background: #CCCCCC;
text-decoration: none; }   

.btn3cold1:hover
{
background: #CCCCCC;
text-decoration: none; }   




html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body{
//width: 1200px;
font-family: Arial, Helvetica, sans-serif;
}
.box1
{
background: #CCCCCC;
border-radius: 10px;
padding: 5px; 
margin-bottom: 2px; 
text-decoration:none;}
.box2 {
background: #CCCCCC;   
border-radius: 10px;
padding: 5px; 
margin-bottom: 2px; }
.box3 {
background: #FF6464;
border-radius: 10px;
padding: 5px; 
margin-bottom: 2px; }
.box4 {
background: #ff9900;
border-radius: 10px;
padding: 5px; 
margin-bottom: 2px; }
.box5 {
background: #ffff99;
border-radius: 10px;
padding: 5px;  
margin-bottom: 2px; }
.box6 {
background: #d9ff66;
border-radius: 10px;
padding: 5px;
margin-bottom: 2px; } 
.btn2
{
background:  #FAFAFA;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center; 
margin-bottom: 2px; }
.btn2:hover
{
background: #CCCCCC; }      
.btn3
{
background:  #FF7878;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center;
margin-bottom: 2px;  }
.btn3top
{
background:  #FF7878;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center;
margin-bottom: 2px;  
font-size: 20px;
color: #000000;
text-decoration: none;
}
.btn3:hover
{
background: #CCCCCC;
text-decoration: none; }      
.btn3new
{
background: #FFA500;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center; 
margin-bottom: 2px;  } 
.btn3new:hover
{
background: #CCCCCC;
text-decoration: none; }    
.btn4
{
background:  #ffb84d;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center; 
margin-bottom: 2px;  }
.btn4:hover
{
background: #CCCCCC;
text-decoration: none; }      
.btn5
{
background: #ffff00;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center; 
margin-bottom: 2px;  }
.btn5:hover
{
background: #CCCCCC;
text-decoration: none; }    
.btn5new
{
background: #FFEB46;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center; 
margin-bottom: 2px;  } 
.btn5new:hover
{
background: #CCCCCC;
text-decoration: none; } 
   
.btn6
{
background: #6EEB6E;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center; 
margin-bottom: 2px; }
.btn6:hover
{
background: #CCCCCC;
text-decoration: none; }  
.btn6new
{
background: #00ff00;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
padding: 5px;
cursor:pointer;
text-align:center; 
margin-bottom: 2px;  } 
.btn6new:hover
{
background: #CCCCCC;
text-decoration: none; }    
.a12
{
font-size: 12px;
color: #333333;
}
.link_txt1
{
font-size: 14px;
color: #000000;
text-decoration: none;
}
.link_txt1:hover
{
font-size: 14px;
color: #000000;
text-decoration: none;
}
.link_txt3
{
font-size: 14px;
color: #000000;
text-decoration: none;
font-weight:bold;
}
.link_txt3:hover
{
font-size: 14px;
color: #000000;
text-decoration: none;
font-weight:bold;
}
.link_txt2
{
font-size: 12px;
color: #000000;
text-decoration: none;
}
.btn_menu
{
background: #191970;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border:0;
font-size: 16px;
color: #FFFFFF;
font-weight: bold;
margin-top: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;
padding-left: 20px;
text-decoration: none;
cursor:pointer;
}
.btn_menu:hover
{
background: #FFA500;
text-decoration: none;        
color: #000000;
}
.mainmenu
{
background: #EAEAEA;
border:0;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 10px;
margin-bottom: 20px;
}
.mainrow1
{
font-size: 16px;
color: #333333;
text-decoration: none;
}
.mainrow
{
font-size: 16px;
color: #333333;
text-decoration: none;
}
.prosp
{
font-size: 18px;
color: #333333;
text-decoration: none;
}
.prosp2
{
font-size: 14px;
color: #333333;
text-decoration: none;
}
.prosp1
{
font-size: 24px;
color: #333333;
text-decoration: none;
}
.menu_top {
background: #EAEAEA;   
padding: 5px;
width:100%;
} 
.menu_text
{
font-size: 18px;
color: #FFFFFF;
text-decoration: none;
font-weight: bold;
}
.legend_text
{
font-size: 12px;
color: #000000;
text-decoration: none;
}
.menu_office1
{
background: #346187;
//-webkit-border-radius: 10px;
//-moz-border-radius: 10px;
//border-radius: 10px;
border:0;
padding: 10px 20px 10px 20px;
cursor:pointer;
text-align:center;
text-decoration:none;
margin-right:1px;
}  
.menu_office1:hover
{
background: #4682b4;
}         
.menu_office
{
background: #4682b4;
//-webkit-border-radius: 10px;
//-moz-border-radius: 10px;
//border-radius: 10px;
border:0;
padding: 10px 20px 10px 20px;
cursor:pointer;
text-align:center;
text-decoration:none;
margin-right:1px;
}       
.menu_office2
{
background: #CCCCCC;
//-webkit-border-radius: 10px;
//-moz-border-radius: 10px;
//border-radius: 10px;
border:0;
padding: 10px 20px 10px 20px;
cursor:pointer;
text-align:center;
text-decoration:none;
margin-right:1px;
width:100px;
display:inline-block;
}  
.menu_office2:hover
{
background: #4682b4;
}         
</style>



<script>

function getElementsByIdStartsWith(container, selectorTag, prefix) {
    var items = [];
    var myPosts = document.getElementById(container).getElementsByTagName(selectorTag);
    for (var i = 0; i < myPosts.length; i++) {
 
        if (myPosts[i].id.lastIndexOf(prefix, 0) === 0) {
            document.getElementById(myPosts[i].id).style.display = '';
        }
    }
}


function getElementsByIdStartsWith1(container, selectorTag, prefix) {
    var items = [];
    var myPosts = document.getElementById(container).getElementsByTagName(selectorTag);
    for (var i = 0; i < myPosts.length; i++) {
 
        if (myPosts[i].id.lastIndexOf(prefix, 0) === 0) {
            document.getElementById(myPosts[i].id).style.display = 'none';
        }
    }
}


function show_all()
{
getElementsByIdStartsWith('GUILbucket02', 'div', 'other_');
getElementsByIdStartsWith('RKRUGbucket02', 'div', 'other_');
}

function show_hot()
{
getElementsByIdStartsWith1('GUILbucket02', 'div', 'other_');
getElementsByIdStartsWith1('RKRUGbucket02', 'div', 'other_');
}


function show_cold()
{

alert("In Construction");

}



function show_new_used(Type)
{

alert(Type+" - In Construction");

}


function show_new_used1(Type)
{

alert(Type+" - In Construction");

}




</script>




</head>


<body>
 
<div id='top_menu'>

<table width='100%' cellspacing="2px" cellpadding="10px" border='0'>
<tr align='center'>
<td colspan='3' class='menu_office'>
<span class='menu_text'><b><span id='office_title'></span> Sales Funnel</b></span>
</td>
</tr>

<tr align='center'>
<td class='menu_office1'>
<a href='#' onClick="change_office('SIN'); return false;"><span class='menu_text'>SIN</span></a>
</td>
<td class='menu_office1'>
<a href='#' onClick="change_office('BJS'); return false;"><span class='menu_text'>BJS</span></a>
</td>
<td class='menu_office1'>
<a href='#' onClick="change_office('MEA'); return false;"><span class='menu_text'>MEA</span></a>
</td>
</tr>

<tr align='center'>
<td class='menu_office1'>
<a href='#' onClick="change_office('AMS'); return false;"><span class='menu_text'>AMS</span></a>
</td>
<td class='menu_office1'>
<a href='#' onClick="change_office('SJK'); return false;"><span class='menu_text'>SJK</span></a>
</td>
<td class='menu_office1'>
<a href='#' onClick="change_office('FLL'); return false;"><span class='menu_text'>FLL</span></a>
</td>
</tr>
 </table>
 
 <br></br>
 
 
 <table width="100%" cellspacing="0px" cellpadding="2px" border="0px" class='box1'>
 <tr >
 <td width='74px'>
    <img src='/servlet/servlet.ImageServer?id=0150H00000FkVYs&oid=00Di0000000fp0q&lastMod=1503250389000' width='70px'></img>
 
 </td>
 <td>
    <div class='prosp'><b>Martyn Holmes</b></div>
 
 
 
 <div class='prosp1'>AMS Sales Funnel</div>
 
 
 
<table width="100%" cellspacing="2px" cellpadding="5px" border="0px" style='font-size:12px;'>
<tr>


<td class='btn3cold1'  align='center' width='33%'>
COLD SUSPECT<br></br>No Decision
</td>


<td class='btn3cold'  align='center' width='33%'>
COLD SUSPECT<br></br>Wrong Moment
</td>



<td class='btn3'  align='center' width='33%'>
SUSPECT
</td>


</tr>


<tr>



<td class='btn3new' align='center' width='33%'>
HOT SUSPECT
</td>


<td class='btn5' align='center' width='33%'>
PROSPECT
</td>

<td class='btn6new' align='center' width='33%'>
CAMPAIGN
</td>


</tr>

</table>
 
 
 </td>
</tr>

</table>
 
  
  
  
 

   
   
<table width="100%" cellspacing="2px" cellpadding="0px" border="0px">



<!--NALY-->
<tr align='center' id='RowNALY' class="box1">
<td  valign='top'>
<table width="100%" cellspacing="0px" cellpadding="2px" border="0px" >
<tr >
<td width='74px'>
<img src='/servlet/servlet.ImageServer?id=0150H00000GZHyE&oid=00Di0000000fp0q&lastMod=1534427575000' width='50px'></img>
</td>
<td align='left'>
<div class='prosp'><b>William Ast</b></div>
<div id='NALYcount02' class='box1'></div>
</td>
</tr>
</table>
<div id='NALYbucket02' ></div>
</td>
</tr>
<!--END NALY-->






<!--STEPH-->
<tr align='center' id='RowSTEPH' class="box1">
<td  valign='top'>
<table width="100%" cellspacing="0px" cellpadding="2px" border="0px" >
<tr >
<td width='74px'>
<img src='/servlet/servlet.ImageServer?id=0150H00000FkVa5&oid=00Di0000000fp0q&lastMod=1503251341000' width='50px'></img>
</td>
<td align='left'>
<div class='prosp'><b>Stephan Hannemann</b></div>
<div id='STEPHcount02' class='box1'></div>
</td>
</tr>
</table>
<div id='STEPHbucket02' ></div>
</td>
</tr>
<!------------------------------------------------------ END STEPH-->
 


<!--IGOR-->
<tr align='center' id='RowIGOR' class="box1">
<td  valign='top'>
<table width="100%" cellspacing="0px" cellpadding="2px" border="0px" >
<tr >
<td width='74px'>
<img src='/servlet/servlet.ImageServer?id=0150H00000G3gH6&oid=00Di0000000fp0q&lastMod=1510078917000' width='50px'></img>
</td>
<td align='left'>
<div class='prosp'><b>Paul Ruys</b></div>
<div id='IGORcount02' class='box1'></div>
</td>
</tr>
</table>
<div id='IGORbucket02' ></div>
</td>
</tr>
<!------------------------------------------------------ END IGOR-->




 
<!--MATHEUS-->
<tr align='center' id='RowMATHEUS' class="box1">
<td  valign='top'>
<table width="100%" cellspacing="0px" cellpadding="2px" border="0px" >
<tr >
<td width='74px'>
<img src='/servlet/servlet.ImageServer?id=0150H00000FkVnE&oid=00Di0000000fp0q&lastMod=1503261679000' width='50px'></img>
</td>
<td align='left'>
<div class='prosp'><b>Matheus Lima</b></div>
<div id='MATHEUScount02' class='box1'></div>
</td>
</tr>
</table>
<div id='MATHEUSbucket02' ></div>
</td>
</tr>
<!------------------------------------------------------ END MATHEUS-->
 
 </table>
 
 <script>
 Queryvalue('005i0000006tWtT','NALY'); 
 Queryvalue('005i0000006HRbs','STEPH');
 Queryvalue('0050H000009OuHI','IGOR'); 
 Queryvalue('005i0000006thyo','MATHEUS');
 </script>
 
  <script>

ScreenWidth = screen.width;
if (ScreenWidth>768)
ScreenWidth = 768;


document.getElementById('top_menu').style.width= ScreenWidth+'px';
</script>
 
 
 <br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
 </div>
 </body>
 </html>
 
 
 
 
 </apex:page>