<apex:page >
<style>


.menu_ss
                {
                background: #259E82;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }  

                .menu_weekly
                {
                background: #346187;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }

                .menu_covid19
                {
                background: #C0392B;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }

                .menu_ejets
                {
                background: #566573;
                border:0;
                padding: 5px;
                cursor:pointer;
                text-align:center;
                text-decoration:none;
                margin-right:1px;
                width:100px;
                display:inline-block;
                }

                .menu_texttop
                {
                font-size: 14px;
                color: #FFFFFF;
                text-decoration: none;
                font-weight: bold;
                }

</style>

<br></br><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    
window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

(function(global) {
    var MONTHS = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
    ];

    var COLORS = [
        '#4dc9f6',
        '#f67019',
        '#f53794',
        '#537bc4',
        '#acc236',
        '#166a8f',
        '#00a950',
        '#58595b',
        '#8549ba'
    ];

    var Samples = global.Samples || (global.Samples = {});
    var Color = global.Color;

    Samples.utils = {
        srand: function(seed) {
            this._seed = seed;
        },

        rand: function(min, max) {
            var seed = this._seed;
            min = min === undefined ? 0 : min;
            max = max === undefined ? 1 : max;
            this._seed = (seed * 9301 + 49297) % 233280;
            return min + (this._seed / 233280) * (max - min);
        },

        numbers: function(config) {
            var cfg = config || {};
            var min = cfg.min || 0;
            var max = cfg.max || 1;
            var from = cfg.from || [];
            var count = cfg.count || 8;
            var decimals = cfg.decimals || 8;
            var continuity = cfg.continuity || 1;
            var dfactor = Math.pow(10, decimals) || 0;
            var data = [];
            var i, value;

            for (i = 0; i < count; ++i) {
                value = (from[i] || 0) + this.rand(min, max);
                if (this.rand() <= continuity) {
                    data.push(Math.round(dfactor * value) / dfactor);
                } else {
                    data.push(null);
                }
            }

            return data;
        },

        labels: function(config) {
            var cfg = config || {};
            var min = cfg.min || 0;
            var max = cfg.max || 100;
            var count = cfg.count || 8;
            var step = (max - min) / count;
            var decimals = cfg.decimals || 8;
            var dfactor = Math.pow(10, decimals) || 0;
            var prefix = cfg.prefix || '';
            var values = [];
            var i;

            for (i = min; i < max; i += step) {
                values.push(prefix + Math.round(dfactor * i) / dfactor);
            }

            return values;
        },

        months: function(config) {
            var cfg = config || {};
            var count = cfg.count || 12;
            var section = cfg.section;
            var values = [];
            var i, value;

            for (i = 0; i < count; ++i) {
                value = MONTHS[Math.ceil(i) % 12];
                values.push(value.substring(0, section));
            }

            return values;
        },

        color: function(index) {
            return COLORS[index % COLORS.length];
        },

        transparentize: function(color, opacity) {
            var alpha = opacity === undefined ? 0.5 : 1 - opacity;
            return Color(color).alpha(alpha).rgbString();
        }
    };

    // DEPRECATED
    window.randomScalingFactor = function() {
        return Math.round(Samples.utils.rand(-100, 100));
    };

    // INITIALIZATION

    Samples.utils.srand(Date.now());


}(this));
    
    
    
    </script>
    
    
    
    
    
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"></link>









<script>
function show_div(DivId)
{

    document.getElementById('control_fh').style.display='none';
    document.getElementById('control_index').style.display='none';
    document.getElementById(DivId).style.display='';


}
</script>
<style>
    .title 
    {
        background:#CCCCCC;font-size:25px;padding:25px;text-align:left;font-weight:bold;
        font-family: 'Roboto', sans-serif;
    }

    .title1 
    {
        background:#EAEAEA;font-size:25px;padding:25px;text-align:left;font-weight:bold;
        font-family: 'Roboto', sans-serif;
    }

    .titles
    {
        background:#EAEAEA;font-size:13px;text-align:left;
        font-family: 'Roboto', sans-serif;
    }


    .chart 
    {
        background:#EAEAEA;width:95%;font-family: 'Roboto', sans-serif;
    }

    .btn_action
    
{
    background: #1F618D;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #FFFFFF;
    border:0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    cursor:pointer;
}


    </style>








<div align='center'>
<div style='width:1200px;background:#EAEAEA;'>

<div class='title1'>
<div>AHEAD Data Integration by REGION/Operator/Fleet</div>
<div><span class='titles'>This information is updated weekly as new batch of data comes from the operators. 
<span style='color:red;'>Last Update Week 35 - Aug 23 to Aug 29</span></span></div>
<div><a href='#' class='btn_action' onClick="show_div('control_fh'); return false;">Graphs by Flight Hours</a>
&nbsp;&nbsp;<a href='#'  class='btn_action' onClick="show_div('control_index'); return false;">Graphs by INDEX (Flight Hours/Flight Hours Week 2)</a>
</div>
</div>


    <div id='control_fh'>
            <div class='title'>Europe/CIS - Flight Hours</div>
            <div class='chart'><canvas id="canvas"></canvas></div>

            <div class='title'>Latin America and Caribbean - Flight Hours</div>
            <div class='chart'><canvas id="canvas1"></canvas></div>

            <div class='title'>North America - Flight Hours</div>
            <div class='chart'><canvas id="canvas2"></canvas></div>

            <div class='title'>Middle East and Africa - Flight Hours</div>
            <div class='chart'><canvas id="canvas3"></canvas></div>

            <div class='title'>China/Mongolia - Flight Hours</div>
            <div class='chart'><canvas id="canvas4"></canvas></div>

            <div class='title'>Asia and Pacific - Flight Hours</div>
            <div class='chart'><canvas id="canvas5"></canvas></div>
    </div>


    <div id='control_index' style='display:none;'>
            <div class='title'>Europe/CIS - INDEX (Flight Hours/Flight Hours Week 2)</div>
            <div class='chart'><canvas id="canvas_index"></canvas></div>

            <div class='title'>Latin America and Caribbean - INDEX (Flight Hours/Flight Hours Week 2)</div>
            <div class='chart'><canvas id="canvas_index1"></canvas></div>

            <div class='title'>North America - INDEX (Flight Hours/Flight Hours Week 2)</div>
            <div class='chart'><canvas id="canvas_index2"></canvas></div>

            <div class='title'>Middle East and Africa - INDEX (Flight Hours/Flight Hours Week 2)</div>
            <div class='chart'><canvas id="canvas_index3"></canvas></div>

            <div class='title'>China/Mongolia - INDEX (Flight Hours/Flight Hours Week 2)</div>
            <div class='chart'><canvas id="canvas_index4"></canvas></div>

            <div class='title'>Asia and Pacific - INDEX (Flight Hours/Flight Hours Week 2)</div>
            <div class='chart'><canvas id="canvas_index5"></canvas></div>
    </div>


</div>
</div>
    


    <script>
        var MONTHS = [];


            var config = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AIR ASTANA 192T',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [166.04,161.87,117.50,165.76,149.36,121.70,124.95,106.36,155.42,152.07,46.73,2.75,13.92,38.75,17.25,33.01,60.86,37.20,21.62,76.99,83.29,45.20,71.92,69.73,66.32,54.21,56.07,21.79,24.75,33.91],
            fill: false,
            },{
            label: 'AIR ASTANA 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [149.27,95.29,89.22,140.47,151.90,194.78,140.64,176.51,137.25,107.00,31.48,3.08,0.37],
            fill: false,
            },{
            label: 'AIR DOLOMITI 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [543.23,542.20,568.32,614.02,650.47,606.02,671.26,634.58,622.45,422.80,72.30,12.16,22.25,20.62,11.88,32.53,28.56,25.14,30.06,24.95,32.62,41.69,63.07,102.07,120.09,190.05,207.30,248.74,267.40,294.43,321.55,319.65,301.12,310.35],
            fill: false,
            },{
            label: 'ALITALIA 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [458.95,434.50,448.75,439.04,493.37,469.35,444.38,390.30,354.77,84.82,33.47,35.42,36.61,26.71,4.94,7.53,21.95,23.02,18.30,8.67,10.99,10.84,10.92,23.32,37.45,107.83,123.78,111.67,113.30,120.58,62.60,59.61,46.11,84.62],
            fill: false,
            },{
            label: 'ALITALIA 19FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [186.64,174.75,211.53,176.66,192.57,199.47,192.44,143.75,95.85,12.22,1.15,13.27,22.01,24.81,39.92,36.22,40.20,59.79,28.74,54.44,43.69,30.61,34.62,50.75,46.45,47.50,37.34,46.14,29.64,27.20,30.25,29.66],
            fill: false,
            },{
            label: 'ARKIA 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [61.02,63.92,69.03,68.06,66.72,68.73,63.69,55.99,50.12,29.61,2.19,0.88],
            fill: false,
            },{
            label: 'BELAVIA 17FT',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [117.29,143.79,134.99,133.73,130.12,129.39,124.29,134.14,137.38,147.53,96.89,85.04,63.66,62.42,42.91,57.00,65.53,69.48,76.76,66.01,56.88,44.98,44.74,51.59,65.51,27.64,63.18,66.91,85.63,80.10,80.75,99.96,113.69,109.80],
            fill: false,
            },{
            label: 'BELAVIA 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [331.42,304.25,300.36,297.76,309.87,279.82,306.61,314.49,312.48,287.30,183.08,145.93,71.21,56.66,76.46,78.21,98.67,94.49,67.75,72.44,50.57,87.21,103.29,121.73,94.95,123.72,127.14,144.03,151.61,153.37,178.03,185.08,197.05,192.87],
            fill: false,
            },{
            label: 'BINTERTECHNIC 192T',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [73.41,65.42,98.80,93.72,121.16,99.79,86.47,115.83,118.14,106.52,46.69,0.50,1.53,1.86,2.08,42.64,55.60,52.73,96.64,99.09,98.38,113.34,110.54,112.60],
            fill: false,
            },{
            label: 'HELVETIC AIRWAYS 192T',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [45.10,54.30,64.11,68.20,65.52,59.60,64.76,78.63,90.37,65.31,27.97,16.55,1.78,13.28,7.99,0.37,7.25,4.91,4.45,17.81,14.10,25.65,30.45],
            fill: false,
            },{
            label: 'HELVETIC AIRWAYS 19FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [289.58,276.78,275.87,263.14,239.36,256.61,300.27,276.16,209.48,138.35,51.07,1.73,1.07,1.02,1.23,1.32,2.71,3.75,3.84,6.06,3.91,0.58,6.09,12.27],
            fill: false,
            },{
            label: 'HOP! 17FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [486.04,468.34,480.33,467.17,457.96,535.76,526.84,488.98,481.48,407.64,107.89,6.10,29.57,64.89,106.37,144.23,143.26,114.53,135.45],
            fill: false,
            },{
            label: 'HOP! 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [610.50,583.84,585.79,615.31,588.95,612.19,587.36,556.60,598.37,587.83,275.15,2.11,2.56,5.34,38.72,68.00,95.83,223.76,284.44,369.82,337.93,366.64,347.47,358.99,381.69,395.35],
            fill: false,
            },{
            label: 'KLM CITYHOPPER 17FT',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [663.33,657.73,622.66,631.27,651.01,596.90,686.94,703.83,691.51,634.71,436.54,68.14,9.83,92.52,189.58,171.15,169.32,147.41,133.78,134.86,120.19,102.90,112.57,124.01,188.81,180.20,174.98,562.42,592.86,678.99,692.90],
            fill: false,
            },{
            label: 'KLM CITYHOPPER 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1338.07,1342.67,1334.22,1364.67,1260.12,1230.20,1351.34,1396.67,1297.33,1258.94,563.87,190.95,173.57,161.28,169.08,223.86,115.01,196.73,193.47,206.46,189.82,260.39,201.00,194.87,224.76,377.47,463.82,344.04,323.32,325.37,928.03,1051.62,1010.81,970.38],
            fill: false,
            },{
            label: 'LUFTHANSA CITYLINE 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [412.40,434.89,446.24,437.20,442.19,436.45,463.28,465.81,439.45,328.04,190.67,74.63,90.76,92.01,98.44,131.93,137.72,198.42,169.09,163.12,160.97,163.59,179.18,186.79,166.13,173.20,196.09,190.56,230.81,216.21,216.53,233.66,222.26,227.33],
            fill: false,
            },{
            label: 'NORDIC REGIONAL 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [617.47,650.92,578.51,592.49,526.78,525.27,551.89,537.18,514.92,494.33,200.96,130.28,171.41,195.54,210.46,140.91,140.24,141.79,142.22,157.52,155.18,229.15,223.00,253.29,264.13,329.45,309.52,367.12,373.34,439.47,604.79,620.77,578.50,543.15],
            fill: false,
            },{
            label: 'PEOPLES 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [12.85,25.68,27.44,30.21,14.00,11.59,27.50,25.63,30.11,29.52,2.06,8.84,8.21,7.78,8.66,10.71,8.85,8.01,4.16,5.41,3.92,4.99],
            fill: false,
            },{
            label: 'PORTUGALIA 19FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [280.40,241.88,209.49,227.91,224.92,193.94,246.83,210.75,207.04,183.24,123.35,33.10,8.82,8.31,8.20,4.12,8.32,3.94],
            fill: false,
            },{
            label: 'TUI FLY 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [214.84,179.00,193.48,184.50,185.69,138.48,184.71,206.89,204.86,214.84,107.04,22.07,83.82,122.99,159.32,167.00,160.88,179.36,164.10,142.69],
            fill: false,
            },{
            label: 'UKRAINE AIRLINE 19FT',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [192.42,222.76,245.00,209.50,245.81,200.74,230.77,232.33,250.42,238.38,42.64,20.37,3.70,6.64,2.14,19.82,5.87,3.57,11.58,7.86,5.51,13.78,20.19,14.95,38.08,9.03,21.74,62.48,70.68,63.62,100.24,77.65,71.80],
            fill: false,
            },{
            label: 'WIDEROES FLYVESELSKAP ASA 192T',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [113.06,118.86,117.18,113.20,149.05,139.43,152.12,132.07,127.68,145.50,95.25,27.16,58.30,53.80,45.35,39.78,38.17,39.66,38.93,47.06,50.63,58.95,61.02,57.29,64.65,72.81,71.00,67.50,74.93,67.08,69.83,68.66,83.66,87.74],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Flight Hours'
            }
            }]
            }
            }
            };



            var config1 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AM CONNECT 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [311.76,296.01,296.32,306.44,357.64,365.21,376.53,324.24,312.60,321.53,169.08,14.74,12.56,10.30,20.45,15.24,8.19,10.90,6.01,3.13,3.96,5.53,5.16,4.28,13.79,2.03,5.23,15.36],
            fill: false,
            },{
            label: 'AM CONNECT 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [2533.00,2312.38,2321.68,2370.73,2424.19,2410.00,2337.70,2324.31,2329.03,2389.80,2029.61,999.59,799.10,514.38,485.23,467.12,389.78,396.44,399.43,340.37,348.47,302.53,397.63,435.12,561.54,874.54,1045.55,1110.42,1149.31,1198.65,1316.54,1301.54,1284.58,1313.94],
            fill: false,
            },{
            label: 'AUSTRAL 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1061.75,1027.01,1008.52,1033.99,1029.38,891.35,973.77,1011.75,985.21,934.68,491.96,31.61,1.67,6.72,2.87,4.77,8.36,0.47,1.12,3.10,4.93,7.70,0.57,10.85,0.96,4.45,4.20,0.40,9.46,12.58,11.75,8.36],
            fill: false,
            },{
            label: 'AZUL 192T',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [217.64,221.94,172.41,163.21,203.70,227.10,236.85,190.15,201.31,256.47,127.38,57.41,76.32,55.61,56.02,47.38,28.97,78.05,133.85,136.48,146.28,138.37,137.09,119.93,138.15,145.81,168.24,117.78,126.99,132.76,150.86,164.26,160.18,157.61],
            fill: false,
            },{
            label: 'AZUL 19FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [2620.54,2574.72,2284.86,2284.37,2202.78,2111.47,2081.22,1757.85,2112.77,2052.56,1329.25,172.78,131.86,89.76,69.53,49.02,15.57,64.96,81.09,74.00,59.61,63.14,44.06,69.30,88.58,133.18,199.75,247.05,320.86,317.91,293.49,268.03,315.47,290.21],
            fill: false,
            },{
            label: 'COPA AIRLINES NONE',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [5375.95,4880.25,5139.82,7099.22,4972.95,4947.33,5045.37,5057.92,5037.49,4932.03,3484.50,247.98],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Flight Hours'
            }
            }]
            }
            }
            };



            var config2 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AIR CANADA 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [769.61,763.52,785.26,772.92,796.53,835.46,782.14,753.22,756.35,738.49,660.88,243.92,178.43,192.57,211.65,149.82,95.85,87.00,131.78,111.55,123.69,24.14],
            fill: false,
            },{
            label: 'AMERICAN AIRLINES 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [578.78,527.75,565.08,607.19,589.96,665.65,657.25,636.13,669.29,602.01,431.80,129.73,4.50,1.13,33.80,10.30],
            fill: false,
            },{
            label: 'COMPASS 17FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [395.22,390.23,359.59,431.32,396.69,406.12,387.98,439.63,365.77,352.42,352.94,259.95,100.68],
            fill: false,
            },{
            label: 'ENVOY 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [3345.05,3393.85,3445.53,3483.87,3524.62,3632.64,3822.68,3837.77,4003.86,4133.73,3684.41,3087.30,2362.53,1686.60,1518.49,1125.38,1147.54,1621.08,2040.15,2031.35,2029.67,2104.72,2220.03,2158.41,2119.24,2248.94,3019.56,3276.29,3246.99,2817.20,1197.62,2385.84,2672.22,2709.27],
            fill: false,
            },{
            label: 'HORIZON AIR 17FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [1720.09,1662.03,1747.93,1745.09,1763.39,1761.03,1782.69,1787.69,1847.49,1752.00,1642.19,1466.73,799.47,697.24,726.89,703.66,697.48,740.71,880.24,1061.66,1030.49,1308.54,1442.08,1472.55,1491.55,1414.46,1359.42,1315.19,1528.14,1544.24,1858.67,1839.55,1843.62,1838.72],
            fill: false,
            },{
            label: 'JET BLUE 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [3056.04,3007.83,2935.52,2931.64,2950.28,3165.57,3171.93,3206.37,3185.51,3086.25,2891.38,1354.88,619.17,595.80,416.04,318.94,305.62,208.25,199.86,172.90,176.86,283.57,283.17,281.23,275.54,235.99,197.18,175.03,165.48,252.54,424.91,392.23,364.29,366.19],
            fill: false,
            },{
            label: 'MGM RESORTS INTERNATIONAL NONE',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [29.36,22.39,27.61,36.89,25.83],
            fill: false,
            },{
            label: 'REPUBLIC 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [10309.87,10189.85,9858.79,10295.41,10413.84,10825.10,10528.76,10619.26,10917.59,10974.48,10009.35,6067.79,3835.22,2591.96,1909.84,1810.81,1894.60,1486.59,1595.05,1759.63,1773.26,2364.36,2795.31,2960.30,3098.36,3275.34,5074.34,5211.82,5247.75,4826.78,4564.13,4666.20,4705.90,4797.03],
            fill: false,
            },{
            label: 'SKYWEST 17FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [9279.74,9063.29,9153.79,9307.97,9232.97,9252.73,9470.30,9528.21,9891.56,9890.15,9185.84,7326.44,5298.60,3985.47,3320.79,3337.07,3421.96,3552.09,3753.73,3834.27,3922.44,4017.76,4305.11,4490.57,4633.39,5195.74,6856.04,6964.26,6885.63,7122.01,7576.47,7415.31,7366.36,7292.62],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Flight Hours'
            }
            }]
            }
            }
            };



           var config3 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AIRLINK 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [32.45,48.19,57.11,42.09,53.87,49.08,61.08,51.95,38.20,61.38,13.24,14.13,10.77,19.14,16.07,8.44,2.39,2.60,3.42,2.59],
            fill: false,
            },{
            label: 'AIRLINK 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [133.01,121.44,135.93,163.38,157.04,145.13,159.80,188.10,200.51,167.11,106.27,2.48,1.85,5.32,27.88,24.04,28.89,37.15,25.76,32.60,39.54,51.03,56.80,79.21],
            fill: false,
            },{
            label: 'KENYA AIRWAYS 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [737.84,707.24,659.33,819.17,763.39,800.44,770.76,747.53,689.83,765.44,571.22,106.65,21.52,16.32,10.90,8.06,5.42,21.70,8.46,6.27,1.15,13.35,1.56,10.42,2.57,18.60,40.02,56.31,81.65,96.07,78.23,102.48],
            fill: false,
            },{
            label: 'OMAN AIR 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [226.13,189.18,172.71,159.17,164.43,138.48,143.42,104.68,123.19,96.65,43.52,8.05,7.69,5.11,10.02,5.07,5.11,10.01,4.40,5.15,2.62,5.13,3.95,0.92,1.99,0.24,0.43,1.37,1.20],
            fill: false,
            },{
            label: 'ROYAL JORDANIAN 17FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [51.00,37.17,32.79,22.00,32.88,29.01,15.95,19.47,20.28,11.73],
            fill: false,
            },{
            label: 'ROYAL JORDANIAN 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [15.76,25.76,32.52,34.44,26.84,42.98,20.65,37.35,29.90,35.83,1.68],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Flight Hours'
            }
            }]
            }
            }
            };


            var config4 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'COLORFUL GUIZHOU 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [423.31,474.01,391.99,367.19,146.90,125.77,172.45,223.96,285.97,332.29,337.32,277.63,250.18,268.21,256.86,277.59,285.20,357.59,340.07,344.03,338.53,325.67,300.57,335.63,395.88,389.83,375.28,392.41,406.84,379.22,355.15,372.82,342.57,354.49],
            fill: false,
            },{
            label: 'HE BEI 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [246.64,270.89,208.40,96.95,116.00,111.44,89.08,96.68,118.98,75.44,88.96,100.61,95.62,167.71,159.43,122.93,148.91,196.25,201.03,187.36,182.70,173.62,147.37,90.36,20.27],
            fill: false,
            },{
            label: 'TIANJIN 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [238.53,282.38,249.67,124.85,65.11,119.25,276.05,86.94,72.24,87.85,153.98,83.24,75.16,125.52,51.03,80.00,80.76,68.28,87.01,156.00,150.66,134.30,603.27,782.94,666.44,688.44,676.32,571.02,512.82,2.07,440.71],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Flight Hours'
            }
            }]
            }
            }
            };

            var config5 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'JAL 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [709.31,719.19,725.23,702.49,727.28,719.58,718.95,718.03,692.90,624.03,568.56,572.76,716.82,602.73,503.86,332.40,337.55,309.53,207.85,156.21,170.24,255.03,217.99,304.00,301.61,375.72,410.63,391.77,530.46,554.02,711.41,622.74,454.75,454.99],
            fill: false,
            },{
            label: 'JAL 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [643.71,640.80,649.19,588.83,640.12,634.10,642.83,632.15,618.25,571.85,557.17,525.40,551.77,454.42,417.70,332.92,323.03,305.00,318.84,310.70,290.09,136.36,115.50,228.91,169.97,248.54,271.32,320.62,401.60,408.61,582.18,518.46,407.02,399.28],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Flight Hours'
            }
            }]
            }
            }
            };


            var config_index = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AIR ASTANA 192T',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,0.97,0.71,1.00,0.90,0.73,0.75,0.64,0.94,0.92,0.28,0.02,0.08,0.23,0.10,0.20,0.37,0.22,0.13,0.46,0.50,0.27,0.43,0.42,0.40,0.33,0.34,0.13,0.15,0.20],
            fill: false,
            },{
            label: 'AIR ASTANA 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,0.64,0.60,0.94,1.02,1.30,0.94,1.18,0.92,0.72,0.21,0.02,0.00],
            fill: false,
            },{
            label: 'AIR DOLOMITI 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1.00,1.00,1.05,1.13,1.20,1.12,1.24,1.17,1.15,0.78,0.13,0.02,0.04,0.04,0.02,0.06,0.05,0.05,0.06,0.05,0.06,0.08,0.12,0.19,0.22,0.35,0.38,0.46,0.49,0.54,0.59,0.59,0.55,0.57],
            fill: false,
            },{
            label: 'ALITALIA 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [1.00,0.95,0.98,0.96,1.07,1.02,0.97,0.85,0.77,0.18,0.07,0.08,0.08,0.06,0.01,0.02,0.05,0.05,0.04,0.02,0.02,0.02,0.02,0.05,0.08,0.23,0.27,0.24,0.25,0.26,0.14,0.13,0.10,0.18],
            fill: false,
            },{
            label: 'ALITALIA 19FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [1.00,0.94,1.13,0.95,1.03,1.07,1.03,0.77,0.51,0.07,0.01,0.07,0.12,0.13,0.21,0.19,0.22,0.32,0.15,0.29,0.23,0.16,0.19,0.27,0.25,0.25,0.20,0.25,0.16,0.15,0.16,0.16],
            fill: false,
            },{
            label: 'ARKIA 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [1.00,1.05,1.13,1.12,1.09,1.13,1.04,0.92,0.82,0.49,0.04,0.01],
            fill: false,
            },{
            label: 'BELAVIA 17FT',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [1.00,1.23,1.15,1.14,1.11,1.10,1.06,1.14,1.17,1.26,0.83,0.73,0.54,0.53,0.37,0.49,0.56,0.59,0.65,0.56,0.48,0.38,0.38,0.44,0.56,0.24,0.54,0.57,0.73,0.68,0.69,0.85,0.97,0.94],
            fill: false,
            },{
            label: 'BELAVIA 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,0.92,0.91,0.90,0.93,0.84,0.93,0.95,0.94,0.87,0.55,0.44,0.21,0.17,0.23,0.24,0.30,0.29,0.20,0.22,0.15,0.26,0.31,0.37,0.29,0.37,0.38,0.43,0.46,0.46,0.54,0.56,0.59,0.58],
            fill: false,
            },{
            label: 'BINTERTECHNIC 192T',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,0.89,1.35,1.28,1.65,1.36,1.18,1.58,1.61,1.45,0.64,0.01,0.02,0.03,0.03,0.58,0.76,0.72,1.32,1.35,1.34,1.54,1.51,1.53],
            fill: false,
            },{
            label: 'HELVETIC AIRWAYS 192T',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1.00,1.20,1.42,1.51,1.45,1.32,1.44,1.74,2.00,1.45,0.62,0.37,0.04,0.29,0.18,0.01,0.16,0.11,0.10,0.39,0.31,0.57,0.68],
            fill: false,
            },{
            label: 'HELVETIC AIRWAYS 19FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [1.00,0.96,0.95,0.91,0.83,0.89,1.04,0.95,0.72,0.48,0.18,0.01,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.02,0.01,0.00,0.02,0.04],
            fill: false,
            },{
            label: 'HOP! 17FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [1.00,0.96,0.99,0.96,0.94,1.10,1.08,1.01,0.99,0.84,0.22,0.01,0.06,0.13,0.22,0.30,0.29,0.24,0.28],
            fill: false,
            },{
            label: 'HOP! 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [1.00,0.96,0.96,1.01,0.96,1.00,0.96,0.91,0.98,0.96,0.45,0.00,0.00,0.01,0.06,0.11,0.16,0.37,0.47,0.61,0.55,0.60,0.57,0.59,0.63,0.65],
            fill: false,
            },{
            label: 'KLM CITYHOPPER 17FT',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [1.00,0.99,0.94,0.95,0.98,0.90,1.04,1.06,1.04,0.96,0.66,0.10,0.01,0.14,0.29,0.26,0.26,0.22,0.20,0.20,0.18,0.16,0.17,0.19,0.28,0.27,0.26,0.85,0.89,1.02,1.04],
            fill: false,
            },{
            label: 'KLM CITYHOPPER 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,1.00,1.00,1.02,0.94,0.92,1.01,1.04,0.97,0.94,0.42,0.14,0.13,0.12,0.13,0.17,0.09,0.15,0.14,0.15,0.14,0.19,0.15,0.15,0.17,0.28,0.35,0.26,0.24,0.24,0.69,0.79,0.76,0.73],
            fill: false,
            },{
            label: 'LUFTHANSA CITYLINE 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,1.05,1.08,1.06,1.07,1.06,1.12,1.13,1.07,0.80,0.46,0.18,0.22,0.22,0.24,0.32,0.33,0.48,0.41,0.40,0.39,0.40,0.43,0.45,0.40,0.42,0.48,0.46,0.56,0.52,0.53,0.57,0.54,0.55],
            fill: false,
            },{
            label: 'NORDIC REGIONAL 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1.00,1.05,0.94,0.96,0.85,0.85,0.89,0.87,0.83,0.80,0.33,0.21,0.28,0.32,0.34,0.23,0.23,0.23,0.23,0.26,0.25,0.37,0.36,0.41,0.43,0.53,0.50,0.59,0.60,0.71,0.98,1.01,0.94,0.88],
            fill: false,
            },{
            label: 'PEOPLES 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [1.00,2.00,2.14,2.35,1.09,0.90,2.14,1.99,2.34,2.30,0.16,0.69,0.64,0.61,0.67,0.83,0.69,0.62,0.32,0.42,0.31,0.39],
            fill: false,
            },{
            label: 'PORTUGALIA 19FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [1.00,0.86,0.75,0.81,0.80,0.69,0.88,0.75,0.74,0.65,0.44,0.12,0.03,0.03,0.03,0.01,0.03,0.01],
            fill: false,
            },{
            label: 'TUI FLY 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [1.00,0.83,0.90,0.86,0.86,0.64,0.86,0.96,0.95,1.00,0.50,0.10,0.39,0.57,0.74,0.78,0.75,0.83,0.76,0.66],
            fill: false,
            },{
            label: 'UKRAINE AIRLINE 19FT',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [1.00,1.16,1.27,1.09,1.28,1.04,1.20,1.21,1.30,1.24,0.22,0.11,0.02,0.03,0.01,0.10,0.03,0.02,0.06,0.04,0.03,0.07,0.10,0.08,0.20,0.05,0.11,0.32,0.37,0.33,0.52,0.40,0.37],
            fill: false,
            },{
            label: 'WIDEROES FLYVESELSKAP ASA 192T',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,1.05,1.04,1.00,1.32,1.23,1.35,1.17,1.13,1.29,0.84,0.24,0.52,0.48,0.40,0.35,0.34,0.35,0.34,0.42,0.45,0.52,0.54,0.51,0.57,0.64,0.63,0.60,0.66,0.59,0.62,0.61,0.74,0.78],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'INDEX (Flight Hours/Flight Hours Week 2)'
            }
            }]
            }
            }
            };



            var config_index1 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AM CONNECT 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,0.95,0.95,0.98,1.15,1.17,1.21,1.04,1.00,1.03,0.54,0.05,0.04,0.03,0.07,0.05,0.03,0.03,0.02,0.01,0.01,0.02,0.02,0.01,0.04,0.01,0.02,0.05],
            fill: false,
            },{
            label: 'AM CONNECT 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,0.91,0.92,0.94,0.96,0.95,0.92,0.92,0.92,0.94,0.80,0.39,0.32,0.20,0.19,0.18,0.15,0.16,0.16,0.13,0.14,0.12,0.16,0.17,0.22,0.35,0.41,0.44,0.45,0.47,0.52,0.51,0.51,0.52],
            fill: false,
            },{
            label: 'AUSTRAL 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1.00,0.97,0.95,0.97,0.97,0.84,0.92,0.95,0.93,0.88,0.46,0.03,0.00,0.01,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01],
            fill: false,
            },{
            label: 'AZUL 192T',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [1.00,1.02,0.79,0.75,0.94,1.04,1.09,0.87,0.92,1.18,0.59,0.26,0.35,0.26,0.26,0.22,0.13,0.36,0.62,0.63,0.67,0.64,0.63,0.55,0.63,0.67,0.77,0.54,0.58,0.61,0.69,0.75,0.74,0.72],
            fill: false,
            },{
            label: 'AZUL 19FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [1.00,0.98,0.87,0.87,0.84,0.81,0.79,0.67,0.81,0.78,0.51,0.07,0.05,0.03,0.03,0.02,0.01,0.02,0.03,0.03,0.02,0.02,0.02,0.03,0.03,0.05,0.08,0.09,0.12,0.12,0.11,0.10,0.12,0.11],
            fill: false,
            },{
            label: 'COPA AIRLINES NONE',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [1.00,0.91,0.96,1.32,0.93,0.92,0.94,0.94,0.94,0.92,0.65,0.05],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'INDEX (Flight Hours/Flight Hours Week 2)'
            }
            }]
            }
            }
            };



            var config_index2 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AIR CANADA 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,0.99,1.02,1.00,1.03,1.09,1.02,0.98,0.98,0.96,0.86,0.32,0.23,0.25,0.28,0.19,0.12,0.11,0.17,0.14,0.16,0.03],
            fill: false,
            },{
            label: 'AMERICAN AIRLINES 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,0.91,0.98,1.05,1.02,1.15,1.14,1.10,1.16,1.04,0.75,0.22,0.01,0.00,0.06,0.02],
            fill: false,
            },{
            label: 'COMPASS 17FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1.00,0.99,0.91,1.09,1.00,1.03,0.98,1.11,0.93,0.89,0.89,0.66,0.25],
            fill: false,
            },{
            label: 'ENVOY 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [1.00,1.01,1.03,1.04,1.05,1.09,1.14,1.15,1.20,1.24,1.10,0.92,0.71,0.50,0.45,0.34,0.34,0.48,0.61,0.61,0.61,0.63,0.66,0.65,0.63,0.67,0.90,0.98,0.97,0.84,0.36,0.71,0.80,0.81],
            fill: false,
            },{
            label: 'HORIZON AIR 17FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [1.00,0.97,1.02,1.01,1.03,1.02,1.04,1.04,1.07,1.02,0.95,0.85,0.46,0.41,0.42,0.41,0.41,0.43,0.51,0.62,0.60,0.76,0.84,0.86,0.87,0.82,0.79,0.76,0.89,0.90,1.08,1.07,1.07,1.07],
            fill: false,
            },{
            label: 'JET BLUE 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [1.00,0.98,0.96,0.96,0.97,1.04,1.04,1.05,1.04,1.01,0.95,0.44,0.20,0.19,0.14,0.10,0.10,0.07,0.07,0.06,0.06,0.09,0.09,0.09,0.09,0.08,0.06,0.06,0.05,0.08,0.14,0.13,0.12,0.12],
            fill: false,
            },{
            label: 'MGM RESORTS INTERNATIONAL NONE',
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            data: [1.00,0.76,0.94,1.26,0.88],
            fill: false,
            },{
            label: 'REPUBLIC 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,0.99,0.96,1.00,1.01,1.05,1.02,1.03,1.06,1.06,0.97,0.59,0.37,0.25,0.19,0.18,0.18,0.14,0.15,0.17,0.17,0.23,0.27,0.29,0.30,0.32,0.49,0.51,0.51,0.47,0.44,0.45,0.46,0.47],
            fill: false,
            },{
            label: 'SKYWEST 17FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,0.98,0.99,1.00,0.99,1.00,1.02,1.03,1.07,1.07,0.99,0.79,0.57,0.43,0.36,0.36,0.37,0.38,0.40,0.41,0.42,0.43,0.46,0.48,0.50,0.56,0.74,0.75,0.74,0.77,0.82,0.80,0.79,0.79],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'INDEX (Flight Hours/Flight Hours Week 2)'
            }
            }]
            }
            }
            };



           var config_index3 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'AIRLINK 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,1.49,1.76,1.30,1.66,1.51,1.88,1.60,1.18,1.89,0.41,0.44,0.33,0.59,0.50,0.26,0.07,0.08,0.11,0.08],
            fill: false,
            },{
            label: 'AIRLINK 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,0.91,1.02,1.23,1.18,1.09,1.20,1.41,1.51,1.26,0.80,0.02,0.01,0.04,0.21,0.18,0.22,0.28,0.19,0.25,0.30,0.38,0.43,0.60],
            fill: false,
            },{
            label: 'KENYA AIRWAYS 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1.00,0.96,0.89,1.11,1.03,1.08,1.04,1.01,0.93,1.04,0.77,0.14,0.03,0.02,0.01,0.01,0.01,0.03,0.01,0.01,0.00,0.02,0.00,0.01,0.00,0.03,0.05,0.08,0.11,0.13,0.11,0.14],
            fill: false,
            },{
            label: 'OMAN AIR 17FT',
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            data: [1.00,0.84,0.76,0.70,0.73,0.61,0.63,0.46,0.54,0.43,0.19,0.04,0.03,0.02,0.04,0.02,0.02,0.04,0.02,0.02,0.01,0.02,0.02,0.00,0.01,0.00,0.00,0.01,0.01],
            fill: false,
            },{
            label: 'ROYAL JORDANIAN 17FT',
            backgroundColor: window.chartColors.blue,
            borderColor: window.chartColors.blue,
            data: [1.00,0.73,0.64,0.43,0.64,0.57,0.31,0.38,0.40,0.23],
            fill: false,
            },{
            label: 'ROYAL JORDANIAN 19FT',
            backgroundColor: window.chartColors.purple,
            borderColor: window.chartColors.purple,
            data: [1.00,1.63,2.06,2.19,1.70,2.73,1.31,2.37,1.90,2.27,0.11],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'INDEX (Flight Hours/Flight Hours Week 2)'
            }
            }]
            }
            }
            };


            var config_index4 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'COLORFUL GUIZHOU 19FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,1.12,0.93,0.87,0.35,0.30,0.41,0.53,0.68,0.78,0.80,0.66,0.59,0.63,0.61,0.66,0.67,0.84,0.80,0.81,0.80,0.77,0.71,0.79,0.94,0.92,0.89,0.93,0.96,0.90,0.84,0.88,0.81,0.84],
            fill: false,
            },{
            label: 'HE BEI 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,1.10,0.84,0.39,0.47,0.45,0.36,0.39,0.48,0.31,0.36,0.41,0.39,0.68,0.65,0.50,0.60,0.80,0.82,0.76,0.74,0.70,0.60,0.37,0.08],
            fill: false,
            },{
            label: 'TIANJIN 19FT',
            backgroundColor: window.chartColors.yellow,
            borderColor: window.chartColors.yellow,
            data: [1.00,1.18,1.05,0.52,0.27,0.50,1.16,0.36,0.30,0.37,0.65,0.35,0.32,0.53,0.21,0.34,0.34,0.29,0.36,0.63,0.63,0.56,2.53,3.28,2.79,2.89,2.84,2.39,2.15,0.01,1.85],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'INDEX (Flight Hours/Flight Hours Week 2)'
            }
            }]
            }
            }
            };

            var config_index5 = {
            type: 'line',
            data: {
            labels: ['Jan-18',
'Jan-25',
'Feb-01',
'Feb-08',
'Feb-15',
'Feb-22',
'Feb-29',
'Mar-07',
'Mar-14',
'Mar-21',
'Mar-28',
'Apr-04',
'Apr-11',
'Apr-18',
'Apr-25',
'May-02',
'May-09',
'May-16',
'May-23',
'May-30',
'Jun-06',
'Jun-13',
'Jun-20',
'Jun-27',
'Jul-04',
'Jul-11',
'Jul-18',
'Jul-25',
'Aug-01',
'Aug-08',
'Aug-15',
'Aug-22',
'Aug-29'],
            datasets: [
            {
            label: 'JAL 17FT',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [1.00,1.01,1.02,0.99,1.03,1.01,1.01,1.01,0.98,0.88,0.80,0.81,1.01,0.85,0.71,0.47,0.48,0.44,0.29,0.22,0.24,0.36,0.31,0.43,0.43,0.53,0.58,0.55,0.75,0.78,1.00,0.88,0.64,0.64],
            fill: false,
            },{
            label: 'JAL 19FT',
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            data: [1.00,1.00,1.01,0.91,0.99,0.99,1.00,0.98,0.96,0.89,0.87,0.82,0.86,0.71,0.65,0.52,0.50,0.47,0.50,0.48,0.45,0.21,0.18,0.36,0.26,0.39,0.42,0.50,0.62,0.63,0.90,0.81,0.63,0.62],
            fill: false,
            },     
            ]
            },
            options: {
            responsive: true,
            title: {
            display: false,
            text: 'Chart.js Line Chart'
            },
            tooltips: {
            callbacks: {
            label: function(tooltipItem, data) {
            var value  = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
            var label = data.datasets[tooltipItem.datasetIndex].label;
            return label + ' ('+value + ')';
            }
            },
            },
            hover: {
            mode: 'nearest',
            intersect: true
            },
            scales: {
            xAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Weeks'
            }
            }],
            yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'INDEX (Flight Hours/Flight Hours Week 2)'
            }
            }]
            }
            }
            };




        window.onload = function() {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
            

            var ctx1 = document.getElementById('canvas1').getContext('2d');
            window.myLine = new Chart(ctx1, config1);
            
            var ctx2 = document.getElementById('canvas2').getContext('2d');
            window.myLine = new Chart(ctx2, config2);
            
            var ctx3 = document.getElementById('canvas3').getContext('2d');
            window.myLine = new Chart(ctx3, config3);
            
            var ctx4 = document.getElementById('canvas4').getContext('2d');
            window.myLine = new Chart(ctx4, config4);
            
            var ctx5 = document.getElementById('canvas5').getContext('2d');
            window.myLine = new Chart(ctx5, config5);

            var ctx_index = document.getElementById('canvas_index').getContext('2d');
            window.myLine = new Chart(ctx_index, config_index);
            

            var ctx_index1 = document.getElementById('canvas_index1').getContext('2d');
            window.myLine = new Chart(ctx_index1, config_index1);
            
            var ctx_index2 = document.getElementById('canvas_index2').getContext('2d');
            window.myLine = new Chart(ctx_index2, config_index2);
            
            var ctx_index3 = document.getElementById('canvas_index3').getContext('2d');
            window.myLine = new Chart(ctx_index3, config_index3);
            
            var ctx_index4 = document.getElementById('canvas_index4').getContext('2d');
            window.myLine = new Chart(ctx_index4, config_index4);
            
            var ctx_index5 = document.getElementById('canvas_index5').getContext('2d');
            window.myLine = new Chart(ctx_index5, config_index5);



        };
        


    </script>












  
  
  <script>
UserRole    = '{!JSENCODE($UserRole.Name)}';
UserId      = '{!JSENCODE($User.Id)}';
UserName    = '{!JSENCODE($User.FirstName)}'+' '+'{!JSENCODE($User.LastName)}';
UserTheme   = '{!JSENCODE($User.UITheme)}';



</script>

</apex:page>