<apex:page standardcontroller="SurveyForce__c" extensions="ViewSurveyController" cache="false" sidebar="false" showheader="false">
    <apex:includeScript value="{! $Resource.SurveyForce_jquery}"/>
    <!-- convertCheckBoxToLDS() is in surveyforce.js -->
    <apex:includeScript value="{! $Resource.SurveyForce + '/surveyforce.js'}"/>
    <apex:includeScript value="{!$Resource.GEN_JSBlockUI}" /> 
    <apex:stylesheet value="{! $Resource.SurveyForce + '/surveyforce.css'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce + '/surveyforce_pagemessage_override.css'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce_SLDS + '/assets/styles/salesforce-lightning-design-system-vf.min.css'}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


    <script>
    $(document).ready(function(){
        //Convert any elements with "convertToLDS" style to SLDS styles
        //Used in certain places where it's not easy to use SLDS for those elements like "apex:selectCheckboxes"
        convertCheckBoxToLDS();
    });
    
    function submitSurvey(){
        showLoader();
        executeSubmit();
    }
    
    function completeSubmit(){
        hideLoader();
    }
    
    function showLoader() {
        $.blockUI({
            message: '<img src="{!$Resource.SurveyForce_Loader}"    />',
            css: { 
                top:  ($(window).height() - 64) /2 + 'px', 
                left: ($(window).width() - 64) /2 + 'px', 
                border: '0px',
                width: '0px' 
            },
        }); 
    }  
    
    function hideLoader(){
        $.unblockUI();
    }  
    </script>
    <!-- Custom CSS added by survey admin -->
    <style>
        <apex:outputText value="{!HTMLENCODE(surveyContainerCss)}" escape="false"/>
    </style>


    <div id="survey_container" class="surveyforce">
        <apex:form id="theForm"   >

            <apex:outputPanel id="seeSurvey" rendered="{! If((SurveyForce__c.Hide_Survey_Name__c == false || SurveyForce__c.Survey_Header__c != ''), True, False )}" >
                <div class="slds-box slds-theme--shade">
                    <div class="slds-text-heading--large"><apex:outputText value="{!SurveyForce__c.Survey_Header__c}" escape="false" /> </div>
                    <apex:outputPanel rendered="{!SurveyForce__c.Hide_Survey_Name__c == false}">
                        <div class="slds-text-heading--medium">{!SurveyForce__c.Name}</div>
                    </apex:outputPanel>
                </div>
            </apex:outputPanel>


            <script>
                $(document).ready(function(){
                    overridePageMessages();
                });
            </script>


            <apex:pageMessages />
            
            <c:uiMessage severity="success" message="{!surveyThankYouText}" renderMe="{!thankYouRendered == true}" />

            <apex:outputPanel rendered="{!thankYouRendered == false}">
                <div class="slds-form--stacked">
                    <apex:repeat value="{!allQuestions}" var="qPreview" id="aQPreview">
                        <div class="slds-box slds-theme--default">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">
                                        {!qPreview.orderNumber + ': ' + qPreview.question}
                                        <apex:outputText rendered="{! qPreview.required}" value="({!$Label.LABS_SF_Required})" />
                                </label>
                            </div>
                            <apex:outputPanel rendered="{!qPreview.renderSelectRadio}">
                                <apex:selectRadio styleClass="convertToLDS" layout="pageDirection" rendered="{!qPreview.renderSelectRadio}" value="{!qPreview.selectedOption}" >
                                    <apex:selectOptions value="{!qPreview.singleOptions}"/>
                                </apex:selectRadio>
                            </apex:outputPanel>

                            <apex:outputPanel rendered="{!qPreview.renderSelectCheckboxes}">
                                <apex:selectCheckboxes styleClass="convertToLDS" layout="pageDirection" rendered="{!qPreview.renderSelectCheckboxes}" value="{!qPreview.selectedOptions}" >
                                    <apex:selectOptions value="{!qPreview.multiOptions}"/>
                                </apex:selectCheckboxes>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!qPreview.renderFreeText}">
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control" >
                                        <apex:inputTextArea styleClass="slds-textarea" cols="" rows="{!qPreview.noOfRowsForTextArea}" rendered="{!qPreview.renderFreeText}" value="{!qPreview.choices}"/>
                                    </div>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!qPreview.renderSelectRow}">
                                <apex:selectRadio styleClass="convertToLDS" rendered="{!qPreview.renderSelectRow}" value="{!qPreview.selectedOption}">
                                    <apex:selectOptions value="{!qPreview.rowOptions}"/>
                                </apex:selectRadio>
                            </apex:outputPanel>
                        </div>
                    </apex:repeat>
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!thankYouRendered == false}">
                <div class="slds-box slds-theme--default">
                    <apex:outputPanel rendered="{!isInternal}" >
                            <span class="slds-text-body--regular">{!$Label.LABS_SF_Answer_as}:</span>
                            <apex:selectRadio styleClass="convertToLDS" value="{!anonymousAnswer}">
                                <apex:selectOptions value="{!anonymousOrUser}" />
                                <apex:actionSupport event="onchange" rerender="hiddenAnonymousAnswer"/>
                            </apex:selectRadio>
                            <apex:inputHidden value="{!anonymousAnswer}" id="hiddenAnonymousAnswer"/>
                            <br />
                    </apex:outputPanel>
                    
                    <apex:commandButton styleClass="slds-button slds-button--brand" action="{!submitResults}" value="{!$Label.LABS_SF_SubmitSurvey}" onclick="submitSurvey();return false;"/>
                    <apex:actionFunction name="executeSubmit" action="{!submitResults}" oncomplete="completeSubmit();" reRender="theForm,seeSurvey"/>

                </div>
            </apex:outputPanel>
        </apex:form>
    </div>
</apex:page>