<apex:page standardController="Opportunity" extensions="VSSOpportunityController">
<html>
<head>
<style>
input[type=text], select, input[type=password],textarea
        {
        background-color: #f6f7ff;
        height: auto;
        margin: 0 auto 0 auto;
        padding:4px 4px 4px 4px;
        border: 1px solid #a8b8d6;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
        }
.a11
        {
        font-size: 12px;
        color: #333333;
        text-decoration: none;
        }
.a10
        {
        font-size: 10px;
        color: #333333;
        text-decoration: none;
        }
.box00
        {
        background: #CCCCCC;
        border-radius: 10px;
        padding: 5px;
        }
.btn_airlined
        {
        background:  #FAFAFA;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        }
.btn_airlined:hover
        {
        background: #FAFAFA;
        text-decoration: none;        
        }      
.btn_airline
        {
        background:  #ffa64d;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        }
.btn_airline:hover
        {
        background: #CCCCCC;
        text-decoration: none;        
        }      
.box10 {
        background: #ffcc99;
        border-radius: 10px;
        padding: 5px;
        }
.btn_airline2
        {
        background:  #ffc61a;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        }
.btn_airline2:hover
        {
        background: #CCCCCC;
        text-decoration: none;        
        }      
.box08 {
        background: #ffe699;
        border-radius: 10px;
        padding: 5px;
        }
.btn_airline3
        {
        background: #ffff00;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        }
.btn_airline3:hover
        {
        background: #CCCCCC;
        text-decoration: none;        
        }     
.box06 {
        background: #ffff66;
        border-radius: 10px;
        padding: 5px;
        }       
.btn_airline4
        {
        background: #2AFF0A;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        }
.btn_airline4:hover
        {
        background: #CCCCCC;
        text-decoration: none;        
        }     
.box04 {
        background: #d9ff66;
        border-radius: 10px;
        padding: 5px;
        }        
.btn_airline5
        {
        background: #B7FAFF;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        padding: 5px;
        cursor:pointer;
        text-align:center;
        }
.btn_airline5:hover
        {
        background: #CCCCCC;
        text-decoration: none;        
        }     
.box04 {
        background: #d9ff66;
        border-radius: 10px;
        padding: 5px;
        }        
.box05 {
        background: #B2DDFF; 
        border-radius: 10px;
        padding: 5px;
        }     
.box02 {
        background: #CCCCCC;   
        border-radius: 10px;
        padding: 5px;
        } 
.link_txt1
        {
        font-size: 12px;
        color: #000000;
        text-decoration: none;
        }
.link_txt1:hover
        {
        font-size: 12px;
        color: #000000;
        text-decoration: none;
        }
.link_txt3
        {
        font-size: 14px;
        color: #000000;
        text-decoration: none;
        font-weight:bold;
        }
.link_txt3:hover
        {
        font-size: 14px;
        color: #000000;
        text-decoration: none;
        font-weight:bold;
        }
.link_txt2
        {
        font-size: 12px;
        color: #000000;
        text-decoration: none;
        }
.btn_menu
        {
        background: #191970;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:0;
        font-size: 16px;
        color: #FFFFFF;
        font-weight: bold;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        text-decoration: none;
        cursor:pointer;
        }
.btn_menu:hover
        {
        background: #FFA500;
        text-decoration: none;        
        color: #000000;
        }
.mainmenu
        {
        background: #EAEAEA;
        border:0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        }
.mainrow1
        {
        font-size: 16px;
        color: #333333;
        text-decoration: none;
        }
.mainrow
        {
        font-size: 16px;
        color: #333333;
        text-decoration: none;
        }
.prosp
        {
        font-size: 18px;
        color: #333333;
        text-decoration: none;
        }
</style>


<!-- PIPELINE -->
<script>
function hide_view(DivId)
{

    document.getElementById(DivId).style.display = 'none';
}

function change_view(ActionId,SalesmanId)
{

    if (ActionId == 'expand')
    {
    
    for (i = 1; i <= 6; i++) {   
    document.getElementById(SalesmanId+'_expand'+ i).style.display = 'block';
    document.getElementById(SalesmanId+'_collapse'+ i).style.display = 'none';
    document.getElementById('btn_collapse_'+SalesmanId).style.display = 'block';
     document.getElementById('btn_expand_'+SalesmanId).style.display = 'none';
    }
    
    }
    
     if (ActionId == 'collapse')
    {
    for (i = 1; i <= 6; i++) {   
    document.getElementById(SalesmanId+'_expand'+ i).style.display = 'none';
    document.getElementById(SalesmanId+'_collapse'+ i).style.display = 'block';
    document.getElementById('btn_collapse_'+SalesmanId).style.display = 'none';
     document.getElementById('btn_expand_'+SalesmanId).style.display = 'block';
 
    }
    }   
    
  
    

}































</script>
</head>
<body>


<div class='prosp'>&nbsp;<br></br><b>VSS Sales Pipeline - Win Clients Value Stream</b></div><br/>&nbsp;

<a href='/apex/VSSWinClients'>Reset View</a>



<table width="1200px" cellspacing="3px" cellpadding="5px" border="0px">
<tr  align="middle" height="60px" class="mainrow1">
<td  class="box00"  width="10%"><b>Region</b><br/><span class="a11"></span></td>
<td  class="box10"  width="15%"><b>Prospecting</b></td>
<td  class="box08"  width="15%"><b>Qualification</b></td>
<td  class="box06"  width="15%"><b>Proposal/Price Quote</b></td>
<td  class="box04"  width="15%"><b>Contract Negotiation</b></td>
<td  class="box05"  width="15%"><b>Closed Won</b></td>
<td  class="box02"  width="15%"><b>Closed Lost</b></td>
</tr>



<!--APC-->
<tr align='center' height='40px' id='RowAPC' class='mainrow'>

<td  class='box00'><span class='prosp'><b>Asia Pacific</b></span><br></br>



<div id='btn_collapse_APC' style='display:none;'><a href='#' onclick="change_view('collapse','APC'); return false;" class='link_txt2'>Collapse &uArr;</a></div>
<div id='btn_expand_APC'><a href='#' onclick="change_view('expand','APC'); return false;" class='link_txt2'>Expand &dArr;</a></div>     




<div ><a href='#' onclick="hide_view('RowAPC'); return false;" class='link_txt2'>Hide &#8690;</a></div>




</td>

<td  class="box10"><div id="APC_expand1"  style="display:none;">
<apex:dataTable value="{!deals_APC_1}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>        


<div id="APC_collapse1" class='prosp'><b>{!APC_1}</b></div>    



</td>

<td  class="box08">
<div id="APC_expand2"  style="display:none;">
<apex:dataTable value="{!deals_APC_2}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline2">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>    

<div id="APC_collapse2" class='prosp'><b>{!APC_2}</b></div>    


</td>

<td  class="box06"><div id="APC_expand3"  style="display:none;">
<apex:dataTable value="{!deals_APC_3}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline3">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="APC_collapse3" class='prosp'><b>{!APC_3}</b></div>    


</td>

<td  class="box04"> 
<div id="APC_expand4"  style="display:none;">
<apex:dataTable value="{!deals_APC_4}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline4">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>



</apex:dataTable>
</div>     

<div id="APC_collapse4" class='prosp'><b>{!APC_4}</b></div>    


</td>

<td  class="box05">  
<div id="APC_expand5"  style="display:none;">
<apex:dataTable value="{!deals_APC_5}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline5">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="APC_collapse5" class='prosp'><b>{!APC_5}</b></div>    

</td>
<td  class="box02">
<div id="APC_expand6"  style="display:none;">
<apex:dataTable value="{!deals_APC_6}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airlined">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>

<div id="APC_collapse6" class='prosp'><b>{!APC_6}</b></div>    


</td>
</tr>
<!------------------------------------------------------ END APC-->








<!--CHI-->
<tr align='center' height='40px' id='RowCHI' class='mainrow'>

<td  class='box00'><span class='prosp'><b>China</b></span><br></br>



<div id='btn_collapse_CHI' style='display:none;'><a href='#' onclick="change_view('collapse','CHI'); return false;" class='link_txt2'>Collapse &uArr;</a></div>
<div id='btn_expand_CHI'><a href='#' onclick="change_view('expand','CHI'); return false;" class='link_txt2'>Expand &dArr;</a></div>     




<div ><a href='#' onclick="hide_view('RowCHI'); return false;" class='link_txt2'>Hide &#8690;</a></div>




</td>

<td  class="box10"><div id="CHI_expand1"  style="display:none;">
<apex:dataTable value="{!deals_CHI_1}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>        


<div id="CHI_collapse1" class='prosp'><b>{!CHI_1}</b></div>    



</td>

<td  class="box08">
<div id="CHI_expand2"  style="display:none;">
<apex:dataTable value="{!deals_CHI_2}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline2">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>    

<div id="CHI_collapse2" class='prosp'><b>{!CHI_2}</b></div>    


</td>

<td  class="box06"><div id="CHI_expand3"  style="display:none;">
<apex:dataTable value="{!deals_CHI_3}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline3">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="CHI_collapse3" class='prosp'><b>{!CHI_3}</b></div>    


</td>

<td  class="box04"> 
<div id="CHI_expand4"  style="display:none;">
<apex:dataTable value="{!deals_CHI_4}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline4">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>     

<div id="CHI_collapse4" class='prosp'><b>{!CHI_4}</b></div>    


</td>

<td  class="box05">  
<div id="CHI_expand5"  style="display:none;">
<apex:dataTable value="{!deals_CHI_5}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline5">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="CHI_collapse5" class='prosp'><b>{!CHI_5}</b></div>    

</td>
<td  class="box02">
<div id="CHI_expand6"  style="display:none;">
<apex:dataTable value="{!deals_CHI_6}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airlined">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>

<div id="CHI_collapse6" class='prosp'><b>{!CHI_6}</b></div>    


</td>
</tr>
<!------------------------------------------------------ END CHI-->










<!--EUC-->
<tr align='center' height='40px' id='RowEUC' class='mainrow'>

<td  class='box00'><span class='prosp'><b>Europe Central Asia</b></span><br></br>



<div id='btn_collapse_EUC' style='display:none;'><a href='#' onclick="change_view('collapse','EUC'); return false;" class='link_txt2'>Collapse &uArr;</a></div>
<div id='btn_expand_EUC'><a href='#' onclick="change_view('expand','EUC'); return false;" class='link_txt2'>Expand &dArr;</a></div>     




<div ><a href='#' onclick="hide_view('RowEUC'); return false;" class='link_txt2'>Hide &#8690;</a></div>




</td>

<td  class="box10"><div id="EUC_expand1"  style="display:none;">
<apex:dataTable value="{!deals_EUC_1}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>        


<div id="EUC_collapse1" class='prosp'><b>{!EUC_1}</b></div>    



</td>

<td  class="box08">
<div id="EUC_expand2"  style="display:none;">
<apex:dataTable value="{!deals_EUC_2}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline2">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>    

<div id="EUC_collapse2" class='prosp'><b>{!EUC_2}</b></div>    


</td>

<td  class="box06"><div id="EUC_expand3"  style="display:none;">
<apex:dataTable value="{!deals_EUC_3}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline3">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="EUC_collapse3" class='prosp'><b>{!EUC_3}</b></div>    


</td>

<td  class="box04"> 
<div id="EUC_expand4"  style="display:none;">
<apex:dataTable value="{!deals_EUC_4}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline4">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>     

<div id="EUC_collapse4" class='prosp'><b>{!EUC_4}</b></div>    


</td>

<td  class="box05">  
<div id="EUC_expand5"  style="display:none;">
<apex:dataTable value="{!deals_EUC_5}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline5">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="EUC_collapse5" class='prosp'><b>{!EUC_5}</b></div>    

</td>
<td  class="box02">
<div id="EUC_expand6"  style="display:none;">
<apex:dataTable value="{!deals_EUC_6}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airlined">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>

<div id="EUC_collapse6" class='prosp'><b>{!EUC_6}</b></div>    


</td>
</tr>
<!------------------------------------------------------ END EUC-->







<!--MEA-->
<tr align='center' height='40px' id='RowMEA' class='mainrow'>

<td  class='box00'><span class='prosp'><b>Middle East Africa</b></span><br></br>



<div id='btn_collapse_MEA' style='display:none;'><a href='#' onclick="change_view('collapse','MEA'); return false;" class='link_txt2'>Collapse &uArr;</a></div>
<div id='btn_expand_MEA'><a href='#' onclick="change_view('expand','MEA'); return false;" class='link_txt2'>Expand &dArr;</a></div>     




<div ><a href='#' onclick="hide_view('RowMEA'); return false;" class='link_txt2'>Hide &#8690;</a></div>




</td>

<td  class="box10"><div id="MEA_expand1"  style="display:none;">
<apex:dataTable value="{!deals_MEA_1}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>        


<div id="MEA_collapse1" class='prosp'><b>{!MEA_1}</b></div>    



</td>

<td  class="box08">
<div id="MEA_expand2"  style="display:none;">
<apex:dataTable value="{!deals_MEA_2}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline2">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>    

<div id="MEA_collapse2" class='prosp'><b>{!MEA_2}</b></div>    


</td>

<td  class="box06"><div id="MEA_expand3"  style="display:none;">
<apex:dataTable value="{!deals_MEA_3}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline3">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="MEA_collapse3" class='prosp'><b>{!MEA_3}</b></div>    


</td>

<td  class="box04"> 
<div id="MEA_expand4"  style="display:none;">
<apex:dataTable value="{!deals_MEA_4}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline4">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>     

<div id="MEA_collapse4" class='prosp'><b>{!MEA_4}</b></div>    


</td>

<td  class="box05">  
<div id="MEA_expand5"  style="display:none;">
<apex:dataTable value="{!deals_MEA_5}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline5">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="MEA_collapse5" class='prosp'><b>{!MEA_5}</b></div>    

</td>
<td  class="box02">
<div id="MEA_expand6"  style="display:none;">
<apex:dataTable value="{!deals_MEA_6}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airlined">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>

<div id="MEA_collapse6" class='prosp'><b>{!MEA_6}</b></div>    


</td>
</tr>
<!------------------------------------------------------ END MEA-->












<!--SJK-->
<tr align='center' height='40px' id='RowSJK' class='mainrow'>

<td  class='box00'><span class='prosp'><b>SJK</b></span><br></br>



<div id='btn_collapse_SJK' style='display:none;'><a href='#' onclick="change_view('collapse','SJK'); return false;" class='link_txt2'>Collapse &uArr;</a></div>
<div id='btn_expand_SJK'><a href='#' onclick="change_view('expand','SJK'); return false;" class='link_txt2'>Expand &dArr;</a></div>     




<div ><a href='#' onclick="hide_view('RowSJK'); return false;" class='link_txt2'>Hide &#8690;</a></div>




</td>

<td  class="box10"><div id="SJK_expand1"  style="display:none;">
<apex:dataTable value="{!deals_SJK_1}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>        


<div id="SJK_collapse1" class='prosp'><b>{!SJK_1}</b></div>    



</td>

<td  class="box08">
<div id="SJK_expand2"  style="display:none;">
<apex:dataTable value="{!deals_SJK_2}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline2">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>    

<div id="SJK_collapse2" class='prosp'><b>{!SJK_2}</b></div>    


</td>

<td  class="box06"><div id="SJK_expand3"  style="display:none;">
<apex:dataTable value="{!deals_SJK_3}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline3">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="SJK_collapse3" class='prosp'><b>{!SJK_3}</b></div>    


</td>

<td  class="box04"> 
<div id="SJK_expand4"  style="display:none;">
<apex:dataTable value="{!deals_SJK_4}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline4">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>     

<div id="SJK_collapse4" class='prosp'><b>{!SJK_4}</b></div>    


</td>

<td  class="box05">  
<div id="SJK_expand5"  style="display:none;">
<apex:dataTable value="{!deals_SJK_5}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline5">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="SJK_collapse5" class='prosp'><b>{!SJK_5}</b></div>    

</td>
<td  class="box02">
<div id="SJK_expand6"  style="display:none;">
<apex:dataTable value="{!deals_SJK_6}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airlined">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>

<div id="SJK_collapse6" class='prosp'><b>{!SJK_6}</b></div>    


</td>
</tr>
<!------------------------------------------------------ END SJK-->












<!--LAT-->
<tr align='center' height='40px' id='RowLAT' class='mainrow'>

<td  class='box00'><span class='prosp'><b>Latin America</b></span><br></br>



<div id='btn_collapse_LAT' style='display:none;'><a href='#' onclick="change_view('collapse','LAT'); return false;" class='link_txt2'>Collapse &uArr;</a></div>
<div id='btn_expand_LAT'><a href='#' onclick="change_view('expand','LAT'); return false;" class='link_txt2'>Expand &dArr;</a></div>     




<div ><a href='#' onclick="hide_view('RowLAT'); return false;" class='link_txt2'>Hide &#8690;</a></div>




</td>

<td  class="box10"><div id="LAT_expand1"  style="display:none;">
<apex:dataTable value="{!deals_LAT_1}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>        


<div id="LAT_collapse1" class='prosp'><b>{!LAT_1}</b></div>    



</td>

<td  class="box08">
<div id="LAT_expand2"  style="display:none;">
<apex:dataTable value="{!deals_LAT_2}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline2">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>    

<div id="LAT_collapse2" class='prosp'><b>{!LAT_2}</b></div>    


</td>

<td  class="box06"><div id="LAT_expand3"  style="display:none;">
<apex:dataTable value="{!deals_LAT_3}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline3">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="LAT_collapse3" class='prosp'><b>{!LAT_3}</b></div>    


</td>

<td  class="box04"> 
<div id="LAT_expand4"  style="display:none;">
<apex:dataTable value="{!deals_LAT_4}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline4">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>     

<div id="LAT_collapse4" class='prosp'><b>{!LAT_4}</b></div>    


</td>

<td  class="box05">  
<div id="LAT_expand5"  style="display:none;">
<apex:dataTable value="{!deals_LAT_5}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline5">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="LAT_collapse5" class='prosp'><b>{!LAT_5}</b></div>    

</td>
<td  class="box02">
<div id="LAT_expand6"  style="display:none;">
<apex:dataTable value="{!deals_LAT_6}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airlined">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>

<div id="LAT_collapse6" class='prosp'><b>{!LAT_6}</b></div>    


</td>
</tr>
<!------------------------------------------------------ END LAT-->









<!--NAM-->
<tr align='center' height='40px' id='RowNAM' class='mainrow'>

<td  class='box00'><span class='prosp'><b>North America</b></span><br></br>



<div id='btn_collapse_NAM' style='display:none;'><a href='#' onclick="change_view('collapse','NAM'); return false;" class='link_txt2'>Collapse &uArr;</a></div>
<div id='btn_expand_NAM'><a href='#' onclick="change_view('expand','NAM'); return false;" class='link_txt2'>Expand &dArr;</a></div>     




<div ><a href='#' onclick="hide_view('RowNAM'); return false;" class='link_txt2'>Hide &#8690;</a></div>




</td>

<td  class="box10"><div id="NAM_expand1"  style="display:none;">
<apex:dataTable value="{!deals_NAM_1}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>        


<div id="NAM_collapse1" class='prosp'><b>{!NAM_1}</b></div>    



</td>

<td  class="box08">
<div id="NAM_expand2"  style="display:none;">
<apex:dataTable value="{!deals_NAM_2}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline2">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>    

<div id="NAM_collapse2" class='prosp'><b>{!NAM_2}</b></div>    


</td>

<td  class="box06"><div id="NAM_expand3"  style="display:none;">
<apex:dataTable value="{!deals_NAM_3}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline3">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="NAM_collapse3" class='prosp'><b>{!NAM_3}</b></div>    


</td>

<td  class="box04"> 
<div id="NAM_expand4"  style="display:none;">
<apex:dataTable value="{!deals_NAM_4}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline4">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>     

<div id="NAM_collapse4" class='prosp'><b>{!NAM_4}</b></div>    


</td>

<td  class="box05">  
<div id="NAM_expand5"  style="display:none;">
<apex:dataTable value="{!deals_NAM_5}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airline5">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>  

<div id="NAM_collapse5" class='prosp'><b>{!NAM_5}</b></div>    

</td>
<td  class="box02">
<div id="NAM_expand6"  style="display:none;">
<apex:dataTable value="{!deals_NAM_6}" var="deal" rowClasses="odd,even" styleClass="tableClass" cellpadding="3"  cellspacing="3">
<apex:column styleClass="btn_airlined">            
<apex:outputLink value="/{!deal.id}" target="_blank" styleClass="link_txt1">
<span class='link_txt3'>{!deal.Account.Name}</span><br></br>
${!ROUND((deal.Amount/1000000), 2)} M<br></br>
<span class='a10'>{!deal.RecordType.Name} {!deal.Product__c}</span></apex:outputLink>
</apex:column>
</apex:dataTable>
</div>

<div id="NAM_collapse6" class='prosp'><b>{!NAM_6}</b></div>    


</td>
</tr>
<!------------------------------------------------------ END NAM-->









</table>
</body>
</html>
</apex:page>