/* IDs */

#nav-title{
    font-size: 26px;
}

#button-header:hover{
    color: black;
}

/* Classes */

.eocScreen{
    background: #fff !important;
}

.thead-dark{
    background: #d9d9d9;
    color:#d9d9d9;
}

.box-shadow{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content{
    min-height: 100vh;
}

.link-name:hover{
    text-decoration: none;
}

.centralizado {
    margin: 0 auto;
    float: none;
}

.table-cell-center {
	vertical-align: middle;
}

.indicator-low-off{
    background-color: #5cb85c;
    opacity: 0.1;
}

.indicator-medium-off{
    background-color: #f0ad4e;
    opacity: 0.1;
}

.indicator-high-off{
    background-color: #d9534f;
    opacity: 0.1;
}

.indicator-low{
    background-color: #c2ebab;
}

.indicator-medium{
    background-color: #f7eda3;
}

.indicator-high{
    background-color: #f7a3a3;
}


.opacity-low{
    opacity: 0.3;
}

.opacity-medium{
    background-color: #f0ad4e;
    opacity: 0.5;
}

.opacity-high{
    background-color: #d9534f;
    opacity: 0.6;
}
.opacity-full{
    background-color: #d9534f;
    opacity: 1;
}

.scroll-110 {
    max-height: 190px;
    overflow-y: auto;
}

.scroll-120 {
    max-height: 120px;
    overflow-y: auto;
}

.card-info-active:hover{
    opacity: 0.85;
}

.link-button:hover{
    background-color: white;
}

/* Responsive */

@media screen and (min-width: 450px) {
	.nav-link-custom{
        font-size: 16px;
    }
}

@media screen and (max-width: 449px) {
	.nav-link-custom{
        font-size: 14px;
    }
}

@media screen and (max-width: 399px) {
	.nav-link-custom{
        font-size: 12px;
    }
}

@media screen and (max-width: 349px) {
	.nav-link-custom{
        font-size: 10px;
    }
}

@media screen and (max-width: 991px) {
    .table-desktop {
    	display: none;
	}
    
    .text-indicator {
        font-size: 14px;
    }
    
    .company-name {
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
	.card-mobile {
    	display: none;
	}
}
