
<!-- CSS style for 3311 form-->

.FormLabels

 {
    	   position:relative;
		   right:1;
           text-align: center;
           font-size: 200px;
           font-weight: bold;

}


input {
    border-radius: 10px;
    width:220px;
    height:20px;
    
}
commandButton {
    border-radius: 10px;
    width:10px;
    height:30px;
    
}


p {
    
    font-size: 30px;
    color: red;

}

.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:center;width:auto;border:none;display:block;outline:0}














   

        