* {
  margin: 0;
  padding: 0;
}

body {
    background: f1f1f1;
}
#myClass {
    color : blue;
}
.bg-emb-blue{
    background: #100690;
    
}
.bg-emb-gray1{
    background: #f1f1f1;
}

.emb-gray3{
    color: #5C6C74;
}
.emb-white{
    color: #FFFFFF;
}
.h-divider{

 height:1px;
 width:100%;
 border-top:1px solid lightgray;
}

a:link{
    color: #FFFFFF !important;
}
.t1{
    font-size: 22px;
}
.t2{
    font-size: 20px;
}