﻿    th {
        color: black;
    }

    .panel-heading {
        background-color: #033c73;
        color: white;
        padding-top:2px;
        padding-bottom:2px;
        padding-left:5px;
    }
    .modal-lg {
    width: 100%;
   max-width:1630px;
  }

    .modal-md{
        width: 120%;
   max-width:1000px;
    }
    
    .form-horizontal .form-group{
        margin-left:0;
        margin-right:0;
    }
    tr, .panel-body{
        font-size:14px;
       
    }
