/* Normalize CSS
---------------------------------------------------------------------------- */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Cores
---------------------------------------------------------------------------- */
/* Estilos gerais
---------------------------------------------------------------------------- */
body {
  font-family: Arial;
  font-size: 14px;
  overflow-x: hidden; }

h1, h2, h3, p {
  margin-top: 0px;
  padding-top: 0px; }

a {
  color: #1076b9; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* Versao mobile
---------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #website header {
    padding-top: 25px; }
    #website header div {
      margin-bottom: 20px; }
      #website header div h1 {
        color: #686868;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px; }
      #website header div p.flyembraer {
        float: left;
        width: 160px;
        margin-left: 20px; }
      #website header div p.commercial {
        float: right;
        width: 100px;
        margin: 5px 20px 0px 0px; }
      #website header div img {
        width: 100%;
        height: auto; }
    #website header nav {
      width: 100%; }
      #website header nav ul {
        clear: both;
        width: 100%;
        padding: 0px;
        list-style: none; }
        #website header nav ul li#calendario {
          display: none; }
        #website header nav ul li a {
          display: block;
          box-sizing: border-box;
          float: left;
          width: 25%;
          line-height: 40px;
          margin: 0px;
          background-color: #01527f;
          border: 1px solid #004972;
          font-family: "Open Sans Light";
          text-decoration: none;
          text-transform: uppercase;
          font-style: normal;
          font-size: 16px;
          text-align: center;
          color: #fff; }
          #website header nav ul li a span {
            display: block;
            font-size: 10px; }
    #website header p.imgcapa img {
      position: relative;
      top: 0px;
      left: -15%;
      width: 150%;
      height: auto; }
  #website section {
    clear: both;
    position: relative;
    min-height: 200px;
    padding-top: 50px; }
    #website section h2 {
      z-index: 0;
      width: 100px;
      margin: 0px auto 20px auto;
      padding: 20px;
      font-size: 16px;
      font-weight: lighter;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #1076b9;
      background-color: #fff; }
      #website section h2:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 76px;
        left: -50%;
        width: 200%;
        height: 2px;
        background-color: #ffba00; }
    #website section > div {
      width: 304px;
      margin: 0px auto; }
      #website section > div article {
        float: left;
        width: 140px;
        height: 305px;
        margin: 0px 10px 20px 0px;
        border: 1px solid #c0c0c0;
        background-color: #fff; }
        #website section > div article img {
          width: 140px;
          height: 102px; }
        #website section > div article div {
          padding: 0px 10px 10px 10px; }
          #website section > div article div h3 {
            margin-bottom: 20px;
            height: 55px;
            font-size: 13px;
            color: #1076b9; }
          #website section > div article div p.data {
            font-weight: bold; }
          #website section > div article div p {
            color: #595959;
            font-size: 12px;
            margin-bottom: 5px; }
          #website section > div article div p.link {
            margin-top: 10px; }
  #website > p {
    clear: both;
    position: absolute;
    top: 800px;
    right: 10px; }
    #website > p a {
      display: block;
      width: 42px;
      height: 42px;
      background-image: url(../imagens/back.png);
      background-repeat: no-repeat; }
      #website > p a span {
        display: none; }

  footer {
    width: 100%;
    height: 100px;
    background: #fff;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #e2e2e2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #e2e2e2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #e2e2e2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #e2e2e2);
    /* Standard syntax */ } }
/* Versao desktop
---------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .container, #website header div, #website section h2, #website section > div {
    width: 980px;
    margin-left: auto;
    margin-right: auto; }

  #website header {
    margin-bottom: 30px; }
    #website header div {
      position: relative;
      height: 130px; }
      #website header div h1 {
        position: absolute;
        top: 25px;
        left: 200px;
        padding-left: 30px;
        border-left: 1px solid #c0c0c0;
        color: #686868;
        line-height: 28px;
        font-size: 18px; }
      #website header div p.flyembraer {
        position: absolute;
        top: 25px;
        left: 10px; }
      #website header div p.commercial {
        position: absolute;
        top: 20px;
        right: 20px; }
    #website header nav {
      position: absolute;
      top: 80px;
      left: 0px;
      width: 100%; }
      #website header nav ul {
        z-index: 9999;
        width: 100%;
        height: 50px;
        padding: 0px;
        margin: 0px;
        list-style: none;
        background-color: #01527f;
        text-align: center; }
        #website header nav ul.fixo {
          position: fixed;
          top: 0px;
          left: 0px; }
        #website header nav ul li {
          display: inline-block;
          vertical-align: top; }
          #website header nav ul li a {
            display: block;
            width: 70px;
            line-height: 50px;
            font-family: "Open Sans Light";
            text-decoration: none;
            text-transform: uppercase;
            font-style: normal;
            font-size: 16px;
            color: #fff; }
            #website header nav ul li a.nav-active {
              background-color: #01a3f8; }
            #website header nav ul li a img {
              display: inline-block;
              width: 24px;
              margin-top: -5px;
              vertical-align: middle; }
    #website header p img {
      width: 100%;
      height: auto; }
  #website section {
    clear: both;
    position: relative;
    min-height: 200px;
    padding-top: 50px; }
    #website section h2 {
      width: 130px;
      z-index: 0;
      padding: 20px;
      font-size: 18px;
      font-weight: lighter;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #1076b9;
      background-color: #fff; }
      #website section h2:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 76px;
        left: -50%;
        width: 200%;
        height: 2px;
        background-color: #ffba00; }
    #website section > div article {
      float: left;
      width: 220px;
      height: 320px;
      margin: 0px 20px 30px 0px;
      border: 1px solid #c0c0c0;
      background-color: #fff; }
      #website section > div article img {
        width: 220px;
        height: 160px; }
      #website section > div article div {
        padding: 0px 15px 10px 15px; }
        #website section > div article div h3 {
          margin-bottom: 20px;
          font-size: 12px;
          color: #1076b9; }
        #website section > div article div p.data {
          font-weight: bold; }
        #website section > div article div p {
          color: #595959;
          font-size: 12px;
          margin-bottom: 0px; }
        #website section > div article div p.link {
          margin-top: 15px; }
  #website > p {
    clear: both;
    position: absolute;
    top: 800px;
    right: 0px; }
    #website > p a {
      display: block;
      float: right;
      box-sizing: border-box;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin-right: 50px;
      padding-top: 58px;
      background-image: url(../imagens/back.png);
      background-position: 25px 14px;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 15px #dfdfdf;
      background-color: #fff;
      font-size: 10px;
      text-align: center;
      color: #1076b9; }

  footer {
    width: 100%;
    height: 200px;
    background: #fff;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #e2e2e2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #e2e2e2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #e2e2e2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #e2e2e2);
    /* Standard syntax */ } }

/*# sourceMappingURL=estilos.css.map */
