.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }

body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,select,textarea,.list-group {
    max-width: 280px;
}

.list-group-item{
    font-size:smaller;
    font-weight:bold;
    padding:5px 10px;
}

div.panel-default{
    margin-top:10px;
}
div.panel-body{
    padding-bottom:0;
}

div.panel-heading, tr.info{
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}