html, body {
  margin: 0;
  padding: 0.25em;
  color: #5C6C74;
  font-family: "Trebuchet MS" !important;
}

body {
    background-repeat: no-repeat;
  	background: linear-gradient(to bottom, #100890 5%, #018F97 95%) fixed;  
}

.line-separator {
    display: block;
    padding: 0 auto;
    margin: 0 auto;
    width: 100%;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.img-logo-flight {
    width: 60%;
}

.img-logo {
    width: 15%;
}

.text-bold  {
    font-weight: 700;
    margin: 0.25rem;
}

.text-white {
    font-style: italic;
    color: #FFFFFF;
    margin-right: .75rem;
}

.text-title {
    font-size: 1rem;
	color: rgb(112, 110, 107);
    font-style: bold;
}

.text-medium {
    font-size: 0.875rem;
    color: rgb(112, 110, 107);
}

.button {
    background: linear-gradient(to bottom, rgba(16,8,144,1), rgba(1,143,151,1));
}

.modal-dialog {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-dialog {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
}

.ui-dialog-titlebar {
    color: #FFF;
    margin-bottom: 0;
    /*line-height: 1.5;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem;
}

.ui-dialog-buttonset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    padding: .5rem;
    margin-right: .25rem;
}

.ui-button {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    align-items: flex-start;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    padding: .3rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: .5rem;
}

.ui-dialog-titlebar.error-dialog, .ui-button.error-dialog {
    background-color: #CE2D2A;
}

.ui-dialog-titlebar.success-dialog, .ui-button.success-dialog {
    background-color: #28A745;
}

.ui-dialog-titlebar.confirm-dialog, .ui-button.confirm-dialog {
    background: linear-gradient(to bottom, rgba(16,8,144,1), rgba(1,143,151,1));
}

.card-header {
    color: #009898;
    background-color: transparent;
}

.card {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
