tr, .panel-body{
    
    font-size:12px;
    vertical-align: text-top;
}
td, .table th {
    text-align: center;
}

td {
    max-width: 100%;
    white-space: nowrap;
    vertical-align: text-top;
}

tfoot{
    background-color:lightsteelblue;
    font-weight:bold;
    
}

thead{
    background-color:#0f2071;
    font-weight:300;
    color:ghostwhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: text-top;
}

.quick-search {
  position: fixed;
  z-index:1;
  width:200px;
  height:60px;
  top: 2px;
  right:30px;
  border-radius: 4px;
  background-color:lightsteelblue;
  opacity:0.7;
  font-size:12px;
  
}

.quick-search-input{
    width:130px;
    margin-top:10px;
    margin-left:7px;
    margin-right:3px;
    height:20px;
}

.quick-search-button{
    margin-left:2px;
}

.quick-search-message{
    position: fixed;
  	z-index:1;
  	top: 70px;
  	background-color:red;
    color:white;
    font-size: large;
    border-radius: 4px;
    padding: 5px;
  	opacity:0.9;
}

.inline-label{
 display: inline-block;
}

.panel-heading{
    text-align:center;
    font-weight:bold;
    font-family:Verdana;
}

.search-row-highlighted{
    margin:5px;
    background-color:lightsteelblue;
}

.clickable-row{
    cursor: pointer;
    
}

.table-wrapper-scroll{
    display: block; 
    max-height: 680px; 
    overflow-y:auto; 
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    margin-bottom:20px;
    margin-left:20px;
}
