.THIS{
    display:flex;
    flex-direction: column;
    background-color: RGB(0, 79, 161);
    width:100vw;
    min-width: 50px;
    white-space: nowrap;
    position: fixed;
}
.THIS #nav-toggle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: RGB(0, 79, 161);
    width: 50px;
}
.THIS .logo {
    max-height: 50px;
}
.THIS .item-label{
    font-size: 1.2em;
    line-height: 1.2;
    color: white;
}
.THIS .item-icon {
    margin-right: 1.5%;
}
.THIS .nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid white;
    padding: 20px;
}
.THIS .default-items {
    justify-content: space-between;
} 
.THIS ul .nav-item{   
    background-color:RGB(30, 49, 55);
}
.THIS ul .nav-item:hover{
    background-color:RGB(16,6,144);
}
.THIS .default-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: RGB(0, 79, 161);
}
.THIS .default-items .item-label{
    visibility: hidden;
}
.THIS .menu-inactive {
    display: None;
}
.THIS .menu-active{
    display: column;
    visibility: visible;
}
@media only screen and (min-width: 1024px) {
    .THIS{
        height: 100%;
        background-color:RGB(30, 49, 55);
        width:auto;
    }
    .THIS nav {
        display: flex;
        flex-direction: row;
    }
    .THIS .logo {
        display: None;
        visibility: hidden;
    }
    .THIS .nav-item{
        justify-content: flex-start;
        height: 30.9023px;
    }
    .THIS .menu-inactive {
        display: inline;
        visibility: visible;
    }
    .THIS .default-items .item-label{
        visibility: visible;
    }
    .THIS .item-label.inactive{
        display: None;
    }
    .THIS .item-icon {
        margin-right: 6%;
    }
    .THIS #nav-toggle{
        width: 100%;
    }    
}