.THIS .slds-card__header {
  margin: 0px;
  padding: 0px 0px 0px 0.2em;
}

.THIS .uiOutputText {
  font-size: 18px !important;
  font-weight: 600;
}

.THIS .slds-grid .slds-col input,
.THIS .slds-grid .slds-col .slds-rich-text-editor {
  margin-bottom: 0.5em !important;
}

.THIS .slds-col:first-of-type {
  padding-right: 1.5em;
}

.THIS .slds-col:last-of-type {
  padding-left: 1.5em;
}

.THIS .slds-card__body {
  margin-bottom: 0px !important;
}

.THIS .right {
  float: right;
}

.THIS .none {
  display: none;
}

.THIS .save-message {
  color: #888;
  font-size: 14px;
  opacity: 0;
  animation: fade-animation 8s;
  float: right;
  margin: 1.25em;
}

@keyframes fade-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}