@font-face {
    color: rgb(92, 108, 116);
    font-family: "GT America";
    font-style: normal;  
    font-weight: normal;
    letter-spacing: 0.1em; 
    line-height: 50px;
    src: 
         url(/resource/GTAmericaLight) format("opentype");
}
.THIS {
    display:flex;
    align-items: stretch;
    flex-direction:column;
    background-color:#f2f2f2;
    box-sizing:border-box;
    /*font-size: 3ex;*/
    font-size: 15px;
    margin:0;
    padding:0;
    font-family:"GT America";
    min-height: 100vh;
}
.THIS *{
    font-family:"GT America";
}
.THIS h1,.THIS h2,.THIS h3,.THIS h4 {
	text-align: left;
}
.THIS h1, .THIS h2, .THIS h3 {
    font-size: 1.618em;
}
.THIS h2,.THIS h4 {
	color: RGB(0, 152, 152);
}
.THIS h4 {
    font-weight: bold;
}
.THIS header{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
	margin-bottom: 3vh; 
    margin-top: calc(30.9023px + 7vh);
}
.THIS header > .user_info_container{
    margin-bottom: 7%; 
    order: 2;
}    
.THIS header > .search_bar_container{
    margin: 0px 5% 0px; 
    order: 3;
    width: inherit;
}
.THIS .content {
    min-width: 90vw;
    margin: 0px 2vw 5vw;
}
.THIS .navbar-container{
    z-index: 2147483647;
    top: 0px;
    position: fixed;
}
@media only screen and (min-width: 1024px) {
    .THIS {
        flex-direction:row;
    }
    .THIS header{ 
        justify-content: center;
        height: 75px;
        display: inline-grid;
        justify-items: center; 
        grid-template-columns: 28.571%  42.857% 28.571%;
        margin-top: 0px;
    }
    .THIS header > .user_info_container{
        margin-bottom: 0px; 
    }   
    .THIS header > .search_bar_container{
        order: 2;
        margin:0px;
    }
    .THIS .logo-container {
        height: 100px;
        width: 300px;
        background-image: token('url(' + brandLogoImage  + ')');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 98;
        cursor: pointer;
    }
    .THIS .navbar-container{
        position: static;
    }
    .THIS .content {
        margin-left: calc(50px + 2vw);
    }
}