.THIS {
   background-color: #B2EBF2;
   font-weight: bold;   
   background-image: url(/resource/cloud_image);
   background-repeat:no-repeat;
   background-size:cover;
}

.THIS .border-style{
    border-radius: 8px;
    background-color: rgba(255,255,255,0.8);
    margin: 10px;
    padding: 10	px;
    height: 150px;
}

.THIS .slds-badge{
    background-color: #B2EBF2;
}



.THIS .custom-badge{
    border-radius: 3px;
    border-color: white;
    margin: 15px;
}

.THIS .indicator-heading{
    font-weight: bold;
}